{% extends "backend/base.html" %}
{% load floppyforms i18n sekizai_tags %}

{% block title %}{% translate "Import teachers" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-doc-new"></i>&nbsp;&nbsp;{% translate "Import teachers" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
  {% include "backend/teacher/form.html" %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large">{% translate 'Import teachers' %}</button>
      &nbsp;
      <a href="{% url 'backend:teacher-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </div>
</form>

{% endblock content %}
