
.icon-group:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-cogs:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-torso:before { content: '\e807'; } /* '' */
.icon-credit-card:before { content: '\e808'; } /* '' */
.icon-child:before { content: '\e809'; } /* '' */
.icon-dribbble:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-ok-circled2:before { content: '\e811'; } /* '' */
.icon-cancel-circled2:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-minus-circled:before { content: '\e816'; } /* '' */
.icon-help:before { content: '\e817'; } /* '' */
.icon-video:before { content: '\e818'; } /* '' */
.icon-star-circled:before { content: '\e819'; } /* '' */
.icon-mail-circled:before { content: '\e81a'; } /* '' */
.icon-picture:before { content: '\e81b'; } /* '' */
.icon-lock:before { content: '\e81c'; } /* '' */
.icon-lock-open:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-eye-off:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-tags:before { content: '\e821'; } /* '' */
.icon-bookmark:before { content: '\e822'; } /* '' */
.icon-bookmark-empty:before { content: '\e823'; } /* '' */
.icon-thumbs-up:before { content: '\e824'; } /* '' */
.icon-thumbs-down:before { content: '\e825'; } /* '' */
.icon-download-alt:before { content: '\e826'; } /* '' */
.icon-pencil:before { content: '\e827'; } /* '' */
.icon-comment:before { content: '\e828'; } /* '' */
.icon-comment-alt:before { content: '\e829'; } /* '' */
.icon-folder-open:before { content: '\e82a'; } /* '' */
.icon-doc:before { content: '\e82b'; } /* '' */
.icon-export:before { content: '\e82c'; } /* '' */
.icon-phone:before { content: '\e82d'; } /* '' */
.icon-rss:before { content: '\e82e'; } /* '' */
.icon-basket:before { content: '\e82f'; } /* '' */
.icon-move:before { content: '\e830'; } /* '' */
.icon-resize-full:before { content: '\e831'; } /* '' */
.icon-resize-full-alt:before { content: '\e832'; } /* '' */
.icon-resize-small:before { content: '\e833'; } /* '' */
.icon-resize-vertical:before { content: '\e834'; } /* '' */
.icon-resize-horizontal:before { content: '\e835'; } /* '' */
.icon-zoom-in:before { content: '\e836'; } /* '' */
.icon-zoom-out:before { content: '\e837'; } /* '' */
.icon-down-open:before { content: '\e838'; } /* '' */
.icon-left-open:before { content: '\e839'; } /* '' */
.icon-right-open:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-down:before { content: '\e83c'; } /* '' */
.icon-left:before { content: '\e83d'; } /* '' */
.icon-right:before { content: '\e83e'; } /* '' */
.icon-up:before { content: '\e83f'; } /* '' */
.icon-arrows-cw:before { content: '\e840'; } /* '' */
.icon-cw:before { content: '\e841'; } /* '' */
.icon-target:before { content: '\e842'; } /* '' */
.icon-inbox:before { content: '\e843'; } /* '' */
.icon-credit-card-1:before { content: '\e844'; } /* '' */
.icon-euro:before { content: '\e845'; } /* '' */
.icon-pound:before { content: '\e846'; } /* '' */
.icon-dollar:before { content: '\e847'; } /* '' */
.icon-bus:before { content: '\e848'; } /* '' */
.icon-cab:before { content: '\e849'; } /* '' */
.icon-tasks:before { content: '\e84a'; } /* '' */
.icon-clock:before { content: '\e84b'; } /* '' */
.icon-hourglass:before { content: '\e84c'; } /* '' */
.icon-soccer-ball:before { content: '\e84d'; } /* '' */
.icon-print:before { content: '\e84e'; } /* '' */
.icon-edit:before { content: '\e84f'; } /* '' */
.icon-quote:before { content: '\e850'; } /* '' */
.icon-share:before { content: '\e851'; } /* '' */
.icon-download:before { content: '\e852'; } /* '' */
.icon-upload:before { content: '\e853'; } /* '' */
.icon-warning:before { content: '\e854'; } /* '' */
.icon-bell:before { content: '\e855'; } /* '' */
.icon-exclamation:before { content: '\e856'; } /* '' */
.icon-error:before { content: '\e857'; } /* '' */
.icon-location:before { content: '\e858'; } /* '' */
.icon-compass:before { content: '\e859'; } /* '' */
.icon-trash:before { content: '\e85a'; } /* '' */
.icon-doc-new:before { content: '\e85b'; } /* '' */
.icon-folder:before { content: '\e85c'; } /* '' */
.icon-lightbulb:before { content: '\e85d'; } /* '' */
.icon-leaf:before { content: '\e85e'; } /* '' */
.icon-off:before { content: '\e85f'; } /* '' */
.icon-check:before { content: '\e860'; } /* '' */
.icon-gift:before { content: '\e861'; } /* '' */
.icon-chart:before { content: '\e862'; } /* '' */
.icon-key:before { content: '\e863'; } /* '' */
.icon-tasks-1:before { content: '\e864'; } /* '' */
.icon-male:before { content: '\e865'; } /* '' */
.icon-female:before { content: '\e866'; } /* '' */
.icon-accessibility:before { content: '\e867'; } /* '' */
.icon-blind:before { content: '\e868'; } /* '' */
.icon-guidedog:before { content: '\e869'; } /* '' */
.icon-gauge:before { content: '\e86a'; } /* '' */
.icon-address-book:before { content: '\e86b'; } /* '' */
.icon-adult:before { content: '\e86c'; } /* '' */
.icon-globe:before { content: '\e86d'; } /* '' */
.icon-award:before { content: '\e86e'; } /* '' */
.icon-scissors:before { content: '\e86f'; } /* '' */
.icon-crop:before { content: '\e870'; } /* '' */
.icon-sort:before { content: '\e871'; } /* '' */
.icon-sort-down:before { content: '\e872'; } /* '' */
.icon-sort-up:before { content: '\e873'; } /* '' */
.icon-sort-alt-up:before { content: '\e874'; } /* '' */
.icon-sort-alt-down:before { content: '\e875'; } /* '' */
.icon-sort-name-up:before { content: '\e876'; } /* '' */
.icon-sort-name-down:before { content: '\e877'; } /* '' */
.icon-sort-number-up:before { content: '\e878'; } /* '' */
.icon-sort-number-down:before { content: '\e879'; } /* '' */
.icon-hammer:before { content: '\e87a'; } /* '' */
.icon-sitemap:before { content: '\e87b'; } /* '' */
.icon-rebel:before { content: '\e87c'; } /* '' */
.icon-graduation-cap:before { content: '\e87d'; } /* '' */
.icon-tree:before { content: '\e87e'; } /* '' */
.icon-bomb:before { content: '\e87f'; } /* '' */
.icon-cc:before { content: '\e880'; } /* '' */
.icon-cc-visa:before { content: '\e881'; } /* '' */
.icon-cc-mastercard:before { content: '\e882'; } /* '' */
.icon-cc-discover:before { content: '\e883'; } /* '' */
.icon-cc-amex:before { content: '\e884'; } /* '' */
.icon-cc-paypal:before { content: '\e885'; } /* '' */
.icon-menu:before { content: '\e886'; } /* '' */
.icon-angle-double-left:before { content: '\e887'; } /* '' */
.icon-angle-double-right:before { content: '\e888'; } /* '' */
.icon-angle-double-up:before { content: '\e889'; } /* '' */
.icon-angle-double-down:before { content: '\e88a'; } /* '' */
.icon-angle-left:before { content: '\e88b'; } /* '' */
.icon-angle-right:before { content: '\e88c'; } /* '' */
.icon-angle-up:before { content: '\e88d'; } /* '' */
.icon-angle-down:before { content: '\e88e'; } /* '' */
.icon-up-dir:before { content: '\e88f'; } /* '' */
.icon-left-dir:before { content: '\e890'; } /* '' */
.icon-right-dir:before { content: '\e891'; } /* '' */
.icon-down-dir:before { content: '\e892'; } /* '' */
.icon-down-1:before { content: '\e893'; } /* '' */
.icon-left-1:before { content: '\e894'; } /* '' */
.icon-right-1:before { content: '\e895'; } /* '' */
.icon-up-1:before { content: '\e896'; } /* '' */
.icon-bicycle:before { content: '\e897'; } /* '' */