{% extends "mailer/preview.html" %}
{% load i18n %}

{% block mail_nav %}
  <h5 class="text-center">
    {% if has_prev %}
      <a href="?number={{ prev }}" title="{% translate 'Previous email' %}"><i class=" icon-left-dir"></i></a>
    {% endif %}
    {% blocktranslate with identifier=mailidentifier total=total %}Message {{ identifier }} / {{ total }}{% endblocktranslate %}
    {% if has_next %}
      <a href="?number={{ next }}" title="{% translate 'Next email' %}"><i class=" icon-right-dir"></i></a>
    {% endif %}
  </h5>
{% endblock mail_nav %}
