{% load i18n mail_tags %}

{% if to_email %}
<section>
  <h4 class="content-title"><u>{% translate "Preview" %}</u></h4>
  {% block mail_nav %}{% endblock %}
  <dl class="dl-horizontal">
    <dt>{% translate "From" %}</dt><dd>{{ from_email }}</dd>
    <dt>{% translate "To" %}</dt>
    <dd>
      {% for recipient in to_email %}
          <span class="label label-primary">{{ recipient }}</span>
      {% endfor %}
    </dd>
    {% if bcc_email %}
    <dt>{% translate "BCC" %}</dt>
    <dd>
      {% for recipient in bcc_email %}
          <span class="label label-primary">{{ recipient }}</span>
      {% endfor %}
    </dd>
    {% endif %}

    <dt>{% translate "Subject" %}</dt><dd>{{ subject }}</dd>
    {% if attachments %}
      <dt>{% translate "Attachments" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for attachment in attachments %}
            <li class="no-"><a href="{{ attachment|fileurl }}"><i class="icon {{ attachment|fileicon }}"></i>&nbsp;{{ attachment|filename }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}
  </dl>
  <div class="well">{{ message|linebreaks }}</div>
</section>

<section>
  <form action="" method="post">{% csrf_token %}
    <p>
      {% blocktranslate %}Are you sure you want to send this mail ?{% endblocktranslate %}

    </p>

    <div class="form-group">
      {% if edit_url %}<a href="{{ edit_url }}" class="btn btn-default"><i class="icon icon-edit"></i> {% translate "Modify" %}</a>{% endif %}

      <button type="submit" class="btn btn-success"><i class="icon icon-mail"></i>&nbsp;{% translate 'Send all emails' %}</button>
      {% if cancel_url %}&nbsp;
        <a href="{{ cancel_url }}" class="btn btn-default">{% translate 'Cancel' %}</a>
      {% endif %}
    </div>
  </form>
</section>
{% else %}
  <section>
    {% blocktranslate %}There are no recipients for this email{% endblocktranslate %}
  </section>

{% endif %}
