{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% translate "Transform waiting slot" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Please confirm" %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>{% blocktranslate with child=object.child.full_name %}Are you sure you want to remove {{ child }} from the waiting list?{% endblocktranslate %}</p>
  <div class="form-group">
    <button type="submit" class="btn btn-success">{% translate 'Remove' %}</button>
  </div>
</form>

{% endblock content %}
