{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Transform waiting slot" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Please confirm" %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>{% blocktrans with child=object.child.full_name %}Are you sure you want to add {{ child }} to the participants of the course?{% endblocktrans %}</p>
  <div class="form-group">
    <button type="submit" class="btn btn-success">&nbsp{% trans 'Add to participants' %}</button>
  </div>
</form>

{% endblock content %}