{% extends "contact/contact.html" %}

{% block addresses %}
  <section style="padding-top: 0">
    <h4 >Commune de Montreux</h4>
    <h5>Espace Plein Air de la Foge</h5>
      <address>
        Chemin de la Foge 2<br />
        1816 Chailly-Montreux<br />
      </address>
      <p>
        Téléphone: <a itemprop="telephone" href="tel:+41219627874">021 962 78 74</a> (Lu-Ve: 9h - 12h)<br />
        Email: <a itemprop="email" href="mailto:epa@montreux.ch">epa@montreux.ch</a>
      </p>
    </section>


{% endblock addresses %}
