{% load i18n %}
{% load duration switzerland extra sekizai_tags staticfiles matrix status mathfilters children %}
{% addtoblock "css" %}
  {% comment %}Ne pas utiliser  sekizai a de la peine si static_url est absolu en prod {% endcomment %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.css"/>
<style>
.rotated-heading {
    height: 85px;
    width: 40px;
    white-space: nowrap;
    vertical-align: middle!important;
}
.rotated-heading div {
    transform: rotate(-90deg) translate(-33px, 0px);
    -webkit-transform: rotate(-90deg) translate(-33px, 0px);
    width: 35px;
}
.rotated-heading div span {
    padding-left:12px;
}
table.dataTable thead>tr>th.rotated-heading {
  padding-left: 0;
  padding-right: 0;
}
.absences>tbody>tr>td.absence {
  padding: 0;
  text-align: center;
}
table.dataTable tbody tr.selected .popover,
table.dataTable tbody th.selected .popover,
table.dataTable tbody td.selected .popover {
  color: black;
}
.absences .popover .radio {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.absences .popover .radio label{
  padding-left: 20px;
}
.absences .popover .radio input[type=radio] {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}
.absences .popover textarea {
  width: 100%;
}
.session-col.notavailable {
  background-color:#ddd;
}
@media print {

  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    display: none;
  }
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    padding-left: 5px;
  }
  table.table-bordered.dataTable {
    border-collapse: collapse !important;
  }
  .absences {
    width: 100% !important;
  }
  .course-link .name-extended {
    display: none;
  }
 .level-col {
   display: none;
 }
 .note-col {
   display: none;
 }
 .child-col{
   width: 4cm! important;
 }
 .course-col {
   width: 3cm !important;
 }
 .session-col {
   width: 0.4cm !important;
 }
 .set-absence .btn-sm{
   font-size:10px;
 }

}

</style>
{% endaddtoblock %}
  <table class="table table-bordered table-hover table-condensed absences table-fixed responsive">
    <thead>
      <tr>
        <th class="all child-col">{% trans "Child" %}</th>
        {% if BIB_NUMBERS %}
        <th class="rotated-heading all bib-number-col"><div><span>{% trans "Bib number" %}</span></div></th>
        {% endif %}
        <th class="min-mobile-l course-col">{% trans "Course" %}</th>
        {% if REGISTRATION_LEVELS %}
          <th class="min-desktop rotated-heading level-col"><div><span>{% trans "Announced level" %}</span></div></th>
          <th class="min-tablet-l rotated-heading level-col"><div><span>{% trans "level -1" %}</span></div></th>
          <th class="min-tablet-l rotated-heading level-col"><div><span>{% trans "level 0" %}</span></div></th>
        {% endif %}
        {% if DISPLAY_REGISTRATION_NOTE %}
        <th class="min-desktop note note-col">
          {% trans "Note" %}
        </th>
        {% endif %}
        {% for session_date in all_dates %}
          <th class="rotated-heading session-col{% if forloop.last %} all{% else %} min-tablet-p{% endif %}">
            <div><span>{{ session_date|date:"j b. Y" }}</span></div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>

{% for course_child, absences in course_absences.items %}
  {% with child=course_child.0 course=course_child.1 %}
      <tr>
        <th data-order="{{ child.last_name }} {{ child.first_name }}" class="child-col">
          <a href="{{ child.get_backend_absences_url }}">{{ child }}</a>
        </th>
        {% if BIB_NUMBERS %}
        <th data-order="{{ child.bib_number|default:"0" }}" class="bib-number-col">
          {{ child.bib_number|default:"" }}
        </th>
        {% endif %}

        <th data-order="{{ course.number }}" class="course-col">
          <span class="set-course"
                data-child="{{ child.id }}"
                data-course="{{ course.id }}">
            <a href="{{ course.get_backend_absences_url }}" class="course-link">
              {{ course.short_name }}{% if course.name %}<span class="name-extended"> - {{ course.name }}</span>{% endif %}
            </a><br>
            <a class="course has-popover hidden-print" role="button"
               data-toggle="popover"
               data-trigger="click focus">
              <i class="icon-pencil"></i> {% trans "Switch course" %}
            </a>
          </span>
        </th>

        {% if REGISTRATION_LEVELS %}
        <th data-order="{{ child.announced_level }}" class="level-col">
          <span class="hidden-print">{{ child.announced_level }}</span>
          <span class="visible-print">{{ child.announced_level|truncatewords:"1" }}</span>
        </th>
        <th class="level-col">
          <span class="set-level"
            data-level="{{ child.level.before_level }}"
            data-key="before_level"
            data-url="{{ child.level.api_url }}"
            data-order="{{ child.level.before_level }}"
            data-child="{{ child.id }}"
            data-activity="{{ course.activity.id }}">
            <a class="level has-popover" role="button"
               data-toggle="popover"
               data-trigger="click focus">{{ child.level.before_level|default:'NP' }}</a>
          </span>
        </th>
        <th class="level-col">
          <span class="set-level"
            data-level="{{ child.level.after_level }}"
            data-key="after_level"
            data-url="{{ child.level.api_url }}"
            data-order="{{ child.level.after_level }}"
            data-child="{{ child.id }}"
            data-activity="{{ course.activity.id }}">
            <a class="level has-popover" role="button"
               data-toggle="popover"
               data-trigger="click focus">{{ child.level.after_level|default:'NP' }}</a>
          </span>
        </th>
        {% endif %}
        {% if DISPLAY_REGISTRATION_NOTE %}
        <th class="note-col">
          <span class="set-note"
                data-key="note"
                data-note="{{ child.level.note }}"
                data-url="{{ child.level.api_url }}"
                data-order="{{ child.level.note }}"
                data-child="{{ child.id }}"
                data-activity="{{ course.activity.id }}">
            <div class="note">{{ child.level.note }}</div>
            <a class="note has-popover hidden-print" role="button"
               data-toggle="popover"
               data-trigger="click focus">
              <i class="icon-pencil"></i>&nbsp;{% trans "Edit note" %}
            </a>
          </span>
        </th>
        {% endif %}

        {% for session_date in all_dates %}
          {% if session_date in absences %}
          {% with absence=absences|get_item:session_date %}
            <td class="session-col absence {{ absence.status }} {% if absence.status == 'present' %}success{% elif absence.status == 'late' %}info{% elif absence.status == 'excused' %}warning{% elif absence.status == 'canceled' %}warning{% else %}danger{% endif %}">
              <span class="set-absence"
                    data-pk="{{ absence.pk }}"
                    data-session="{{ absence.session.id }}"
                    data-child="{{ child.id }}"
                    data-status="{{ absence.status }}"
                    data-order="{{ absence.status }}">
                <a role="button" class="btn btn-sm absence has-popover"  data-toggle="popover"
                   data-trigger="click focus">{{ absence|absence_to_status:1 }}</a>
              </span>
            </td>
          {% endwith %}
          {% else %}
            <td class="session-col unavailable text-muted active">
            </td>
          {% endif %}
        {% endfor %}
      </tr>
  {% endwith %}
{% endfor %}
    </tbody>
  </table>

<p class="hidden-print text-center">
  <a class="btn btn-success btn-large" href="{{ request.get_full_path }}&pdf=1"><i class="icon icon-file-pdf"></i> {% trans "Export to PDF" %}</a>
</p>

{% addtoblock "js" %}
<script type="text/html" id="level-window">
  <form>
    <select class="form-control" name="level">
      {% for level in levels %}
      <option value="{{ level.0 }}">{{ level.1 }}</option>
      {% endfor %}
    </select>
  </form>
</script>
<script type="text/html" id="course-window">
  <form>
    <select class="form-control" name="course">
      {% for course in course_list %}
      <option value="{{ course.id }}">{{ course.short_name }}{% if course.name %} - {{ course.name }}{% endif %}</option>
      {% endfor %}
    </select>
  </form>
</script>

<script type="text/html" id="note-window">
  <form class="note-form">
    <textarea></textarea>
    <input type="submit" class="form-control  btn-primary" value="{% trans "Save" %}">
  </form>
</script>
<script type="text/html" id="status-window">
  <form>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="present" value="present">{% trans "Present" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="absent" value="absent">{% trans "Absent" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="excused" value="excused">{% trans "Excused" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="canceled" value="canceled">{% trans "Canceled course" %}
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="status" id="medical" value="medical">{% trans "Medical certificate" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="late" value="late">{% trans "Late" %}
      </label>
    </div>
  </form>
</script>
<script src="{{ STATIC_URL }}js/vendor/js.cookie.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>
<script>
jQuery(function($){
  $.ajaxSetup({
    headers: { "X-CSRFToken": Cookies.get("csrftoken") }
  });

  var table = $('.absences').dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      "responsive": true,
      "paging": false
  });


  $('.absences').on('change', 'input[name=status]', function(event){
    var $parent = $(this).parents('.set-absence');
    var status =  $(this).val();
    var data = {
      'session': $parent.data('session'),
      'child': $parent.data('child'),
      'status': status
    };

    $.ajax({
      url: "{% url 'api:absence-set' %}",
      type: 'POST',
      data: data,
      success: function(response){
        var label = '';
        var classes = '';
        switch(response.status){
          case 'present':
            label = "{% trans 'P' %}";
            classes = "success present";
            break;
          case 'absent':
            label = "{% trans 'A' %}";
            classes = "danger absent";
            break;
          case 'excused':
            label = "{% trans 'E' %}";
            classes = "warning excused";
            break;
          case 'canceled':
            label = "{% trans 'AA' %}";
            classes = "warning canceled";
            break;
          case 'medical':
            label = "{% trans 'MC' %}";
            classes = "danger medical";
            break;
          case 'late':
            label = "{% trans 'LA' %}";
            classes = "info late";
            break;
        }
        $('a', $parent).text(label);
        $parent.parent().removeClass().addClass(classes);
        $parent.data('status', response.status);
        $('.has-popover', $parent).popover('hide');
      }
    })
  });

  $('.absences').popover(
    {
      selector: '.absence.has-popover',
      content: function(){ return $('#status-window').html(); },
      html: true,
      placement: function(context, source){
          if ($(source).parents('.dtr-details').length > 0) {
              return 'right';
          }
          return 'left';
      }
    }
  );

  $('.absences').on('shown.bs.popover', '.set-absence', function(){
      var status = $(this).data('status');
    $('input[value=' + status + ']', $(this)).prop('checked', true);
  });

  $('.absences').popover(
    {
      selector: '.course.has-popover',
      content: function(){ return $('#course-window').html(); },
      html: true
    }
  );
  $('.absences').on('shown.bs.popover', '.set-course', function(){
    var course = $(this).data('course');
    $('option[value=' + course + ']', $(this)).prop('selected', true);
  });
  $('.absences').on('change', 'select[name=course]', function(event){
    var course =  $(this).val();
    var $parent = $(this).parents('.set-course');
    var data = {
      'previous_course': $parent.data('course'),
      'new_course': course,
      'child': $parent.data('child')
    };
    $.ajax({
      url: '{% url "api:change-course" %}',
      type: 'PUT',
      data: data,
      success: function(response){
        $('a.course-link', $parent).text(response.name).attr('href', response.absence_url);
        $parent.data('course', response.id);
        parent.data('level', newLevel);
        $('.has-popover', $parent).popover('hide');
      }
    });
  });

  $('.absences').popover(
    {
      selector: '.level.has-popover',
      content: function(){ return $('#level-window').html(); },
      html: true
    }
  );
  $('.absences').on('shown.bs.popover', '.set-level', function(){
    var level = $(this).data('level');
    if (level.length) {
     $('option[value=' + level + ']', $(this)).prop('selected', true);
    }
  });

  $('.absences').on('change', 'select[name=level]', function(event){
    var level =  $(this).val();
    var parent = $(this).parents('.set-level');
    var data = {};
    data[parent.data('key')] = level;
    if (parent.data('url')) {
      var verb = 'PATCH';
      var url = parent.data('url');
    } else  {
      var verb = 'POST';
      var url = '{% url "api:level-list" %}';
      data['child'] = parent.data('child');
      data['activity'] = parent.data('activity');
    }
    $.ajax({
      url: url,
      type: verb,
      data: data,
      success: function(response){
        var newLevel = response[parent.data('key')];
        $('a', parent).text(newLevel);
        parent.data('level', newLevel);
        $('.has-popover', parent).popover('hide');
      }
    });
  });

  $('.absences').popover(
        {
          selector: '.note.has-popover',
          content: function(){ return $('#note-window').html(); },
          html: true
        }
    );
    $('.absences').on('shown.bs.popover', '.set-note', function(){
      var note = $(this).data('note');
      $('textarea', this).val(note);
    });

  $('.absences').on('submit', 'form.note-form', function(event){
    event.preventDefault();
    var note =  $('textarea', this).val();
    var parent = $(this).parents(".set-note");
    var data = {};
    data[parent.data('key')] = note;
    if (parent.data('url')) {
      var verb = 'PATCH';
      var url = parent.data('url');
    } else  {
      var verb = 'POST';
      var url = '{% url "api:level-list" %}';
      data['child'] = parent.data('child');
      data['activity'] = parent.data('activity');
    }
    $.ajax({
      url: url,
      type: verb,
      data: data,
      success: function(response){
        var newNote = response[parent.data('key')];
        $('div.note', parent).text(newNote);
        parent.data('note', newNote);
        $('.has-popover', parent).popover('hide');
      }
    });
  });

  $('html').on('click', function(e){
    if (typeof $(e.target).data('original-title') == 'undefined' && !$(e.target).parents().is('.popover.in')) {
      // close popovers when click is outside
      $('[data-original-title]').popover('hide');
    }
    if (typeof $(e.target).data('original-title') != 'undefined') {
      // one popover opened at a time
      $('[data-original-title]').not(e.target).popover('hide');
    }
  });
  /*
  window.addEventListener("resize", function() {
    // Get screen size (inner/outerWidth, inner/outerHeight)
    table.api().columns.adjust().responsive.recalc();
  }, false);*/

});
</script>
{% endaddtoblock %}
