{% extends "base.html" %}
{% load i18n %}
{% load duration switzerland sekizai_tags floppyforms %}

{% block title %}{{ course.activity.name }} - {% trans "Absences" %}{{ block.super }}{% endblock %}
{% block page_title %}{{ course.activity.name }} - {% blocktrans with identifier=course.number %}course #{{ identifier }} - Absences{% endblocktrans %}{% endblock %}

{% block content %}

<section class="portlet hidden-print">
  <div class="pricing-plan">
    <header class="pricing-header">
      <p class="pricing-plan-label">{{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}</p>
      <p class="lead">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }} à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
    </header>
    <dl class="dl-horizontal">
      <dt>{% trans "Instructors" %}</dt>
      <dd>
        <ul class="list-horizontal">
          {% for instructor in course.instructors.all %}
            <li>
              <a href="{{ instructor.get_backend_url }}">{{ instructor.full_name  }}</a>
            </li>
          {% endfor %}
      </dd>
      <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
      <dt>{% trans "Number of sessions" %}</dt><dd>{{ course.number_of_sessions }} cours</dd>
      <dt>{% trans "Price" %}</dt><dd>{{ course.price|money }}</dd>
      <dt>{% trans "School years" %}</dt>
      <dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
    </dl>
    <h4 class="content-title"><u>{% trans "Management" %}</u></h4>
    <a href="{{ course.get_custom_mail_instructors_url }}?new=1" class="btn btn-default hidden-print"><i class="icon-mail"></i>&nbsp;{% trans "Mail all participants" %}</a> &nbsp;
    <a href="{{ course.get_absolute_url }}" class="btn btn-default hidden-print"><i class="icon-check"></i>&nbsp;{% trans "Check registrations" %}</a>
  </div>
</section>
<form method="POST" class="form-inline">{% csrf_token %}
    {% form session_form using "floppyforms/layouts/bootstrap-inline.html" %}
    <button type="submit" class="btn btn-secondary">{% trans "New session" %}</button>
</form>
{% include 'absences/absences-table.html' %}
{% if courses_list.count > 1 %}
<div class="form-group">
  <label for="select-course">{% trans "Manage absences for" %}:</label>
  <select class="form-control" id="select-course">
    {% for c in courses_list %}
      <option{% if course == c %} selected{% endif %} value="{{ c.get_absences_url }}">{{ c.short_name }}</option>
    {% endfor %}
  </select>
</div>

{% addtoblock "js" %}
<script>
  $(function(){
    $('#select-course').on('change', function(){
      window.location.href = this.value;
    });
  });
</script>
{% endaddtoblock %}
{% endif %}
{% endblock content %}