{% load i18n %}
{% load duration switzerland extra sekizai_tags staticfiles matrix status mathfilters %}
{% addtoblock "css" %}
<style>
.rotated-heading {
    height: 100px;
    width: 50px;
    white-space: nowrap;
    vertical-align: middle!important;
}
.rotated-heading div {
    transform: rotate(-90deg) translate(-33px, 0px);
    width: 40px;
}
.rotated-heading div span {
    padding-left:10px;
}
.absences tr
</style>
{% endaddtoblock %}
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>{% trans "Course" %}</th>
        {% for session_date in all_dates %}
        <th>{{ session_date | date:"d.m.Y" }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
    {% for course in courses %}
      <th>{{ course }}</th>
      {% for session_date in all_dates %}
      <td>
      {% if session_date in absences.course %}
      </td>
      {% endfor %}
    {% endfor %}

    </tbody>


  </table>
</div>