{% load i18n %}
{% load duration switzerland extra sekizai_tags staticfiles matrix status mathfilters %}
{% addtoblock "css" %}
<style>
.rotated-heading {
    height: 100px;
    width: 50px;
    white-space: nowrap;
    vertical-align: middle!important;
}
.rotated-heading div {
    transform: rotate(-90deg) translate(-33px, 0px);
    width: 40px;
}
.rotated-heading div span {
    padding-left:10px;
}
.absences tr
</style>
{% endaddtoblock %}
<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed absences" style="table-layout: fixed;">
  <thead>
    <tr>
      <th style="width:5.5cm;">{% trans "Name" %}</th>

      {% if BIB_NUMBERS %}
      <th class="rotated-heading"><div><span>{% trans "Bib number" %}</span></div></th>
      {% endif %}
      {% if REGISTRATION_LEVELS %}
      <th>{% trans "Announced level" %}</th>
      <th class="rotated-heading"><div><span>{% trans "level -1" %}</span></div></th>
      <th class="rotated-heading"><div><span>{% trans "level 0" %}</span></div></th>
      {% endif %}
      {% if DISPLAY_CAR_NUMBER %}
      <th class="rotated-heading">
        <div><span>{% trans "Bus" %}</span></div>
      </th>
      {% endif %}
      {% if DISPLAY_REGISTRATION_NOTE %}
      <th class="note">
        {% trans "Note" %}
      </th>
      {% endif %}
      {% for session in course.sessions.all %}
      <th class="date">
        <span class="session-date">{{ session.date | date:"d.m.Y" }}</span>
        <!--<a href="" class="session-edit-date hidden-print"><i class="icon-pencil"></i></a>-->
        &nbsp;      
        <span class="date datetimepicker session-update hidden-print" 
             data-session-url="{{ session.get_api_url }}" >
          <a href="#"><i class="icon-calendar"></i></a>
          <input type="hidden" class="form-control" value="{{ session.date | date:'d.m.Y' }}"
                 data-date-pickTime="false"/>
        </span>
        <a href="#" class="session-delete hidden-print" data-session-url="{{ session.get_api_url }}">
          <i class="icon-trash"></i>
        </a>
      </th>
      {% endfor %}
      <th class="hidden-print">
        <a class="btn btn-success btn-xs" id="create_session_button">
          <i class="icon icon-plus"></i>&nbsp;{% trans "New session" %}
        </a>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      {% if BIB_NUMBERS %}
      <th></th>
      {% endif %}
      {% if REGISTRATION_LEVELS %}
      <th></th><th></th><th></th>
      {% endif %}
      {% if DISPLAY_CAR_NUMBER %}
      <th></th>
      {% endif %}
      {% if DISPLAY_REGISTRATION_NOTE %}
      <th></th>
      {% endif %}
      {% for session in course.sessions.all %}
      <th>
          <select name="instructor" class="instructor hidden-print"
                  data-session-url="{{ session.get_api_url }}">
            {% for instructor in course.instructors.all %}
            <option value="{{ instructor.id }}"{% if session.instructor == instructor %} selected{% endif %}>
              {{ instructor.full_name }}
            </option>
            {% endfor %}
            <option value=""{% if not session.instructor %} selected{% endif %}>{% trans "other" %}</option>
          </select>
          <span class="visible-print-inline">{{ session.instructor.full_name}}</span>
          <span class="message success hidden-print" style="display: none"><i class="icon icon-ok-circled text-success"></i></span>
          <span class="message error hidden-print" style="display: none"><i class="icon icon-cancel-circled text-danger"></i></span>

      </th>
      {% endfor %}
      <th class="hidden-print"></th>
    </tr>
  </tfoot>
  <tbody>
  {% for registration in course.participants.all %}
  {% with units=forloop.counter0 %}
    <tr data-child="{{ registration.child.id }}">
       <th class=" child-name">
            {% if request.user.is_manager %}
            <a href="{{ registration.child.get_backend_url}}">{{ registration.child.full_name }}</a>
            {% else %}
            {{ registration.child.full_name }}
            {% endif %}
        </th>
        {% if BIB_NUMBERS %}
        <th data-order="{{ registration.child.bib_number|default:"0" }}">
              {{ registration.child.bib_number|default:"" }}
        </th>
        {% endif %}
        {% if REGISTRATION_LEVELS %}
        <th>{{ registration|answer_to:"Niveau de ski/snowboard" }}</th>
        <th class="set-level"
            data-level="{{ registration.before_level }}"
            data-key="before_level"
            data-registration="{{ registration.update_level_url }}">
           <a class="level has-popover" role="button"
           data-toggle="popover"
           data-trigger="click focus">{{ registration.before_level|default:'NP' }}</a>
        </th>
        <th class="set-level"
            data-level="{{ registration.after_level }}"
            data-key="after_level"
            data-registration="{{ registration.update_level_url }}">
          <a class="level has-popover" role="button"
           data-toggle="popover"
           data-trigger="click focus">{{ registration.after_level|default:'NP' }}</a>
        </th>
        {% endif %}
        {% if DISPLAY_CAR_NUMBER %}
        <th>
          {{ registration.transport|default:"" }}
        </th>
        {% endif %}
        {% if DISPLAY_REGISTRATION_NOTE %}
        <th class="set-note"
            data-key="note"
            data-note="{{ registration.note }}"
            data-registration="{{ registration.update_note_url }}">
          <div class="note">{{ registration.note }}</div>
          <a class="note has-popover hidden-print" role="button" data-toggle="popover"
           data-trigger="click focus"><i class="icon-pencil"></i>&nbsp;{% trans "Edit note" %}</a>
        </th>
        {% endif %}
        {% for session in course.sessions.all %}
        {% with status=absence_matrix|index:units|index:forloop.counter0 decade=forloop.counter|mul:100 %}
        <td class="{{ status}} {% if status == 'present' %}success{% elif status == 'late' %}info{% else %}danger{% endif %}"
            data-session="{{ session.id }}"
            data-child="{{ registration.child.id }}"
            data-status="{{ status }}">
            <a tabindex="{{ decade|add:units }}" role="button" class="btn btn-sm absence has-popover"
                             data-toggle="popover" 
                             data-trigger="click focus">{{ status|absence_status }}</a>
        </td>
        {% endwith %}
        {% endfor %}
        <td class="unavailable hidden-print"></td>
    </tr>
  {% endwith %}
  {% endfor %}
  </tbody>  
</table>
</div>

<p class="hidden-print text-center">
  <button class="btn btn-success btn-large print-button"><i class="icon icon-print"></i> Imprimer</button>
</p>




<script type="text/html" id="status-window">
  <form>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="present" value="present" checked>{% trans "Present" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="absent" value="absent">{% trans "Absent" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="excused" value="excused">{% trans "Excused" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="medical" value="medical">{% trans "Medical certificate" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="late" value="late">{% trans "Late" %}
      </label>
    </div>
  </form>
</script>

<script type="text/html" id="level-window">
  <form>
    <select class="form-control" name="level">
      {% for level in levels %}
      <option value="{{ level.0 }}">{{ level.1 }}</option>
      {% endfor %}
    </select>
  </form>
</script>

<script type="text/html" id="note-window">
  <form class="note-form">
    <textarea></textarea>
    <input type="submit" class="form-control  btn-primary" value="{% trans "Save" %}">
  </form>
</script>



<script id="column-header" type="text/html">
    <th class="date">
        <span class="session-date"></span>
        
        <span class="date datetimepicker session-update hidden-print">
          <input type="hidden" class="form-control" value=""
                 data-date-pickTime="false" />
          <a href="#" class="hidden-print"><i class="icon-calendar"></i></a>
        </span>
        <a href="#" class="session-delete hidden-print">
          <i class="icon-trash"></i>
        </a>

    </th>
</script>
<script id="column-content" type="text/html">
    <td class="present success"
        data-status="present">
        <a role="button" class="btn btn-sm absence has-popover"
           data-toggle="popover" 
           data-trigger="click focus">{{ "present"|absence_status }}</a>
    </td>
</script>


{% addtoblock "js" %}
<script src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/js.cookie.js' %}"></script>
<script id="instructors-tmpl" type="text/template">
<th>
  <select name="instructor" class="instructor">
    {% for instructor in course.instructors.all %}
    <option value="{{ instructor.id }}"{% if user == instructor %} selected{% endif %}>
        {{ instructor.full_name }}
    </option>
    {% endfor %}
    <option value=""{% if not user in course.instructors.all %} selected{% endif %}>{% trans "other" %}</option>
  </select>
  <span class="message success" style="display: none"><i class="icon icon-ok-circled text-success"></i></span> 
  <span class="message error" style="display: none"><i class="icon icon-cancel-circled text-danger"></i></span> 
</th>
</script>
<script>
  $(function(){
    var HUMAN_FMT = 'DD.MM.YYYY';
    var API_FMT = 'YYYY-MM-DD'

    $.fn.column = function() {
      return $(this)
          .filter('th, td')
          .filter(':not([colspan])')
          .closest('table')
          .find('tr')
          .filter(':not(:has([colspan]))')
          .children(':nth-child(' + ($(this).index()+1) + ')');
    };

    $.ajaxSetup({
      headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });

    $('.datetimepicker').datetimepicker({
      language: '{{ LANGUAGE_CODE }}',
      format: HUMAN_FMT,
      icons: {date: 'icon-calendar',
        up:   'icon-up-open',
        down: 'icon-down-open'}
    });

    $('.absences').on('dp.change', '.datetimepicker', function(evt){
      var parent = $(this).parent('th');
      evt.stopPropagation();

      $.ajax({
        url: $(this).data('session-url'),
        type: 'PUT',
        data: { date: $(this).data('DateTimePicker').date.format(API_FMT),
          course: {{ course.id }} },
        success: function(response){
          $('.session-date', parent).text(
              moment(response.date, API_FMT).format(HUMAN_FMT)
          );
        }
      });
    });

    var newSession = function(){
      $.ajax({
        url: "{% url 'api:session-list' %}",
        type: 'POST',
        data: { course: {{ course.id }},
          date: moment().format(API_FMT),
          instructor: {% if user in course.instructors.all %}{{ user.pk }}{% else %}null{% endif %} },
        success: function(data){
          var $th_tmpl = $($('#column-header').html());
          var date = moment().format(API_FMT);
          $('input', $th_tmpl).val(moment(data.date, API_FMT).format(HUMAN_FMT));
          var url = "{% url 'api:session-list' %}" + data.id + '/';
          $('.session-update', $th_tmpl).data('session-url', url);
          $('.session-delete', $th_tmpl).data('session-url', url);

          $('.datetimepicker', $th_tmpl).datetimepicker({
            language: '{{ LANGUAGE_CODE }}',
            format: HUMAN_FMT,
            icons: {date: 'icon-calendar',
              up:   'icon-up-open',
              down: 'icon-down-open'}
          });
          $('.session-date',  $th_tmpl).text(
              $('.session-update',  $th_tmpl).data('DateTimePicker').date.format(HUMAN_FMT)
          );
          $('.absences thead th:last').before($th_tmpl);

          $('.absences tbody tr').each(function(idx){
            var $td_tmpl = $($('#column-content').html());
            $td_tmpl.data('session', data.id);
            $td_tmpl.data('child', $(this).data('child'));
            $('a', $td_tmpl).attr('tabindex', $('td:last', $(this)).index() * 100 + idx)
            $('td:last', $(this)).before($td_tmpl);
          });

          var $instructor_tmpl = $($('#instructors-tmpl').html());
          $('.absences tfoot th:last').before($instructor_tmpl);
          var $inplace = $('.absences tfoot select').last();
          $inplace.data('session-url', url);
        }
      });
    };
    $('#create_session_button').click(newSession);

    $('.absences').on('click', '.session-delete', function(evt){
      var parent = $(this).parent();
      $.ajax({
        url: $(this).data('session-url'),
        type: 'DELETE',
        success: function(){
          parent.column().remove();
        }
      });
      evt.preventDefault();
    });

    $('.absences').on('change', 'select.instructor', function(event){
      var parent = $(this).parent();
      $('.message.error', parent).hide();
      $('.message.success', parent).hide();
      $.ajax({
        url: $(this).data('session-url'),
        type: 'PUT',
        data: {'instructor': $(this).val() },
        success: function(){
          $('.message.success', parent).show();
        },
        error: function(){
          $('.message.error', parent).show();
        }
      });
    });

    $('.absences').on('change', 'input[name=status]', function(event){
      var parent = $(this).parents('td');
      var status =  $(this).val();
      var data = {
        'session': parent.data('session'),
        'child': parent.data('child'),
        'status': status
      };

      $.ajax({
        url: "{% url 'api:absence-set' %}",
        type: 'POST',
        data: data,
        success: function(response){
          var label = '';
          var classes = '';
          switch(response.status){
            case 'present':
              label = "{% trans 'Present' %}";
              classes = "success present";
              break;
            case 'absent':
              label = "{% trans 'Absent' %}";
              classes = "danger absent";
              break;
            case 'excused':
              label = "{% trans 'Excused' %}";
              classes = "danger excused";
              break;
            case 'medical':
              label = "{% trans 'Medical certificate' %}";
              classes = "danger medical";
              break;
            case 'late':
              label = "{% trans 'Late arrival' %}";
              classes = "info late";
              break;
          }
          $('a', parent).text(label);
          parent.removeClass().addClass(classes);
          parent.data('status', response.status);
          $('.has-popover', parent).popover('hide');
        }
      })
    });

    $('.absences').popover(
        {
          selector: '.absence.has-popover',
          content: function(){ return $('#status-window').html(); },
          html: true
        }
    );
    $('.absences').popover(
        {
          selector: '.level.has-popover',
          content: function(){ return $('#level-window').html(); },
          html: true
        }
    );

    $('.absences td').on('shown.bs.popover', function(){
      var status = $(this).data('status');
      $('input[value=' + status + ']', $(this)).prop('checked', true);
    });

    $('.absences .set-level').on('shown.bs.popover', function(){
      var level = $(this).data('level');
      if (level.length) {
       $('option[value=' + level + ']', $(this)).prop('selected', true);
      }
    });

    $('.absences').on('change', 'select[name=level]', function(event){
      var level =  $(this).val();
      var parent = $(this).parents('.set-level');
      var data = {};
      data[parent.data('key')] = level;
      $.ajax({
        url: parent.data('registration'),
        type: 'PUT',
        data: data,
        success: function(response){
          var newLevel = response[parent.data('key')];
          $('a', parent).text(newLevel);
          parent.data('level', newLevel);
          $('.has-popover', parent).popover('hide');
        }
      });

    });

    $('.absences').popover(
        {
          selector: '.note.has-popover',
          content: function(){ return $('#note-window').html(); },
          html: true
        }
    );
    $('.absences .set-note').on('shown.bs.popover', function(){
      var note = $(this).data('note');
      $('textarea', this).val(note);
    });

    $('.absences').on('submit', 'form.note-form', function(event){
      event.preventDefault();
      var note =  $('textarea', this).val();
      var parent = $(this).parents(".set-note");
      var data = {};
      data[parent.data('key')] = note;
      $.ajax({
        url: parent.data('registration'),
        type: 'PUT',
        data: data,
        success: function(response){
          var newNote = response[parent.data('key')];
          $('div.note', parent).text(newNote);
          parent.data('note', newNote);
          $('.has-popover', parent).popover('hide');
        }
      });

    });

    $('.print-button').click(function(){window.print()});
  });
</script>
{% endaddtoblock %}
