{% load i18n %}
{% load duration switzerland extra sekizai_tags staticfiles matrix status mathfilters %}
{% addtoblock "css" %}
<style>
.rotated-heading {
    height: 100px;
    width: 50px;
    white-space: nowrap;
    vertical-align: middle!important;
}
.rotated-heading div {
    transform: rotate(-90deg) translate(-33px, 0px);
    width: 40px;
}
.rotated-heading div span {
    padding-left:10px;
}

</style>
{% endaddtoblock %}
<div class="table-responsive">
  <table class="table table-bordered table-hover table-condensed absences" style="table-layout: fixed;">
    <thead>
      <tr>
        <th>{% trans "Activity" %}</th>
        <th>{% trans "Course" %}</th>
        {% for session_date in all_dates %}
          <th class="rotated-heading"><div><span>{{ session_date | date:"j b. Y" }}</span></div></th>
        {% endfor %}
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>


    {% for activity, course_absences in activity_absences.items %}
      {% for course, absences in course_absences %}
      <tr>
        {% if forloop.first %}<th rowspan="{{ course_absences|length }}">{{ activity }}</th>{% endif %}
        <th class="child-name">
          {{ course.number }}{% if course.name %} - {{ course.name }}{% endif %}
        </th>
        {% for session_date in all_dates %}
          {% if session_date in absences %}
          {% with absence=absences|get_item:session_date %}
            <td class="{{ absence.status }} {% if absence.status == 'present' %}success{% elif absence.status == 'late' %}info{% elif absence.status == 'excused' %}warning{% else %}danger{% endif %}"
                data-pk="{{ absence.pk }}"
                data-session="{{ absence.session.id }}"
                data-child="{{ child.id }}"
                data-status="{{ absence.status }}">
              <a role="button" class="btn btn-sm absence has-popover"  data-toggle="popover"
                 data-trigger="click focus">{{ absence|absence_to_status:1 }}</a>
            </td>
          {% endwith %}
          {% else %}
            <td class="text-muted active"></td>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
        {% endfor %}
    {% endfor %}


    </tbody>


  </table>
</div>

{% addtoblock "js" %}
<script type="text/html" id="status-window">
  <form>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="present" value="present" checked>{% trans "Present" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="absent" value="absent">{% trans "Absent" %}
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="status" id="excused" value="excused">{% trans "Excused" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="medical" value="medical">{% trans "Medical certificate" %}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="late" value="late">{% trans "Late" %}
      </label>
    </div>
  </form>
</script>
<script src="{% static 'js/vendor/js.cookie.js' %}"></script>
<script>
jQuery(function($){
  $.ajaxSetup({
    headers: { "X-CSRFToken": Cookies.get("csrftoken") }
  });

  $('.absences').on('change', 'input[name=status]', function(event){
    var parent = $(this).parents('td');
    var status =  $(this).val();
    var data = {
      'session': parent.data('session'),
      'child': parent.data('child'),
      'status': status
    };

    $.ajax({
      url: "{% url 'api:absence-set' %}",
      type: 'POST',
      data: data,
      success: function(response){
        var label = '';
        var classes = '';
        switch(response.status){
          case 'present':
            label = "{% trans 'P' %}";
            classes = "success present";
            break;
          case 'absent':
            label = "{% trans 'A' %}";
            classes = "danger absent";
            break;
          case 'excused':
            label = "{% trans 'E' %}";
            classes = "warning excused";
            break;
          case 'medical':
            label = "{% trans 'MC' %}";
            classes = "danger medical";
            break;
          case 'late':
            label = "{% trans 'LA' %}";
            classes = "info late";
            break;
        }
        $('a', parent).text(label);
        parent.removeClass().addClass(classes);
        parent.data('status', response.status);
        $('.has-popover', parent).popover('hide');
      }
    })
  });

  $('.absences').popover(
    {
      selector: '.absence.has-popover',
      content: function(){ return $('#status-window').html(); },
      html: true
    }
  );

  $('.absences td').on('shown.bs.popover', function(){
    var status = $(this).data('status');
    $('input[value=' + status + ']', $(this)).prop('checked', true);
  });

});
</script>
{% endaddtoblock %}