{% extends "backend/base.html" %}
{% load i18n sekizai_tags switzerland %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "List students" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List students" %}{% endblock %}

{% block content %}

{% addtoblock  "js" %}
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.tableTools.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  var t = $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      aoColumnDefs: [
          { 'sType': 'numeric', 'aTargets': [ 'lagapeo' ]},
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 'actions' ] }
      ],
      'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All students' %}"] ],
      pageLength: 50,

      dom: 'T<"clear">lfrtip',
      tableTools: {
            "sRowSelect": "multi",
            "aButtons": [ ],
            'fnRowSelected': function(){
                $('.needs-select').removeClass('disabled');
            },
            'fnRowDeselected': function(){
                if ($('tr.active').length == 0){
                    $('.needs-select').addClass('disabled');
                }
            }
      }

  });


  $('.selectall').click(function(){
      var tabletools = TableTools.fnGetInstance(t[0]);
      tabletools.fnSelectAll(true);
  });
  $('.deselectall').click(function(){
      var tabletools = TableTools.fnGetInstance(t[0]);
      tabletools.fnSelectNone();
  });

  $('form.mail').submit(function(){
    var tabletools = TableTools.fnGetInstance(t[0]);
    var ids = tabletools.fnGetSelected().map(function(elem){
        return elem.getAttribute('data-userid');
    });
    $('input[name="data"]').val(JSON.stringify(ids));
  });

});
</script>
{% endaddtoblock %}

<a href="{% url 'backend:child-import' %}" class="btn btn-success">
   <i class="icon-doc-new"></i>&nbsp;&nbsp;{% trans "Import students" %}
</a>&nbsp;
<a href="{% url 'backend:child-new' %}" class="btn btn-success">
   <i class="icon-plus"></i>&nbsp;&nbsp;{% trans "New student" %}
</a>

<hr />

<table class="table" id="users">
  <thead>
    <tr>
      {% if IMPORT_CHILDREN %}
      <th class="lagapeo">{% trans "Identifier" %}</th>
      {% endif %}
      {% if BIB_NUMBERS %}
      <th>{% trans "Bib number" %}</th>
      {% endif %}
      <th>{% trans "Name" %}</th>
      <th>{% trans "Family" %}</th>
      <th>{% if CHILD_SCHOOL %}{% trans "School infos" %}{% else %}{% trans "School year" %}{% endif %}</th>
      {% if EMERGENCY_NUMBER_MANDATORY %}
      <th>{% trans "Emergency number" %}</th>
      {% endif %}
      <th class="actions">{% trans "Actions" %}</th>
    </tr>
  </thead>
  {% for child in object_list %}
    <tr data-userid="{{ child.id }}">
      {% if IMPORT_CHILDREN %}
      <td data-order="{{ child.id_lagapeo|default:"0" }}">{{ child.id_lagapeo|default:"n/a" }}</td>
      {% endif %}
      {% if BIB_NUMBERS %}
      <td data-order="{{ child.bib_number|default:"0" }}">{{ child.bib_number|default:"n/a" }}</td>
      {% endif %}
      <td data-order="{{ child.last_name}} {{ child.first_name}}"><a href="{{ child.get_backend_detail_url }}">{{ child.full_name }}</a></td>
      <td data-order="{{ child.family.last_name }} {{ child.family.first_name }}">
        {% if child.family %}
        <a href="{{ child.family.get_backend_url }}">{{ child.family.full_name }}</a>
        {% else %}
            n/a
        {% endif %}
      </td>
      <td>
          {{ child.school_year|default:"n/a" }}
          {% if CHILD_SCHOOL %}<br>
            {{ child.school_name }}
          {% endif %}
      </td>
      {% if EMERGENCY_NUMBER_MANDATORY %}
      <td>
          <a href="{{ registration.child.emergency_number|phone:'RFC3966' }}">
                {{ child.emergency_number|phone }}
            </a>
      </td>
      {% endif %}

      <td>
          <ul class="list-unstyled">
            <li class="text-nowrap"><a href="{{ child.get_backend_detail_url }}" class="btn btn-sm"><i class="icon-child"></i>&nbsp;&nbsp;{% trans "Child details" %}</a></a></li>
            <li class="text-nowrap"><a href="{{ child.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Edit student" %}</a></li>
            {% if USE_ABSENCES %}
            <li class="text-nowrap"><a href="{{ child.get_backend_absences_url }}" class="btn btn-sm"><i class="icon-calendar"></i>&nbsp;{% trans "Review absences" %}</a></li>
            {% endif %}
            <li class="text-nowrap"><a href="{{ child.get_delete_url }}" class="btn btn-sm"><i class="icon-trash"></i>&nbsp;&nbsp;{% trans "Delete student"  %}</a></li>

          </ul>
      </td>
     </tr>

  {% endfor %}
</table>

{% endblock content %}
