{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Import children" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-doc-new"></i>&nbsp;&nbsp;{% trans "Import children" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
  {% form form using "floppyforms/layouts/bootstrap.html" %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large">{% trans 'Import children' %}</button>
      &nbsp;
      <a href="{% url 'backend:teacher-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>
    </div>
  </div>
</form>

{% endblock content %}
