{% load i18n   floppyforms crispy_forms_tags sekizai_tags %}
{% crispy form %}


{% addtoblock "js" %}
{{ form.media.js }}
{% endaddtoblock %}

{% addtoblock "css" %}
{{ form.media.css }}
{% endaddtoblock %}

{% comment %}
{% form form using %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

{% formrow form.family %}
{% formrow form.first_name form.last_name %}
{% formrow form.sex form.birth_date form.nationality form.language  %}
{% formrow form.avs %}

{% if EMERGENCY_NUMBER_MANDATORY %}
  {% formrow form.emergency_number %}
{% endif %}

{% if BIB_NUMBERS %}
  {% formrow form.bib_number %}
{% endif %}


{% if USE_BLACKLISTS %}
  {% formrow form.is_blacklisted %}
{% endif %}


<fieldset>
    <legend>{% trans "School informations" %}</legend>
{% if IMPORT_CHILDREN %}
  {% formconfig row using "floppyforms/rows/bootstrap-sm-6.html" %}

    {% formrow form.id_lagapeo %}
{% endif %}
{% formconfig row using "floppyforms/rows/bootstrap-sm-3.html" %}

    {% formrow form.school_year  %}
    {% formconfig row using "floppyforms/rows/bootstrap.html" %}
{% if USE_BUILDINGS %}
    {% formrow form.building %}
{% endif %}
  {% if PREFILL_YEARS_WITH_TEACHERS %}
    {% formrow form.teacher %}
{% endif %}

  {% if CHILD_SCHOOL %}
    {% formrow form.school %}
    {% formrow form.other_school %}
{% endif %}
</fieldset>
{% endform %}
{% endcomment %}
