{% extends "backend/base.html" %}
{% load i18n switzerland %}

{% block title %}{{ object.full_name }} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-child"></i> {{ object.full_name }}{% endblock %}

{% block content %}
<section class="portlet">
  <h4 class="portlet-title"><u>{% translate "Informations" %}</u></h4>
  <dl class="dl-horizontal">
    {% if BIB_NUMBERS %}
    <dt>{% translate "Bib number" %}</dt>
    <dd>{{ child.bib_number|default:_("No bib number") }}</dd>
    {% endif %}
    {% if IMPORT_CHILDREN %}
    <dt>{% translate "SSF number" %}</dt>
    <dd>{{ child.id_lagapeo|default:'n/a' }}</dd>
    {% endif %}
    <dt>{% translate "AVS number" %}</dt>
    <dd>{{ child.avs|default:'n/a' }}</dd>
  <hr>
    <dt>{% translate "Parent" %}</dt>
    <dd><a href="{{ child.family.get_backend_url }}">{{ child.family.full_name }}</a></dd>
    <dt>{% translate "Birth date" %}</dt><dd> {{ child.birth_date|date:"j F Y" }}</dd>
    <dt>{% translate "Sex" %}</dt><dd> {{ child.get_sex_display }}</dd>
    <dt>{% translate "Nationality" %}</dt><dd> {{ child.get_nationality_display }}</dd>
    <dt>{% translate "Language" %}</dt><dd> {{ child.get_language_display }}</dd>
  <hr>
    <dt>{% translate "School year" %}</dt><dd> {{ child.school_year|default:'n/a' }}</dd>
{% if PREFILL_YEARS_WITH_TEACHERS %}
    <dt>{% translate "Teacher" %}</dt><dd> {{ child.teacher.get_full_name }}</dd>
{% endif %}
{% if CHILD_SCHOOL %}
    <dt>{% translate "School" %}</dt><dd>{{ child.school_name|default:'n/a' }}</dd>
{% endif %}
  </dl>
  <p class="text-center">
    <a href="{{ child.get_update_url }}" class="btn btn-default btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% translate "Update child" %}</a>&nbsp; <a href="{{ child.get_delete_url }}" class="btn btn-danger btn-sm"><i class="icon-trash"></i>&nbsp;&nbsp;{% translate "Delete child" %}</a>
  </p>
</section>
<section class="portlet">
  <h4 class="portlet-title"><u>{% translate "Registrations" %}</u></h4>
  <table class="table">
    <thead>
      <tr>
        <th>{% translate "Course" %}</th>
        <th>{% translate "Actions" %}</th>
      </tr>
    </thead>
    {% for registration in child.registrations.all %}
    <tr>
      <td>
       <a href="{{ registration.course.get_backend_url }}">{{ registration.course.short_name }}</a>
      </td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ registration.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% translate "Update registration" %}</a></li>
          <li class="text-nowrap"><a href="{{ registration.get_delete_url }}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% translate "Cancel registration" %}</a></li>
        </ul>

      </td>
    </tr>
    {% empty %}
    <tr><td colspan="2">{% translate "No registration for this child" %}</td></tr>
    {% endfor %}
  </table>
</section>

{% endblock content %}
