{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Create user" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-user"></i>&nbsp;&nbsp;{% if is_instructor %}{% translate "Create instructor" %}{% elif is_manager %}{% translate "Create manager" %}{% else %}{% translate "Create user" %}{% endif %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% if is_instructor %}
<script src="{{ STATIC_URL }}js/vendor/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
        language: '{{ LANGUAGE_CODE }}',
        icons: {time: 'icon-clock',
                date: 'icon-calendar',
                up:   'icon-up-open',
                down: 'icon-down-open'}
        });
  });
</script>
{% endif %}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">
{% crispy form %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-large"><i class="icon-plus"></i>&nbsp;{% if is_instructor %}{% translate "Create instructor" %}{% elif is_manager %}{% translate "Create manager" %}{% else %}{% translate "Create user" %}{% endif %}</button>
    </div>
  </div>
</form>

{% endblock content %}
