{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Change password" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-user"></i>&nbsp;&nbsp;{% trans "Change password" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% form form using "floppyforms/layouts/bootstrap.html" %}
  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-success ">{% trans 'Set password' %}</button>
      &nbsp;
      <a href="{% url 'backend:user-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}