{% load i18n humanize sekizai_tags %}

<section class="portlet">
  <h4 class="portlet-title">
    <u><i class="icon-graduation-cap"></i>&nbsp;&nbsp;{% trans "Activities &amp; courses" %}</u>
  </h4>
  <div class="portlet-body row">
    <div class="col-md-8">
      <p><strong>{{ nb_courses }}</strong> <a href="{% url 'backend:course-list' %}">{% trans "courses" %}</a> {% trans "in" %} <strong>{{ nb_activities }}</strong> <a href="{% url 'backend:activity-list' %}">{% trans "activities" %}</a>. {% trans "Last update" %}: {{ last_course_update|naturaltime }}</p>
      <div id="courses-horizontal-chart" class="chart-holder-200" style="height: 100px;"></div>
        
        <p>
        <ul class="list-unstyled">
        <li><a href="{% url 'backend:activity-list' %}"><i class="icon-soccer-ball"></i>&nbsp;{% trans "Manage activities" %}</a></li>
        <li><a href="{% url 'backend:course-list' %}"><i class="icon-graduation-cap"></i>&nbsp;{% trans "Manage courses" %}</a></li>
        <li><a href="{% url 'backend:instructor-list' %}"><i class="icon-user"></i>&nbsp;{% trans "Manage instructors" %}</a></li>
        </ul>
        </p>
    </div>
    <div class="col-md-4">
      <div class="row-stat">
        <p class="row-stat-label">{% trans "Total sessions" %}</p>
        <h3 class="row-stat-value">{{ total_sessions }}</h3>
      </div>    
    </div>
     <div class="col-md-4">
      <div class="row-stat">
        <p class="row-stat-label">{% trans "Total instructors" %}</p>
        <h3 class="row-stat-value">{{ total_instructors }}</h3>
      </div>    
    </div>
    
    <div class="col-md-12">
        </div>
  </div> <!-- /.portlet-body -->
</section>

{% addtoblock  "js" %}    

<script>
$(function () {

  var ds=[], data, chartOptions

  ds.push ([[2500, 1],[3400, 2],[3700, 3],[4500, 4]])
  ds.push ([[1300, 1],[2900, 2],[2500, 3],[2300, 4]])
  ds.push ([[800, 1],[1300, 2],[1900, 3],[1500, 4]])

  data = [{
    label: 'Ready',
    data: ds[1]
  }, {
    label: 'Not Ready',
    data: ds[0]
  }]
  
  data = [
          {  label: "{% trans "Not Ready" %}", 
             data: [[{{ notready_courses }}, 1]]
          },
          {
             label: "{% trans "Ready" %}", 
             data: [[{{ ready_courses }}, 1]]
          } 
         ]
  
  
  chartOptions = {
    xaxis: {
         
    },
    yaxis: {
        show: false,
        min: 0,
        max: 1.5
    },
    legend: {
        position: 'se'
    },
    grid: {
      hoverable: true,
      clickable: false,
      borderWidth: 0
    },
    series: {
      stack: true
    },
    bars: {
      horizontal: true,
      show: true,
      barWidth: 0.5,
      fill: true,
      lineWidth: 1,
      fillColor: { colors: [ { opacity: 1 }, { opacity: 1 } ] }
    },
    tooltip: true,
    tooltipOpts: {
      content: '%s: %x'
    },
    colors: mvpready_core.layoutColors
  }

  var holder = $('#courses-horizontal-chart')

  if (holder.length) {
    $.plot(holder, data, chartOptions )
  }


})
</script>
{% endaddtoblock %}

