{% load countdowntimer humanize i18n l10n sekizai_tags switzerland %}
  {% addtoblock "js" %}
<script src="{{ transaction.script_url }}"></script>
<script>
   jQuery(document).ready(function ($) {
    $.ajaxSetup({
      headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });
    $('#pay-button').click(function(){
      $.post("{% url 'datatrans-new-transaction' invoice.id %}")
        .done(function(data){
          Datatrans.startPayment({ transactionId: data.transactionId });
        })
        .fail(function(){
          alert("Could not create transaction");
        });
    });
  });
</script>
{% endaddtoblock %}
<div class="hidden-print d-print-none text-center mt-3 mb-3" style="margin-top: 1em; margin-bottom: 2em">
{% if REGISTRATION_EXPIRE_MINUTES %}
  <div>
  {% blocktranslate with minutes=REGISTRATION_EXPIRE_MINUTES|human_readable_time %}
  Your registrations are reserved for the next {{ minutes }}. If payment is not received within this time, your
  registration will be cancelled and your place will be made available again.{% endblocktranslate %}
  </div>
{% endif %}


  <div class="row">
    <div class="col-xs-6 text-right" style="min-height: 46px;">
      <button id="pay-button" class="btn btn-lg btn-success">
        <i class="icon-credit-card-1"></i> &nbsp;{% translate "Pay" %}
      </button>
    </div>
  </div>
</div>
