{% load i18n l10n humanize sekizai_tags switzerland %}
  {% addtoblock "js" %}
<script src="{{ transaction.script_url }}"></script>
<script>
  $(function() {
    $('#pay-button').click(function(){
      Datatrans.startPayment({
        transactionId:  "{{ transaction.transaction_id }}"
      });
    })
  });
</script>
{% endaddtoblock %}
<div class="hidden-print d-print-none text-center mt-3 mb-3" style="margin-top: 1em; margin-bottom: 2em">

<button id="pay-button" class="btn btn-lg btn-success">
  <i class="icon-credit-card-1"></i> &nbsp;{% trans "Pay" %}
</button>
</div>
