{% extends "base.html" %}
{% load duration i18n switzerland %}

{% block title %}{% translate "Payment failure" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Payment failed" %} {% endblock %}

{% block content %}
  <div class="portlet ">
    <p class="lead">{% translate "The payment has not been made." %}</p>
    <p>
      <!--<a href="{% url 'registrations:registrations_registered_activities' %}"><i class="icon-calendar"></i> {% translate "My registered activities" %}</a>&nbsp; &mdash;&nbsp;-->
      <a href="{% url "wizard_billing" %}"> {% translate "Payment" %}</a>
      <!--<a href="{% url 'registrations:registrations_billing' %}"><i class="icon-credit-card-1"></i> {% translate "My invoices" %}</a>-->
  </p>

  </div>

{% endblock content %}
