{% extends "base.html" %}
{% load i18n %}
{% load duration switzerland %}

{% block title %}{% trans "Payment failure" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Payment failed" %} {% endblock %}

{% block content %}
  <div class="portlet ">
    <p class="lead">{% trans "The payment has not been made." %}</p>
    <p>
      <a href="{% url 'registrations:registrations_registered_activities' %}"><i class="icon-calendar"></i> {% trans "My registered activities" %}</a>&nbsp; &mdash;&nbsp;
      <a href="{% url 'registrations:registrations_billing' %}"><i class="icon-credit-card-1"></i> {% trans "My invoices" %}</a>
  </p>

  </div>

{% endblock content %}
