{% extends "base.html" %}
{% load i18n %}
{% load duration switzerland %}

{% block title %}{% trans "Payment successful" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Payment successful" %} {% endblock %}

{% block content %}
  <div class="portlet hidden-print">
    <p class="lead">{% trans "The payment was successful." %}</p>
    <p>
      <a href="{% url 'registrations:registrations_registered_activities' %}"><i class="icon-calendar"></i> {% trans "My registered activities" %}</a>&nbsp; &mdash;&nbsp;
      <a href="{% url 'registrations:registrations_billing' %}"><i class="icon-credit-card-1"></i> {% trans "My invoices" %}</a>
  </p>
  </div>
{% include "registrations/invoice-recap.html" %}

{% endblock content %}
