<div class="modal-header" ng-controller="ActivityDetailCtrl">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>{[{ selectedCourse.activity.name }]}</h5>
  <h5>{[{ selectedCourse.start_date | date:'longDate' }]} - {[{ selectedCourse.end_date | date:'longDate' }]}</h4>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>Responsable</dt>
    <dd>{[{ selectedCourse.responsible.first  }]} {[{ selectedCourse.responsible.last  }]}
    <div>{[{ selectedCourse.responsible.phone  }]}</div>
    <div><a href="mailto:{[{ selectedCourse.responsible.email  }]}">email</a></div>

    </dd>
    <dt>Lieu</dt><dd>{[{ selectedCourse.place  }]}</dd>
    <dt>Dates</dt>
    <dd ng-switch on="selectedCourse.day">{[{ selectedCourse.number_of_sessions }]} cours, tous les 
      <span ng-switch-when="1">lundis</span>
      <span ng-switch-when="2">mardis</span>
      <span ng-switch-when="3">mercredis</span>
      <span ng-switch-when="4">jeudis</span>
      <span ng-switch-when="5">vendredis</span> de {[{ selectedCourse.start_time }]} à {[{ selectedCourse.end_time }]}<br /> entre le {[{ selectedCourse.start_date | date:'longDate' }]} et le {[{ selectedCourse.end_date | date:'longDate'  }]}
    </dd>
    <dt>Prix</dt><dd>CHF {[{ selectedCourse.price }]}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Places disponibles</dt>
    <dd>
      <div>
        {[{ selectedCourse.count_participants  }]} participants
        <span class="pull-right strong"> {[{ selectedCourse.max_participants }]} places</span>
      </div>
      <div class="progress" style="margin-bottom: 0"
           ng-class="{'progress-success': selectedCourse.count_participants >= selectedCourse.min_participants,
                      'progress-warning': selectedCourse.count_participants < selectedCourse.min_participants,
                      'progress-danger': selectedCourse.count_participants >= selectedCourse.max_participants}">
        <div class="bar" 
             style="width: {[{ 100 * selectedCourse.count_participants /  selectedCourse.max_participants }]}%"></div>
      </div>
      <small>{[{ selectedCourse.min_participants }]} participants requis pour que l'activité ait lieu</small>
    </dd>
  </dl>
</div>

<div ng-switch on="selectedEvent.className">
  <div class="modal-footer" ng-switch-when="available">
    <button type="button" class="btn" ng-click="hide()">Fermer</button>
    <button ng-show="{[{ selectedCourse.count_participants < selectedCourse.max_participants && getRegisteredCourses(selectedChild).length < 4}]}" 
            class="btn btn-success" ng-click="register(selectedEvent);hide()">Inscrire {[{ selectedChild.first_name }]}</button>
    <span ng-hide="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}" 
        class="btn btn-primary disabled" >Plus de place</span>
    <span ng-show="{[{ selectedCourse.count_participants < selectedCourse.max_participants && getRegisteredCourses(selectedChild).length >= 4}]}" 
        class="btn btn-primary disabled" >Inscrire {[{ selectedChild.first_name }]}</span>
    <p ng-show="getRegisteredCourses(selectedChild).length >= 4" class="text-info" style="margin-top: .4em">Le nombre maximal d'inscriptions par enfant (4) est atteint.</p>


  </div>
  
  <div class="modal-footer" ng-switch-when="registered">
    <button type="button" class="btn" ng-click="hide()">Fermer</button>
    <button ng-show="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}" 
            class="btn btn-danger" ng-click="unregister(selectedEvent);hide()">Désinscrire {[{ selectedChild.first_name }]}</button>
    <span ng-hide="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}" 
        class="btn btn-primary disabled" >Plus de place</span>
  </div>

  <div class="modal-footer" ng-switch-when="unavailable">
    <button type="button" class="btn" ng-click="hide()">Fermer</button>
    <button ng-show="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}" 
            class="btn btn-danger" ng-click="unregister(selectedEvent);hide()">Désinscrire mon enfant</button>
    <span ng-hide="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}" 
        class="btn btn-primary disabled" >Plus de place</span>
  </div>

  <div class="modal-footer" ng-switch-default>
      <button type="button" class="btn" ng-click="hide()">Fermer</button>
  </div>

</div>