<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header" ng-controller="ActivityDetailCtrl">
        <button type="button" class="close" data-dismiss="modal" ng-click="$hide()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title" id="myModalLabel">{[{ selectedCourse.activity.name }]} <small>(cours n°
          {[{ selectedCourse.number }]})</small></h4>
        <h5>{[{ selectedCourse.start_date | date:'longDate' }]} - {[{ selectedCourse.end_date | date:'longDate' }]}</h5>
      </header>

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Moniteurs</dt>
          <dd>
            <ul class="list-unstyled">

              <li ng-repeat="instructor in selectedCourse.instructors">
                {[{ instructor.first }]} {[{ instructor.last }]}
              </li>
            </ul>

          </dd>
          <dt>Lieu</dt>
          <dd>{[{ selectedCourse.place }]}</dd>
          <dt>Dates</dt>
          <dd ng-show="selectedCourse.course_type == 'course'">
            <p ng-switch on="selectedCourse.day">{[{ selectedCourse.number_of_sessions }]} cours, tous les
              <span ng-switch-when="1">lundi</span>
              <span ng-switch-when="2">mardi</span>
              <span ng-switch-when="3">mercredi</span>
              <span ng-switch-when="4">jeudi</span>
              <span ng-switch-when="5">vendredi</span>
              <span ng-switch-when="6">samedi</span>
              <span ng-switch-when="7">dimanche</span>
              de {[{ selectedCourse.start_time }]} à {[{ selectedCourse.end_time }]}<br/>
              entre le {[{ selectedCourse.start_date | date:'longDate' }]} et le
              {[{ selectedCourse.end_date | date:'longDate' }]}
            </p>
          </dd>
          <dd ng-show="selectedCourse.course_type == 'camp'">
            Du {[{ selectedCourse.start_date | date:'longDate'}]} au {[{ selectedCourse.end_date | date:'longDate'}]}
          </dd>
          <dd ng-show="selectedCourse.course_type == 'multicourse'">
            <ul class="list-unstyled">
              <li ng-show="selectedCourse.multi_course.start_time_mon">Lundi, de
                {[{ selectedCourse.multi_course.start_time_mon }]} à {[{ selectedCourse.multi_course.end_time_mon }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_tue">Mardi, de
                {[{ selectedCourse.multi_course.start_time_tue }]} à {[{ selectedCourse.multi_course.end_time_tue }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_wed">Mercredi, de
                {[{ selectedCourse.multi_course.start_time_wed }]} à {[{ selectedCourse.multi_course.end_time_wed }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_thu">Jeudi, de
                {[{ selectedCourse.multi_course.start_time_thu }]} à {[{ selectedCourse.multi_course.end_time_thu }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_fri">Vendredi, de
                {[{ selectedCourse.multi_course.start_time_fri }]} à {[{ selectedCourse.multi_course.end_time_fri }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_sat">Samedi, de
                {[{ selectedCourse.multi_course.start_time_sat }]} à {[{ selectedCourse.multi_course.end_time_sat }]}
              </li>
              <li ng-show="selectedCourse.multi_course.start_time_sun">Dimanche, de
                {[{ selectedCourse.multi_course.start_time_sun }]} à {[{ selectedCourse.multi_course.end_time_sun }]}
              </li>
            </ul>
            Du {[{ selectedCourse.start_date | date:'longDate'}]} au {[{ selectedCourse.end_date | date:'longDate'}]}
          </dd>
          <dt>Prix</dt>
          <dd>
            <ul ng-show="{[{ selectedCourse.price_local }]}">
              <li>CHF {[{ selectedCourse.price }]} (externe)</li>
              <li>CHF {[{ selectedCourse.price_local }]} (indigène)</li>
              <li>CHF {[{ selectedCourse.price_family }]} (externe, rabais fratrie)</li>
              <li>CHF {[{ selectedCourse.price_local_family }]} (indigène, rabais fratrie)</li>
            </ul>
            <span ng-hide="{[{ selectedCourse.price_local }]}">CHF {[{ selectedCourse.price }]}</span>
            <p ng-show="selectedCourse.price_description"
               ng-bind-html="selectedCourse.price_description | newlines">
            </p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Places disponibles</dt>
          <dd>
            <div>
              <span ng-show="!selectedCourse.accepts_registrations">Cours complet</span>
              <span ng-show="selectedCourse.accepts_registrations">
                {[{ selectedCourse.count_participants }]} participants
              </span>
              <span class="pull-right strong"> {[{ selectedCourse.max_participants }]} places</span>
            </div>
            <div class="progress" style="margin-bottom: 0">
              <div class="progress-bar"
                   ng-class="{'progress-bar-success': selectedCourse.accepts_registrations && selectedCourse.count_participants >= selectedCourse.min_participants,
                      'progress-bar-warning': selectedCourse.accepts_registrations && selectedCourse.count_participants < selectedCourse.min_participants,
                      'progress-bar-danger': !selectedCourse.accepts_registrations}"
                   role="progressbar" aria-valuemin="0" aria-valuemax="selectedCourse.max_participants"
                   aria-valuenow="selectedCourse.count_participants"
                   style="width:{[{ selectedCourse.accepts_registrations ? 100 * selectedCourse.count_participants / selectedCourse.max_participants : 100}]}%">
                <span
                    ng-show="selectedCourse.accepts_registrations">Places disponibles</span>
                <span ng-show="!selectedCourse.accepts_registrations">Complet</span>
                <span class="sr-only">{[{ selectedCourse.count_participants }]} participants inscrits</span>
              </div>
            </div>
            <small>{[{ selectedCourse.min_participants }]} participants requis pour que l'activité ait lieu</small>
          </dd>
        </dl>
      </div>

      <div ng-switch on="selectedEvent.className">
        <footer class="modal-footer" ng-switch-when="registered">
          <button type="button" class="btn" ng-click="$hide()">Fermer</button>
          <button class="btn btn-danger" ng-click="unregister(selectedEvent);$hide()">Désinscrire
            {[{ selectedChild.first_name }]}
          </button>
        </footer>

        <footer class="modal-footer" ng-switch-when="validated">
          L'inscription de votre enfant à ce cours a déjà été validée.

          <button type="button" class="btn" ng-click="$hide()">Fermer</button>
        </footer>

        <footer class="modal-footer" ng-switch-when="unavailable">
          <!-- should not happen, we can't click on unavailable events -->
          <button type="button" class="btn" ng-click="$hide()">Fermer</button>

          <span ng-hide="{[{ selectedCourse.count_participants < selectedCourse.max_participants }]}"
                class="btn btn-info disabled">Plus de place</span>
        </footer>

        <footer class="modal-footer" ng-switch-default>
          <button type="button" class="btn" ng-click="$hide()">Fermer</button>

          <!-- Course NOT full, max number of regisatration NOT reached => we can register -->
          <button
              ng-show="{[{ selectedCourse.allow_new_participants && selectedCourse.count_participants < selectedCourse.max_participants && getRegistrations(selectedChild).length < maxregistrations}]}"
              class="btn btn-success" ng-click="register(selectedEvent);$hide()">Inscrire {[{ selectedChild.first_name
            }]}
          </button>

          <!-- If the course is full -->
          <span ng-hide="{[{ selectedCourse.allow_new_participants && selectedCourse.count_participants < selectedCourse.max_participants && getRegistrations(selectedChild).length < maxregistrations }]}">
            <span ng-show="{[{ usewaitingslots  }]}">
              <span ng-hide="{[{ isOnWaitingList(selectedCourse, selectedChild) }]}">
                <button class="btn btn-primary waiting-slot"
                        ng-click="addToWaitingList(selectedCourse, selectedChild);$hide()"
                >Inscription sur la liste d'attente</button>
                <br>
                <small>Vous serez notifié si des places sont libérées.</small>
              </span>
              <span ng-show="{[{ isOnWaitingList(selectedCourse, selectedChild) }]}">
                <button class="btn btn-danger waiting-slot"
                        ng-click="removeFromWaitingList(selectedCourse, selectedChild);$hide()"
                >Retirer de la liste d'attente</button>
              </span>
            </span>

          </span>

          <!-- If the max number of registrations is reached -->
          <span
              ng-show="{[{ selectedCourse.accepts_registrations && getRegistrations(selectedChild).length >= maxregistrations}]}"
              class="btn btn-primary disabled">Inscrire {[{ selectedChild.first_name }]}</span>
          <p ng-show="getRegistrations(selectedChild).length >= maxregistrations" class="text-info"
             style="margin-top: .4em">Le nombre maximal d'inscriptions par enfant ({[{ maxregistrations }]}) est
            atteint.</p>
        </footer>
      </div>
    </div>
  </div>
</div>
