<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>{[{ selectedCourse.activity.name }]}</h3>

</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>Responsable</dt><dd>{[{ selectedCourse.responsible  }]}</dd>
    <dt>Lieu:</dt><dd>{[{ selectedCourse.place  }]}</dd>
    <dt>Places disponibles</dt>
    <dd>
      <div>
        <span class="pull-right strong">{[{ selectedCourse.count_participants  }]} / {[{ selectedCourse.max_participants }]}</span>
      </div>
      <div class="progress"
           ng-class="{'progress-success': selectedCourse.count_participants >= selectedCourse.min_participants,
                      'progress-warning': selectedCourse.count_participants < selectedCourse.min_participants}">
        <div class="bar" 
             style="width: {[{ 100 * selectedCourse.count_participants /  selectedCourse.max_participants }]}%"></div>
        
      </div>
    </dd>
  </dl>
  <h4>Places disponibles</h4>
    <pre>{[{ selectedCourse }]}</pre>
  <br />
  <pre>2 + 3 = {{ 2 + 3 }}</pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
  <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Save changes</button>
</div>