<form name="child-form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputFirstName">Prénom</label>
    <div class="controls">
      <input id="inputFirstName" ng-model="detailedChild.first_name" type="text" required/>
      <span ng-show="child-form.name.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName">Nom</label>
    <div class="controls">
      <input id="inputLastName" ng-model="detailedChild.last_name" type="text" required/>
      <span ng-show="child-form.name.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  
  
  
  <div class="control-group input-append">
    <label class="control-label" for="inputBirthDate">Date de naissance</label>
    <div class="controls">
      <input type="text" placeholder="31/12/2008" ng-model="detailedChild.birth_date" data-date-format="dd/mm/yyyy" data-language="fr" mo-date-input="{{dateFormat}}" bs-datepicker>
      <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      <span ng-show="child-form.name.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>     


  <div class="form-actions">
    <button ng-click="saveChild()" ng-disabled="isClean() || child-form.$invalid" class="btn btn-left btn-primary">Ajouter</button>
  </div>
</form>