
<h2>{[{ detailedActivity.name }]}</h2>

<div class="calendar" ng-model="eventSources" calendar="calendar-{[{ detailedActivity.id }]}" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                        



                        <h3>Courses</h3>
<ul class="unstyled">
    <li ng-repeat="course in detailedActivity.courses">{[{ course.start_date }]}</li>
</ul>
<article class="span9" ng-controller="ActivityTimelineCtrl"> 
        <h1>timeline</h1>
        <ul>
          <li ng-repeat="course in activity.courses">{[{ course.responsible }]}</li>
        </ul>
      </article>
