#wrapper {
    margin-bottom: -254px;
    padding-bottom: 254px;
}
#footer {
    height: 254px;
}

/* MVP Ready
-------------------------------------------------- */
.pricing-plan{
    max-width: none;
    text-align: left;
}
.pricing-plan .pricing-header {
    text-align: center;
}
.topped {
    padding-top:0;
    margin-top: 0;
}

dt {
    font-weight: 600;
}
.page-header {
    border: none;
}

legend{
    font-family: Oswald;
}