{% extends "backend/base.html" %}
{% load i18n sekizai_tags duration switzerland static %}

{% block title %}{% trans "Manage agenda" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Manage agenda" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}
  {% addtoblock "css" %}
    <link href="{% static 'js/vendor/fullcalendar-5/lib/main.css' %}" rel="stylesheet"/>
    <style>
      .fc .fc-button {
        padding: 0 0.6em;
      }
    </style>
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/vendor/handlebars.min.js' %}"></script>

    <script src="{% static 'js/vendor/fullcalendar-5/lib/main.js' %}"></script>
    <script src="{% static 'js/vendor/fullcalendar-5/lib/locales/fr-ch.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        moment.locale('fr-ch');
        $.ajaxSetup({
          headers: {"X-CSRFToken": Cookies.get("csrftoken")}
        });
        let $modal = $('#calendar-modal');
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
          allDaySlot: false,
          events: '{% url "api:slots-list" %}',
          editable: true,
          eventStartEditable: true,
          eventResizableFromStart: true,
          eventDurationEditable: true,
          eventResize: function (eventResizeInfo) {
            $.ajax({
              type: "PATCH",
              url: eventResizeInfo.event.url,
              data: {'start': eventResizeInfo.event.startStr, 'end': eventResizeInfo.event.endStr},
              dataType: "json",
              success: function (data) {
                calendar.refetchEvents();
              }
            });
          },
          eventClick: function (info) {
            info.jsEvent.preventDefault();
            openModal(info.event);
          },
          headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
          // Show the date picker for quick navigation
    customButtons: {
      datePicker: {
        text: "{% trans 'Jump to Date...' %}",
        click: function() {
          const selectedDate = prompt("{% trans "Enter a date (DD.MM.YYYY)" %}");
          const formattedDate = moment(selectedDate, 'DD.MM.YYYY', true); // Parse Swiss format

          // Check if the date is valid
          if (formattedDate.isValid()) {
            calendar.gotoDate(formattedDate.format('YYYY-MM-DD')); // Convert to FullCalendar format
          } else {
            alert("{% trans "Invalid date, please use dd.mm.yyyy format, like 31.12.2028" %}"); // Alert if invalid
          }
        }
      }
    },
    footerToolbar: {
      center: 'datePicker'  // Place the custom date picker button in the footer
    },

          initialView: 'timeGridWeek',
          locale: 'fr-ch',
          selectable: true,
          select: function (info) {
            openModalForNewSlot(info);
          },
          slotDuration: '00:15:00',
          slotMinTime: '07:00',
          slotMaxTime: '20:00'
        });
        calendar.gotoDate("{{ start }}");
        calendar.render();

        // Function to open the modal with event data for editing
        function openModal(event) {
          $('.modal-title', $modal).text(moment(event.start).format('dddd Do MMM YYYY, h:mm') + '-' + moment(event.end).format('h:mm'));
          $('#id_places', $modal).val(event.extendedProps.places);
          $("#id_appointment_type", $modal).val(event.extendedProps.appointment_type);
          $('form', $modal).attr('action', event.url);
          $('form', $modal).data('method', 'PATCH'); // Set method to PATCH for existing slots
          $modal.modal();
        }

        // Function to open the modal for creating a new slot
        function openModalForNewSlot(info) {
          // Set the modal title to the selected start and end times
          $('.modal-title', $modal).text(moment(info.start).format('dddd Do MMM YYYY, h:mm') + '-' + moment(info.end).format('h:mm'));

          // Clear previous values and set default
          $('#id_places', $modal).val(''); // Empty for new slot
          $('form', $modal).attr('action', '{% url "api:slots-list" %}'); // Set action to slot list URL
          $('form', $modal).data('method', 'POST'); // Set method to POST for new slots

          // Store start and end dates for the new slot submission
          $('form', $modal).data('start', info.startStr);
          $('form', $modal).data('end', info.endStr);

          $modal.modal();
        }


        $('#remove-event').on('click', function (event) {
          let url = $('form', $modal).attr('action');
          $.ajax({
            url: url,
            type: 'DELETE',
            success: function (response) {
              calendar.refetchEvents();
            }
          });
        });

      // Handle form submission in the modal for both new and existing slots
    $('form', $modal).on('submit', function (event) {
      event.preventDefault();
      let url = $('form', $modal).attr('action');
      let method = $('form', $modal).data('method'); // Use method set in data attributes

      // Prepare data for submission
      let data = {'places': $('#id_places', $modal).val(), 'appointment_type': $('#id_appointment_type', $modal).val()};
      if (method === 'POST') {
        // Include start and end times for new slots
        data.start = $('form', $modal).data('start');
        data.end = $('form', $modal).data('end');
      }

      $.ajax({
        url: url,
        type: method,
        data: data,
        dataType: 'json',
        success: function (response) {
          $modal.modal('hide');
          calendar.refetchEvents();
        }
      });
    });
      });


    </script>
  {% endaddtoblock %}

  <section class="portlet">

    <h3 class="content-title"><u> {% trans "Available dates" %} </u>
    </h3>
    <div id="calendar"></div>


    <div class="modal fade" id="calendar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans "Edit slot" %}</h4>
          </div>
          <div class="modal-body">
            <form method="post" class="form-horizontal" action="">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-sm-4" for="id_places">{% trans "Number of places" %}</label>
                <div class="col-sm-8">
                  <input type="number" name="places" value="" min="0"
                         required="" id="id_places" class="form-control">
                  <span id="help-places" class="help-block"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="id_appointment_type">{% trans "Type of appointment" %}</label>
                <div class="col-sm-8">
                  <select name="appointment_type" id="id_appointment_type" class="form-control">
                    <option value="pickup">{% trans "Pickup" %}</option>
                    <option value="return">{% trans "Return" %}</option>
                    <option value="other">{% trans "Other" %}</option>
                  </select>
                  <span id="help-appointment_types" class="help-block"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-danger" id="remove-event" data-dismiss="modal"><i
                      class="icon-trash"></i> {% trans "Remove slot" %}</button>
                </div>
                <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                  <button type="submit" class="btn btn-success" id="save-event">{% trans "Save" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </section>
{% endblock content %}
