{% extends "backend/base.html" %}
{% load i18n sekizai_tags duration switzerland %}

{% block title %}{% trans "All appointments" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "All appointments" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}
  <p>
    <a href="{% url 'backend:appointments-export' %}" class="btn btn-primary"><i class="icon-file-excel"></i> {% trans "Export appointments" %}</a>
  </p>
  {% regroup object_list by start|date:"l d F Y" as slots_per_day %}
  {% for slot in slots_per_day %}
    <section class="portlet">
      <h3 class="content-title"><u>{{ slot.grouper }}</u></h3>
      {% for slot in slot.list %}
        <h4>{{ slot.start | date:"H:i" }} - {{ slot.end | date:"H:i" }}</h4>
          <ul>
            {% for appointment in slot.appointments.all %}
              <li>
                {% if BIB_NUMBERS %}{{ appointment.child.bib_number }} : {% endif %}{{ appointment.child }} -
                <a href="{{ appointment.phone_number|phone:'RFC3966' }}">{{ appointment.phone_number|phone }}</a>
                - {{ appointment.email | urlize}}
                  <a class="btn btn-sm" style="margin-left: 80px" href="{{ appointment.get_backend_delete_url }}"><i class="icon-trash"></i> {% trans "Delete" %}</a>

              </li>
            {% endfor %}
          </ul>
      {% endfor %}
    </ul>
    </section>
  {% endfor %}
{% endblock content %}
