{% load static i18n %}

    
<footer id="footer">
  <div class="container">
    <div>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">© 
        <span itemprop="name">Sport scolaire facultatif de Montreux</span><br />
        <span itemprop="streetAddress">Rue de la Gare 33</span>, 
        <span itemprop="postalCode">1820</span> <span itemprop="addressLocality">Montreux</span>
      </address>
      <img src="{% static 'img/logo.png' %}" class="hidden-xs hidden-sm hidden-print"/>
      <ul class="footer-links hidden-print">
        <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
        <li class="muted">·</li>
        <li><a href="{% url 'terms' %}">{% trans "Terms and conditions" %}</a></li>
      </ul>
      <small><a href="http://www.beyondthewall.ch">Développé par Beyond the Wall, Gland</a></small>
    </div>
  </div>
</footer>