{% extends "wizard.html" %}
{% load i18n %}

{% block extra_html %}xmlns:ng="http://angularjs.org" ng-app="sportfacCalendar" ng-controller="ChildrenCtrl" id="ng-app"{% endblock extra_html %}
{% block page_title %}{% trans "Activities" %}{% endblock page_title%}


{% block content %}
<div class="row">
<div class="tabbable">
  <ul class="nav nav-tabs children" style="margin-left: 30px">
    <li ng-repeat="child in userChildren" ng-class="{active: child.selected}">
      <a href="./#/child/{[{ child.id }]}/" ng-click="selectChild(child.id)">
        <i class="icon-user" ng-class="{unavailable: !child.selected, available: child.selected}"></i> {[{ child.first_name }]}
      </a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" ng-view></div>
  </div>
  
</div><!-- end tabbable -->
</div>
{% endblock content %}

{% block page_footer %}
  <div class="form-actions">
      <a class="btn" href="{{ previous_step.url }}"><i class="icon-chevron-left"></i> {% trans "Previous"%}</a>
    <div class="pull-right">
      <a href="{{ next_step.url }}" class="btn btn-primary btn-large btn-next" ng-class="{'disabled': registrations.length === 0}">{% trans "End registration"%} <i class="icon-chevron-right"></i></a>
    </div>          
  </div>
{% endblock page_footer %}




{% block extra_js %}
{% if debug %}
<script src="{{ STATIC_URL }}js/vendor/fullcalendar.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-ui-calendar.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-strap.min.js"></script>
<script src="{{ STATIC_URL }}js/activities/services.js"></script>
<script src="{{ STATIC_URL }}js/activities/controllers.js"></script>
<script src="{{ STATIC_URL }}js/activities/app.js"></script>
{% else %}
<script src="{{ STATIC_URL }}js/activities/app.min.js"></script>
{% endif %}
{% endblock extra_js %}