{% extends "base.html" %}
{% load i18n %}
{% load duration phone money %}

{% block title %}{{ activity.name }} - Sport scolaire facultatif - EP Coppet{% endblock %}
{% block page_title %}{{ activity.name }} {% endblock %}

{% block content %}
<div class="portlet">
{{ activity.description|safe }}
  
{% if activity.informations %}
<h4 >Informations spécifiques</h4>
{{ activity.informations | safe }}
{% endif %}
  
</div>

<h3 class="content-title">
  <u>Cours</u>
</h3>
<div class="row">
  {% for course in activity.courses.all %}
  <section class="col-sm-6 topped">
    <div class="pricing-plan">
      <header class="pricing-header">
        <p class="pricing-plan-label">{% blocktrans with number=course.number %}Course #{{ number }}{% endblocktrans %}</p>

        <h4 class="pricing-plan-title">
          {{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}
        </h4>
        <p class="pricing-plan-label">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }} à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
      </header>
      
      <dl class="dl-horizontal">
        <dt>{% trans "Responsible" %}</dt>
        <dd>{{ course.responsible.full_name  }}
            {% if course.responsible.best_phone %}<br /><a href="{{ course.responsible.best_phone|swissphone:'RFC3966' }}">{{ course.responsible.best_phone|swissphone }}</a>{% endif %}
            {% if course.responsible.email %}<br /><a href="mailto:{{course.responsible.email}}">{% trans "email" %}</a>{% endif %}</dd>
        <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
        <dt>{% trans "Number of sessions" %}</dt>
        <dd>{{ course.number_of_sessions }} cours
        </dd>
        <dt>{% trans "Price" %}</dt><dd>{{ course.price|swissfranc }}</dd>
        <dt>{% trans "School years" %}</dt><dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
      </dl>

      <h4 class="content-title">
        <u>{% trans "Availability"%}</u>
      </h4>      
        <p>{{ course.count_participants  }} participants <span class="pull-right strong"> {{ course.max_participants }} places</span></p>
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%"></div>
        </div>
        <p class="text-right"><small>{{ course.min_participants }} participants requis pour que l'activité ait lieu</small></p>
    </div>
  </section>
  {% endfor %}
</div>
{% endblock content %}