{% extends "wizard.html" %}
{% load i18n %}

{% block extra_html %}ng-app="sportfacCalendar" ng-controller="ActivityCtrl"{% endblock extra_html %}
{% block page_title %}{% trans "Activities" %}{% endblock page_title%}

{% block content %}
<div class="container" >
  <div class="tabbable" style="margin-left:-30px">
    <ul class="nav nav-tabs children" >
      <li ng-repeat="child in userChildren" ng-class="{active: child.selected}">
        <a data-toggle="tab" href="#/child/{[{ child.first_name }]}">
          <i class="icon-user" ng-class="{unavailable: !child.selected, available: child.selected}"></i> {[{ child.first_name }]}
        </a>
      </li>
    </ul>
  
    <div class="tab-content" style="margin-left:-30px">
      
      <div class="tab-pane" ng-class="{active: child.selected}" ng-repeat="child in userChildren" id="child-{[{ child.id }]}">
        
        <div class="span3 bs-docs-sidebar" ng-controller="ActivityListCtrl">
          <h4>{% trans "Available activities" %}</h4>
          <ul class="nav nav-list bs-docs-sidenav">
            <li ng-repeat="activity in activities" ng-class="{active: activity.selected}">
              <a ng-class="{'active': activity.selected}" href="#/activity/{[{ activity.id }]}/timeline/" ng-click="selectActivity(activity);">{[{ activity.name }]} <!--<a class="btn" href="#/activity/{[{ activity.id }]}/detail"><i class="icon-eye-open"></i></a>--> <i class="icon-chevron-right"></i></a>
            </li>
          </ul>
        </div>
          
        <article class="span9">
           <div ng-view></div>
        </article>
      </div><!-- end pane -->
    </div><!-- end tab-content -->
  </div><!-- end tabbable -->
</div> <!-- end container -->
{% endblock content %}

{% block page_footer %}
  <div class="form-actions">
      <a class="btn" href="{{ previous_step.url }}"><i class="icon-chevron-left"></i> {% trans "Previous"%}</a>
    <div class="pull-right">
      <span ng-hide="userChildren.length > 0" class="btn btn-primary btn-large disabled" >{% trans "Next"%} <i class="icon-chevron-right icon-white"></i> </span>

      <button ng-show="userChildren.length > 0" class="btn btn-primary btn-large" ng-click="registerCourses()" style="display:none">{% trans "Next"%} <i class="icon-chevron-right icon-white"></i> </button>
          
  </div>
{% endblock page_footer %}




{% block extra_js %}
{% if debug %}
  <script src="{{ STATIC_URL }}js/vendor/jquery-ui.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/fullcalendar.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-ui-calendar.js"></script>
  <script src="{{ STATIC_URL }}js/activities/services.js"></script>
  <script src="{{ STATIC_URL }}js/activities/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/activities/app.js"></script>
{% else %}
  <script src="{{ STATIC_URL }}js/activities/app.min.js"></script>
{% endif %}
{% endblock extra_js %}