{% extends "base.html" %}
{% load i18n %}
{% load duration switzerland %}

{% block title %}{{ course.activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}
    {{ course.activity.name }} - {% blocktrans with identifier=course.number %}course #{{ identifier }}{% endblocktrans %}
    {% if CALENDAR_DISPLAY_COURSE_NAMES and course.name %}
    - {{ course.name }}
    {% endif %}
{% endblock %}

{% block content %}
<section class="portlet">
  <div class="pricing-plan">
    <header class="pricing-header">
      <p class="pricing-plan-label">{{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}</p>
      <p class="lead">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }} à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
    </header>
    <dl class="dl-horizontal">
      <dt>{% trans "Instructors" %}</dt>
      <dd>
        <ul class="list-unstyled">
        {% for instructor in course.instructors.all %}
          <li>
            {{ instructor.full_name  }}<br />
            <a href="{{ instructor.best_phone|phone:'RFC3966' }}">{{ instructor.best_phone|phone }}</a><br/>
            {{ instructor.email|urlize  }}
          </li>
        {% endfor %}
        </ul>       
      </dd>
      <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
      <dt>{% trans "Number of sessions" %}</dt><dd>{{ course.number_of_sessions }} cours</dd>
{% if not NO_PAYMENT %}
      <dt>{% trans "Price" %}</dt><dd>{{ course.price|money }}</dd>
{% endif %}
      <dt>{% trans "School years" %}</dt>
      <dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
    </dl>
      
    <h4 class="content-title"><u>{% trans "Availability"%}</u></h4>      
    <p>{{ course.count_participants  }} participants <span class="pull-right strong"> {{ course.max_participants }} places</span></p>
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%">{% if course.full %}{% trans "Course full" %}{% elif course.minimal_participants_reached %}{% trans "Minimal number of participants reached" %}{% else %}{% trans "Not enough participants" %}{% endif %}</div>
    </div>
    <p class="text-right"><small>{{ course.min_participants }} participants requis pour que l'activité ait lieu</small></p>
  
{% if user in course.instructors.all %}
  <h4 class="content-title"><u>{% trans "Management" %}</u></h4>
  <a href="{{ course.get_custom_mail_instructors_url }}" class="btn btn-default hidden-print"><i class="icon-mail"></i>&nbsp;{% trans "Mail all participants" %}</a> &nbsp;
  {% if USE_ABSENCES %}
  <a href="{{ course.get_absences_url }}" class="btn btn-default hidden-print"><i class="icon-calendar"></i>&nbsp;{% trans "Manage absences" %}</a>
  {% endif %}
{% endif %}

    </div>

</section>


<section>
  <h2>{% trans "Registrations" %}</h2>
  
  <table class="table">

    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        
        {% if DISPLAY_PARENT_CITY %}
        <th>{% trans "City" %}</th>
        {% endif %}
        
        <th>{% if CHILD_SCHOOL %}{% trans "School infos" %}{% else %}{% trans "School year" %}{% endif %}</th>
    {% if user in course.instructors.all  %}
        <th>{% trans "Birth date" %}</th>
        {% if EMERGENCY_NUMBER_MANDATORY %}
        <th>{% trans "Emergency number" %}</th>
        {% endif %}
        <th>{% trans "Parents phones" %}</th>
    {% else %}
        <th>{% trans "Teacher" %}</th>
    {% endif %}
        <th>{% trans "Parents email" %}</th>
      </tr>
    </thead>
  

    {% for registration in course.participants.all %}
      <tr>
        <td>{{ registration.child.full_name }}</td>
        
      {% if DISPLAY_PARENT_CITY %}
        <td>{{ registration.child.family.city|title }}</td>
      {% endif %}
        
        <td>
            {{ registration.child.school_year|default:"n/a" }}
            {% if CHILD_SCHOOL %}<br>
            {{ registration.child.school_name }}
            {% endif %}
        </td>
      
      {% if user in course.instructors.all %}
        <td>{{ registration.child.birth_date }}</td>
      
        {% if EMERGENCY_NUMBER_MANDATORY %}
        <td>
            <a href="{{ registration.child.emergency_number|phone:'RFC3966' }}">
                {{ registration.child.emergency_number|phone }}
            </a>
        </td>
        {% endif %}
        
        <td>
          <ul class="list-unstyled">
            {% if registration.child.family.private_phone %}
            <li>
              <a href="{{ registration.child.family.private_phone|phone:'RFC3966' }}">
                {{ registration.child.family.private_phone|phone }}
              </a>
            </li>
            {% endif %}
            {% if registration.child.family.private_phone2 %}
            <li>
              <a href="{{ registration.child.family.private_phone2|phone:'RFC3966' }}">
                {{ registration.child.family.private_phone2|phone }}
              </a>
            </li>
            {% endif %}
            {% if registration.child.family.private_phone3 %}
            <li>
              <a href="{{ registration.child.family.private_phone3|phone:'RFC3966' }}">
                {{ registration.child.family.private_phone3|phone }}
              </a>
            </li>
            {% endif %}
        </td>
      {% else %}
        <td>{% if registration.child.teacher %}{{ registration.child.teacher.full_name }}{% else %}n/a{% endif %}</td>
      {% endif %}
        
        <td>{{ registration.child.family.email | urlize }}</td>
      </tr>
    {% empty %}
    
    {% endfor %}
  </table>
  </section> 
{% endblock content %}