{% extends "base.html" %}
{% load i18n sekizai_tags duration %}

{% block title %}{% trans "My courses" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "My courses" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}

{% addtoblock  "js" %}    
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 7 ] }
      ]
  });
});
</script>
{% endaddtoblock %}

<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% trans "Identifier" %}</th>
      <th class="text-nowrap">{% trans "Activity" %}</th>
      <th class="text-nowrap">{% trans "Day" %}</th>
      <th class="text-nowrap">{% trans "Start date" %}</th>
      <th class="text-nowrap">{% trans "End date" %}</th>

      <th class="text-nowrap">{% trans "Time" %}</th>
      <th class="text-nowrap">{% trans "Duration" %}</th>
      <th class="text-nowrap">{% trans "Registrations" %}</th>
      <th class="text-nowrap">{% trans "Actions" %}</th>
    </tr>
  </thead>
  {% for course in object_list %}
    <tr>
      <td>{{ course.number }}</td>
      <td><a href="{{ course.activity.get_absolute_url }}">{{ course.activity.name }}</a></td>
      <td>{{ course.day_name }}</td>
      <td data-order="{{ course.start_date|date:'c'}}">{{ course.start_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td data-order="{{ course.end_date|date:'c'}}">{{ course.end_date|date:"SHORT_DATE_FORMAT" }}</td>

      <td>{{ course.start_time|time:"H:i" }}</td>
      <td data-order="{{ course.duration|seconds }}">{{ course.duration|duration }}</td>
      <td data-order="{{ course.available_places }}" 
          class="{% if course.full %}bg-danger{% elif course.minimal_participants_reached %}bg-success{% else %}bg-warning{% endif %}">
        {{ course.count_participants  }}&nbsp;/&nbsp;{{ course.max_participants }}
      </td>
      <td>
        <ul class="list-unstyled">
          {% if USE_ABSENCES %}
          <li class="text-nowrap"><a href="{{ course.get_absences_url }}" class="btn btn-sm"><i class="icon-calendar"></i>&nbsp;{% trans "Manage absences" %}</a></li>
          {% endif %}
          <li class="text-nowrap"><a href="{{ course.get_absolute_url }}" class="btn btn-sm"><i class="icon-check"></i>&nbsp;{% trans "Check registrations" %}</a></li>
          <li class="text-nowrap"><a href="{{ course.get_custom_mail_instructors_url }}" class="btn btn-sm"><i class="icon-mail"></i>&nbsp;{% trans "Mail participants" %}</a></li>
           <li class="text-nowrap"><a href="{{ course.get_mail_infos_url }}" class="btn btn-sm"><i class="icon-tasks"></i>&nbsp;</i>&nbsp;{% trans "Send course informations" %}</a></li>
          
        </ul>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}