{% extends "base.html" %}
{% load i18n floppyforms %}

{% block title %}{% trans "New email" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon icon-mail"></i>&nbsp;&nbsp;{% trans "New email" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
  {% if recipients %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_recipients">{% trans "To" %}</label>
      <div class=" field-recipient col-sm-10">
        <p class="form-control-static">
        {% for recipient in recipients %}
          <span class="label label-primary">{{ recipient }}</span>
        {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}
  {{ form }}
  <div class="form-group">
    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-success btn-large"><i class="icon-check"></i>&nbsp;{% trans 'Save and preview' %}</button>
    </div>
  </div>
</form>
{% endblock content %}

