{% extends "base.html" %}
{% load i18n %}

{% block title %}Inscriptions fermées{% endblock %}

{% block page_title %}Inscriptions fermées{% endblock %}

{% block content %}
{% if not registration_opened %}
<div class="alert alert-danger alert-block">
  <h4>{% translate "Registrations are currently closed" %}</h4>
  <p>{% blocktranslate with registration_start=registration_start|date:"j F Y" registration_end=registration_end|date:"j F Y" %}They will open from {{ registration_start }} until {{ registration_end }}.{% endblocktranslate %}</p>
  <p class="text-center">
    <a href="https://users.ssfmontreux.ch/" class="btn  btn-default">
      Connexion ou inscription
    </a>
  </p>
</div>
{% endif %}
{% endblock content %}
