{% load i18n %}

<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topnav">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-menu" style="color:#fff;"></span>
      </button>
      <a href="/" class="navbar-brand navbar-brand-white">{% include "main-title.html" %}</a>
    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse hidden-print" role="navigation" id="topnav">
      <ul class="nav navbar-nav  navbar-left">
        {% if not NO_TERMS %}
        <li><a href="{% url 'terms' %}">{% trans "Terms and conditions" %}</a></li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Activities" %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for activity in activities %}
            <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated and user.is_manager %}
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <i class="icon-sitemap"></i> {{ request.tenant }} <span class="caret"></span>
           </a>
           <ul class="dropdown-menu" role="menu">
             <form id="tenant-change" action="{% url 'backend:year-change' %}" method="post">
               {% csrf_token %}
               <input type="hidden" name="next" value="{{ request.get_full_path }}" />
               <input type="hidden" name="tenant" value="{{ request.tenant.pk }}" />
             </form>

            {% for tenant in tenants %}
            {% if tenant == request.tenant %}
            <li class="disabled">
              <a><i class="icon-star"></i> {{ tenant }}</a>
            </li>
            {% elif tenant.is_ready %}
            <li>
              <a href="#" onclick="$('#tenant-change input[name=tenant]').val({{ tenant.pk }}); $('#tenant-change').submit();">
                {% if tenant.is_past %}{% trans "Review" %}{% elif tenant.is_future %}{% trans "Preview" %}{% endif %} {{ tenant }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="divider"></li>
            <li>
              <a href="{% url 'backend:year-list' %}"><i class="icon-exchange"></i> {% trans "Manage periods" %}</a>
            </li>
           </ul>
         </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="icon-user"></i> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{% url 'profiles_account' %}"><i class="icon-pencil"></i> {% trans "My account" %}</a>
            </li>
            <li>
              <a href="{% url 'registrations_children' %}"><i class="icon-group"></i> {% trans "My family" %}</a>
            </li>

            {% if user.has_registrations %}
            <li>
              <a href="{% url 'registrations_registered_activities' %}"> <i class="icon-calendar"></i> {% trans "My registered activities" %}</a>
            </li>
            <li>
              <a href="{% url 'registrations_billing' %}"> <i class="icon-credit-card-1"></i> {% trans "My bills" %}</a>
            </li>
            {% endif %}

            {% if user.is_instructor %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'activities:my-courses' %}"><i class="icon-graduation-cap"></i> {% trans "My courses" %}</a>
              </li>
            {% endif %}
            {% if user.is_manager %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'backend:home' %}"><i class="icon-cogs"></i> {% trans "Administration" %}</a>
              </li>
            {% endif %}
            {% if user.is_staff or user.is_superadmin %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'admin:index' %}"><i class="icon-lock"></i> Django admin</a>
              </li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{% url 'auth_logout' %}?next=/">{% trans "logout" %}</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'auth_login' %}?next={{ request.path }}"><i class="icon-user icon-white"></i> {% trans "login" %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
