{% extends "backend/base.html" %}
{% load i18n mail_tags %}

{% block title %}{% trans "Send email" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Please confirm email" %}{% endblock %}

{% block content %}
<section>
  <h4 class="content-title"><u>{% trans "Preview" %}</u></h4>
  <dl class="dl-horizontal">
    <dt>{% trans "From" %}</dt><dd>{{ from_email }}</dd>
    <dt>{% trans "To" %}</dt>
    <dd>
      {% for recipient in to_email %}
          <span class="label label-primary">{{ recipient }}</span>
      {% endfor %}
    </dd>
    {% if bcc %}
    <dt>{% trans "BCC" %}</dt>
    <dd>
      {% for recipient in bcc_email %}
          <span class="label label-primary">{{ recipient }}</span>
      {% endfor %}
    </dd>
    {% endif %}

    <dt>{% trans "Subject" %}</dt><dd>{{ subject }}</dd>
    {% if attachments %}
      <dt>{% trans "Attachments" %}</dt>
      <dd>
        <ul class="list-horizontal">
          {% for attachment in attachments %}
            <li><a href="{{ attachment|fileurl }}"><i class="icon {{ attachment|fileicon }}"></i>&nbsp;{{ attachment|filename }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}
  </dl>
  <div class="well">{{ message|linebreaks }}</div>
</section>

<section>
  <form action="" method="post">{% csrf_token %}
    <p>
      {% blocktrans %}Are you sure you want to send this mail ?{% endblocktrans %}
      <a href="{{ edit_url }}"><i class="icon icon-edit"></i> {% trans "Modify mail" %}</a>
    </p>

    <div class="form-group">
      <button type="submit" class="btn btn-danger"><i class="icon icon-email"></i>&nbsp;{% trans 'Send all emails' %}</button>
      {% if cancel_url %}&nbsp;
        <a href="{{ cancel_url }}" class="btn btn-default">{% trans 'Cancel' %}</a>
      {% endif %}
    </div>
  </form>
</section>
{% endblock content %}