{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Send email" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon icon-mail"></i>&nbsp;&nbsp;{% trans "Please confirm email" %}{% endblock %}

{% block content %}
<section>
  <h4 class="content-title"><u>{% trans "Preview" %}</u></h4>
  <h5 class="text-center">
    {% if has_prev %}
      <a href="?number={{ prev }}" title="{% trans 'Previous email' %}"><i class=" icon-left-dir"></i></a>
    {% endif %}
    {% blocktrans with identifier=mailidentifier total=total %}Message {{ identifier }} / {{ total }}{% endblocktrans %}
    {% if has_next %}
      <a href="?number={{ next }}" title="{% trans 'Next email' %}"><i class=" icon-right-dir"></i></a>
    {% endif %}
  </h5>
  <dl class="dl-horizontal">
    <dt>{% trans "From" %}</dt><dd>{{ from_email }}</dd>
    <dt>{% trans "To" %}</dt><dd>{{ to_email }}</dd>
    <dt>{% trans "Subject" %}</dt><dd>{{ subject }}</dd>
  </dl>
  <div class="well">{{ message|linebreaks }}</div>

</section>
<section>
  <form action="" method="post">{% csrf_token %}
    <p>{% blocktrans %}Are you sure you want to send this mail to {{ total }} recipients ?{% endblocktrans %}</p>
    <a href="{% url 'backend:mail-participants-custom' course=course.pk %}" class="btn btn-default"><i class="icon icon-edit"></i> {% trans "Modify mail" %}</a> &nbsp;
    <div class="form-group">

      <button type="submit" class="btn btn-danger"><i class="icon icon-mail"></i>&nbsp;{% trans 'Send all emails' %}</button>
      {% if cancel_url %}&nbsp;
        <a href="{{ cancel_url }}" class="btn btn-default">{% trans 'Cancel' %}</a>
      {% endif %}
    </div>
  </form>
</section>

{% endblock content %}