{% load i18n sekizai_tags static humanize l10n countdowntimer %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}Sport scolaire facultatif – Montreux{% endblock title %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sport scolaire facultatif de Montreux">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-194x194.png' %}" sizes="194x194">
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-chrome-192x192.png' %}" sizes="192x192">
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16">
  <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
  <meta name="apple-mobile-web-app-title" content="ssfmontreux">
  <meta name="application-name" content="ssfmontreux">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-144x144.png' %}">
  <meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
  <link type="text/plain" rel="author" href="/humans.txt">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="all"/>
  <link href="{{ STATIC_URL }}css/mvpready-admin-pom.css" rel="stylesheet" media="all"/>
  <style>
    #wrapper {
      margin-bottom: -254px;
      padding-bottom: 254px;
      background-image: url("{% static "img/sport-equipment.jpg" %}");
      background-position: 40% 20%;
    }

    #pagecontent .container {
      background-color: rgba(255, 255, 255, 0.80);

    }

    .btn {
      display: inline-block;
    }

    .btn-primary {
      width: 100%;
      margin-bottom: 1em;

    }

    .btn-secondary {

    }

    p.text-center {
      margin-bottom: 0;
    }

    #footer {
      height: 254px;
    }

    h1 {
      margin-bottom: 1.5em;
      margin-top: 1em;
    }

    .pricing-plan {
      max-width: unset;
    }

    @media only screen and (max-width: 480px) {
      h1 {
        margin-bottom: 2em;
      }

      #wrapper {
        margin-bottom: -155px;
        padding-bottom: 155px;
      }

      #footer {
        height: 155px;
      }

    }
  </style>


  {% block extra_css %}{% endblock extra_css %}
  {% render_block "css" %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body {% block extra_body %}{% endblock %}>
<div id="wrapper">
  <div id="pagecontent">
    <div class="container" style="">
      <h1>Sport Scolaire Facultatif - Commune de Montreux</h1>
      {% block content %}
        {{ flatpage.content }}
      {% endblock %}

      <div class="row" style="margin-top: 3em;">
        <div class="col-sm-6 col-md-4 col-md-offset-1">
          <div class="pricing-plan">
            <div class="pricing-header">
              <h3 class="pricing-plan-title">Printemps / Automne</h3>
            </div>
            <a href="{% if registration_opened %}/wizard/{% else %}{% url 'registrations:registrations_registered_activities' %}{% endif %}">
              <img src="https://ssfmontreux.ch/static/img/vignette_automne_2023.jpg" class="img-responsive"
                   style="margin-bottom:15px">
            </a>

            <p class="text-center">
              {% if request.PHASE == 1 %}
                <p>
                  {% blocktrans with registration_start=registration_start|date:"j F Y" registration_end=registration_end|date:"j F Y" %}
                    Registrations from {{ registration_start }} to {{ registration_end }}.{% endblocktrans %}</p>
                {% countdown registration_start %}

              {% endif %}
            <a href="{% if registration_opened %}/wizard/{% else %}{% url 'registrations:registrations_registered_activities' %}{% endif %}"
               class="btn btn-primary">
              Entrer
            </a>
            <div class="row">
              <div class="col-xs-6  text-left">
                <a href="https://ssfmontreux.ch/static/pdf/SSF_Automne_2023_A5_RV.pdf" class="btn btn-secondary"
                   target="_blank">
                  <i class="icon-file-pdf"></i> Flyer
                </a>
              </div>
              <div class="col-xs-6  text-right">
                <a href="https://ssfmontreux.ch/static/pdf/Activites_automne23.pdf"
                   class="btn btn-secondary" target="_blank">
                  <i class="icon-file-pdf"></i> Planning
                </a>
              </div>
            </div>
            </p>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-2">
          <div class="pricing-plan">
            <div class="pricing-header">
              <h3 class="pricing-plan-title">Hiver</h3>
            </div>
            <a href="{% if other_instance_started_registrations %}/hiver/wizard/{% else %}/hiver/registrations/summary/{% endif %}">
              <img src="https://ssfmontreux.ch/static/img/vignette_hiver_2022-2023.jpg" class="img-responsive"
                   style="margin-bottom:15px">
            </a>
            <p class="text-center">
            {% if other_instance_phase == 1 %}
                <p>
                  {% blocktrans with registration_start=preference_other_instance_start_registration|date:"j.m.Y" registration_end=preference_other_instance_end_registration|date:"j.m.Y" %}
                    Registrations from {{ registration_start }} to {{ registration_end }}.{% endblocktrans %}</p>
                {% countdown preference_other_instance_start_registration %}

              {% endif %}

              <a href="{% if other_instance_started_registrations %}/hiver/wizard/{% else %}/hiver/registrations/summary/{% endif %}"
                 class="btn btn-primary">
                Entrer
              </a>
            <div class="row">
              <div class="col-xs-3  text-left">
                <a href="https://ssfmontreux.ch/static/pdf/SSF_HIVER_2023_A5.pdf" class="btn btn-secondary"
                   target="_blank">
                  <i class="icon-file-pdf"></i> Flyer
                </a>
              </div>
              <!--<div class="col-xs-6  text-right">
                <a href="https://ssfmontreux.ch/hiver/static/pdf/Lettre_eleves_ssf_materiel_finale.pdf"
                   class="btn btn-secondary" target="_blank">
                  <i class="icon-file-pdf"></i> Location saison
                </a>
              </div>-->

             {% if other_instance_started_registrations %}
              <div class="col-xs-9  text-right">
                <a href="https://ssfmontreux.ch/hiver/rendez-vous"
                   class="btn btn-secondary" target="_blank">
                  <i class="icon-calendar"></i> Location matériel hors SSF
                </a>
              </div>
             {% endif %}

              <div class="col-xs-9  text-right">
                <a href="https://ssfmontreux.ch/hiver/rendez-vous"
                   class="btn btn-secondary" target="_blank">
                  <i class="icon-calendar"></i> Rendez-vous matériel
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
<script src="{% static 'js/vendor/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-43479962-1', 'kepchup.ch');
  ga('send', 'pageview');
</script>

{% block extra_js %}{% endblock extra_js %}
{% render_block "js" %}
</body>
</html>
