{% extends "backend/base.html" %}
{% load duration i18n sekizai_tags %}

{% block title %}{% translate "View pages" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "List pages" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}
<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% translate "Name" %}</th>
      <th class="text-nowrap">{% translate "Address" %}</th>
      <th class="text-nowrap">{% translate "Actions" %}</th>
    </tr>
  </thead>
  {% for page in object_list %}
    <tr>
      <td>
        {{ page.title }}
      </td>
      <td>
        <a href="{{ page.url }}" target="_blank">{{ page.url }}</a>
      </td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap">
            <a href="{% url 'backend:flatpages-update' pk=page.pk %}" class="btn btn-sm">
              <i class="icon-check"></i>&nbsp;{% translate "Edit page" %}</a>
          </li>

        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
