{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags static %}
{% block title %}{% translate "Update page" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Update page" %}{% endblock %}

{% block content %}
  <form action="" method="post" class="form-horizontal">{% csrf_token %}
    {% crispy form %}

    <div class=" form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success ">{% translate 'Update page' %}</button>
        &nbsp;
        <a href="{% url 'backend:flatpages-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
      </div>
    </div>
  </form>

  {% addtoblock "js" %}
    {{ form.media.js }}
    <script>
     CKEDITOR.config.contentsCss = '/static/css/style.css' ;
    </script>
  {% endaddtoblock %}
  {% addtoblock "css" %}
    {{ form.media.css }}
  {% endaddtoblock %}

{% endblock content %}
