@charset "UTF-8";

.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-wrench-1:before { content: '\e004'; } /* '' */
.icon-step-forward:before { content: '\e02d'; } /* '' */
.icon-step-backward:before { content: '\e02e'; } /* '' */
.icon-signal:before { content: '\e038'; } /* '' */
.icon-forward:before { content: '\e093'; } /* '' */
.icon-fast-forward:before { content: '\e099'; } /* '' */
.icon-fast-backward:before { content: '\e09a'; } /* '' */
.icon-flag:before { content: '\e0e6'; } /* '' */
.icon-cog-1:before { content: '\e109'; } /* '' */
.icon-calendar-1:before { content: '\e10b'; } /* '' */
.icon-align-left:before { content: '\e77e'; } /* '' */
.icon-align-center:before { content: '\e77f'; } /* '' */
.icon-align-right:before { content: '\e780'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-list:before { content: '\e782'; } /* '' */
.icon-indent-left:before { content: '\e783'; } /* '' */
.icon-menu:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-up-dir:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e806'; } /* '' */
.icon-angle-right:before { content: '\e807'; } /* '' */
.icon-angle-up:before { content: '\e808'; } /* '' */
.icon-angle-down:before { content: '\e809'; } /* '' */
.icon-angle-double-left:before { content: '\e80a'; } /* '' */
.icon-angle-double-right:before { content: '\e80b'; } /* '' */
.icon-angle-double-up:before { content: '\e80c'; } /* '' */
.icon-angle-double-down:before { content: '\e80d'; } /* '' */
.icon-down-1:before { content: '\e80e'; } /* '' */
.icon-left-1:before { content: '\e80f'; } /* '' */
.icon-right-1:before { content: '\e810'; } /* '' */
.icon-up-1:before { content: '\e811'; } /* '' */
.icon-award:before { content: '\e812'; } /* '' */
.icon-globe:before { content: '\e813'; } /* '' */
.icon-crop:before { content: '\e814'; } /* '' */
.icon-scissors:before { content: '\e815'; } /* '' */
.icon-credit-card-1:before { content: '\e816'; } /* '' */
.icon-tasks:before { content: '\e817'; } /* '' */
.icon-cab:before { content: '\e818'; } /* '' */
.icon-bus:before { content: '\e819'; } /* '' */
.icon-bicycle:before { content: '\e81a'; } /* '' */
.icon-euro:before { content: '\e81b'; } /* '' */
.icon-pound:before { content: '\e81c'; } /* '' */
.icon-dollar:before { content: '\e81d'; } /* '' */
.icon-sort:before { content: '\e81e'; } /* '' */
.icon-sort-down:before { content: '\e81f'; } /* '' */
.icon-sort-up:before { content: '\e820'; } /* '' */
.icon-sort-alt-up:before { content: '\e821'; } /* '' */
.icon-sort-alt-down:before { content: '\e822'; } /* '' */
.icon-sort-name-up:before { content: '\e823'; } /* '' */
.icon-sort-name-down:before { content: '\e824'; } /* '' */
.icon-sort-number-up:before { content: '\e825'; } /* '' */
.icon-sort-number-down:before { content: '\e826'; } /* '' */
.icon-hammer:before { content: '\e827'; } /* '' */
.icon-sitemap:before { content: '\e828'; } /* '' */
.icon-graduation-cap:before { content: '\e829'; } /* '' */
.icon-tree:before { content: '\e82a'; } /* '' */
.icon-rebel:before { content: '\e82b'; } /* '' */
.icon-bomb:before { content: '\e82c'; } /* '' */
.icon-soccer-ball:before { content: '\e82d'; } /* '' */
.icon-cc-visa:before { content: '\e82e'; } /* '' */
.icon-cc-mastercard:before { content: '\e82f'; } /* '' */
.icon-cc-discover:before { content: '\e830'; } /* '' */
.icon-cc-amex:before { content: '\e831'; } /* '' */
.icon-cc-paypal:before { content: '\e832'; } /* '' */
.icon-cc:before { content: '\e833'; } /* '' */
.icon-hourglass:before { content: '\e834'; } /* '' */
.icon-mail:before { content: '\e835'; } /* '' */
.icon-mail-circled:before { content: '\e836'; } /* '' */
.icon-star:before { content: '\e837'; } /* '' */
.icon-star-circled:before { content: '\e838'; } /* '' */
.icon-star-empty:before { content: '\e839'; } /* '' */
.icon-user:before { content: '\e83a'; } /* '' */
.icon-group:before { content: '\e83b'; } /* '' */
.icon-torso:before { content: '\e83c'; } /* '' */
.icon-video:before { content: '\e83d'; } /* '' */
.icon-picture:before { content: '\e83e'; } /* '' */
.icon-ok:before { content: '\e83f'; } /* '' */
.icon-ok-circled:before { content: '\e840'; } /* '' */
.icon-ok-circled2:before { content: '\e841'; } /* '' */
.icon-cancel:before { content: '\e842'; } /* '' */
.icon-cancel-circled:before { content: '\e843'; } /* '' */
.icon-cancel-circled2:before { content: '\e844'; } /* '' */
.icon-plus:before { content: '\e845'; } /* '' */
.icon-plus-circled:before { content: '\e846'; } /* '' */
.icon-minus:before { content: '\e847'; } /* '' */
.icon-minus-circled:before { content: '\e848'; } /* '' */
.icon-help:before { content: '\e849'; } /* '' */
.icon-home:before { content: '\e84a'; } /* '' */
.icon-attach:before { content: '\e84b'; } /* '' */
.icon-lock:before { content: '\e84c'; } /* '' */
.icon-lock-open:before { content: '\e84d'; } /* '' */
.icon-eye:before { content: '\e84e'; } /* '' */
.icon-eye-off:before { content: '\e84f'; } /* '' */
.icon-tag:before { content: '\e850'; } /* '' */
.icon-tags:before { content: '\e851'; } /* '' */
.icon-bookmark:before { content: '\e852'; } /* '' */
.icon-bookmark-empty:before { content: '\e853'; } /* '' */
.icon-thumbs-up:before { content: '\e854'; } /* '' */
.icon-thumbs-down:before { content: '\e855'; } /* '' */
.icon-download:before { content: '\e856'; } /* '' */
.icon-download-alt:before { content: '\e857'; } /* '' */
.icon-upload:before { content: '\e858'; } /* '' */
.icon-share:before { content: '\e859'; } /* '' */
.icon-quote:before { content: '\e85a'; } /* '' */
.icon-export:before { content: '\e85b'; } /* '' */
.icon-pencil:before { content: '\e85c'; } /* '' */
.icon-edit:before { content: '\e85d'; } /* '' */
.icon-print:before { content: '\e85e'; } /* '' */
.icon-comment:before { content: '\e85f'; } /* '' */
.icon-comment-alt:before { content: '\e860'; } /* '' */
.icon-bell:before { content: '\e861'; } /* '' */
.icon-warning:before { content: '\e862'; } /* '' */
.icon-exclamation:before { content: '\e863'; } /* '' */
.icon-error:before { content: '\e864'; } /* '' */
.icon-location:before { content: '\e865'; } /* '' */
.icon-compass:before { content: '\e866'; } /* '' */
.icon-trash:before { content: '\e867'; } /* '' */
.icon-doc:before { content: '\e868'; } /* '' */
.icon-doc-new:before { content: '\e869'; } /* '' */
.icon-folder:before { content: '\e86a'; } /* '' */
.icon-folder-open:before { content: '\e86b'; } /* '' */
.icon-rss:before { content: '\e86c'; } /* '' */
.icon-phone:before { content: '\e86d'; } /* '' */
.icon-cogs:before { content: '\e86e'; } /* '' */
.icon-basket:before { content: '\e86f'; } /* '' */
.icon-clock:before { content: '\e870'; } /* '' */
.icon-lightbulb:before { content: '\e871'; } /* '' */
.icon-resize-full:before { content: '\e872'; } /* '' */
.icon-resize-full-alt:before { content: '\e873'; } /* '' */
.icon-resize-small:before { content: '\e874'; } /* '' */
.icon-resize-vertical:before { content: '\e875'; } /* '' */
.icon-resize-horizontal:before { content: '\e876'; } /* '' */
.icon-move:before { content: '\e877'; } /* '' */
.icon-zoom-in:before { content: '\e878'; } /* '' */
.icon-zoom-out:before { content: '\e879'; } /* '' */
.icon-down-open:before { content: '\e87a'; } /* '' */
.icon-left-open:before { content: '\e87b'; } /* '' */
.icon-right-open:before { content: '\e87c'; } /* '' */
.icon-up-open:before { content: '\e87d'; } /* '' */
.icon-down:before { content: '\e87e'; } /* '' */
.icon-left:before { content: '\e87f'; } /* '' */
.icon-right:before { content: '\e880'; } /* '' */
.icon-up:before { content: '\e881'; } /* '' */
.icon-cw:before { content: '\e882'; } /* '' */
.icon-arrows-cw:before { content: '\e883'; } /* '' */
.icon-target:before { content: '\e884'; } /* '' */
.icon-inbox:before { content: '\e885'; } /* '' */
.icon-leaf:before { content: '\e886'; } /* '' */
.icon-off:before { content: '\e887'; } /* '' */
.icon-check:before { content: '\e888'; } /* '' */
.icon-gift:before { content: '\e889'; } /* '' */
.icon-chart:before { content: '\e88a'; } /* '' */
.icon-credit-card:before { content: '\e88b'; } /* '' */
.icon-key:before { content: '\e88c'; } /* '' */
.icon-tasks-1:before { content: '\e88d'; } /* '' */
.icon-gauge:before { content: '\e88e'; } /* '' */
.icon-address-book:before { content: '\e88f'; } /* '' */
.icon-adult:before { content: '\e890'; } /* '' */
.icon-child:before { content: '\e891'; } /* '' */
.icon-blind:before { content: '\e892'; } /* '' */
.icon-guidedog:before { content: '\e893'; } /* '' */
.icon-accessibility:before { content: '\e894'; } /* '' */
.icon-male:before { content: '\e895'; } /* '' */
.icon-female:before { content: '\e896'; } /* '' */
.icon-dribbble:before { content: '\e897'; } /* '' */
.icon-exchange:before { content: '\e898'; } /* '' */
.icon-split:before { content: '\e899'; } /* '' */
.icon-loop-alt:before { content: '\e89a'; } /* '' */
.icon-loop:before { content: '\e89b'; } /* '' */
.icon-doc-1:before { content: '\e89c'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-calendar-2:before { content: '\f4c5'; } /* '' */
.icon-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
