{% extends "backend/base.html" %}
{% load i18n %}
{% load duration %}

{% block title %}{{ activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}{{ activity.name }}{% endblock %}

{% block content %}
<p><strong>{% trans "Activity number" %}:</strong> {{ activity.number }}<br /></p>  
  
<h2>{% trans "Courses" %}</h2>

<div class="row">
  {% for course in activity.courses.all %}
  <section class="col-sm-6 topped">
    <div class="pricing-plan">
      <header class="pricing-header">
        <p class="pricing-plan-label">{% blocktrans with number=course.number %}Course #{{ number }}{% endblocktrans %}</p>
        <h4 class="pricing-plan-title">
          {{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}
        </h4>
        <p class="pricing-plan-label">
        {% blocktrans with day=course.day_name|lower  start_time=course.start_time|time:"H:i" end_time=course.end_time|time:"H:i" duration=course.duration|duration %}Every {{ day }} from {{ start_time }} to {{ end_time }} ({{ duration }}){% endblocktrans %}</p>
      </header>
      
      <dl class="dl-horizontal">
        <dt>{% trans "Responsible" %}</dt>
        <dd><a href="{{ course.responsible.get_backend_url }}">{{ course.responsible  }}</a></dd>
        <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
        <dt>{% trans "Number of sessions" %}</dt>
        <dd>{{ course.number_of_sessions }} cours
        </dd>
        <dt>{% trans "Price" %}</dt><dd>CHF {{ course.price }}</dd>
        <dt>{% trans "School years" %}</dt><dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
      </dl>
      <p class="text-center"><a href="{{ course.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a> </p>
      <h4 class="content-title">
        <u>{% trans "Availability"%}</u>
      </h4>      
      <p>{% blocktrans with count=course.count_participants %}{{ count }} participants{% endblocktrans %} <span class="pull-right strong">{% blocktrans with max_number=course.max_participants %}{{ max_number }} places{% endblocktrans %}</span></p>
      <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%">{% if course.full %}{% trans "Course full" %}{% elif course.minimal_participants_reached %}{% trans "Minimal number of participants reached" %}{% else %}{% trans "Not enough participants" %}{% endif %}</div>
      </div>  
      <p class="text-right"><small>{% blocktrans with min_number=course.min_participants %}{{ min_number }} participants required for activity to take place{% endblocktrans %}</small></p>
      
      <p class="text-center"><a href="{{ course.backend_url }}" class="btn btn-default"><i class="icon-check"></i>&nbsp;{% trans "Check registrations" %}</a> </p>

      
    </div>          
  </section> 
  {% endfor %}
</div>  
{% endblock content %}