{% extends "backend/base.html" %}
{% load i18n %}
{% load duration switzerland %}

{% block title %}{{ activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}{{ activity.name }}{% endblock %}

{% block content %}
<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Description" %}</u></h4>

<dl class="dl-horizontal">
  <dt>{% trans "Activity number" %}</dt><dd>{{ activity.number }}</dd>
  {% if activity.description %}
  <dt>{% trans "Description" %}</dt><dd>{{ activity.description|safe }}</dd>
  {% endif %}
  {% if activity.informations %}
  <dt>{% trans "Informations" %}</dt><dd>{{ activity.informations|safe }}</dd>
  {% endif %}
</dl>
   <p class="text-center"><a href="{{ activity.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a> </p>
</section>

<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Courses" %} <small>({% blocktrans with number=activity.courses.count %}{{ number }} courses foretold so far{% endblocktrans %})</small></u></h4>
<p><a href="{% url 'backend:course-create' %}?activity={{ activity.pk }}" class="btn btn-success"><i class="icon-plus"></i> {% trans "New course" %}</a></p>



<div class="row">
  {% for course in activity.courses.all %}
  <section class="col-sm-6 topped">
    <div class="pricing-plan">
      <header class="pricing-header">
        <p class="pricing-plan-label">{% blocktrans with number=course.number %}Course #{{ number }}{% endblocktrans %}</p>
        <h4 class="pricing-plan-title">
          {{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}
        </h4>
        <p class="pricing-plan-label">
        {% blocktrans with day=course.day_name|lower  start_time=course.start_time|time:"H:i" end_time=course.end_time|time:"H:i" duration=course.duration|duration %}Every {{ day }} from {{ start_time }} to {{ end_time }} ({{ duration }}){% endblocktrans %}</p>
      </header>
      
      <dl class="dl-horizontal">
        <dt>{% trans "Instructors" %}</dt>
        <dd>
          <ul class="list-unstyled">
          {% for instructor in course.instructors.all %}
          <li><a href="{{ instructor.get_backend_url }}">{{ instructor.full_name  }}</a></li>
          {% endfor %}
          </ul>
        </dd>
        <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
        <dt>{% trans "Number of sessions" %}</dt>
        <dd>{{ course.number_of_sessions }} cours
        </dd>
        <dt>{% trans "Price" %}</dt><dd>{{ course.price|money }}</dd>
        <dt>{% trans "School years" %}</dt><dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
        <dt>{% trans "Extra questions" %}</dt>
        <dd>
          <ul class="list-unstyled">
          {% for extra in course.extra.all %}
            <li>{{ extra.question_label }}{% if extra.choices %}: ({{ extra.choices|join:", " }}){% endif %}</li>
          {% empty %}
            <li>{% trans "No extra question required" %}</li>
          {% endfor %}
          </ul>
        </dd>
      </dl>
      <p class="text-center"><a href="{{ course.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a> </p>
      <h4 class="content-title">
        <u>{% trans "Availability"%}</u>
      </h4>      
      <p>{% blocktrans with count=course.count_participants %}{{ count }} participants{% endblocktrans %} <span class="pull-right strong">{% blocktrans with max_number=course.max_participants %}{{ max_number }} places{% endblocktrans %}</span></p>
      <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%">{% if course.full %}{% trans "Course full" %}{% elif course.minimal_participants_reached %}{% trans "Minimal number of participants reached" %}{% else %}{% trans "Not enough participants" %}{% endif %}</div>
      </div>  
      <p class="text-right"><small>{% blocktrans with min_number=course.min_participants %}{{ min_number }} participants required for activity to take place{% endblocktrans %}</small></p>
      
      <p class="text-center"><a href="{{ course.get_backend_url }}" class="btn btn-default"><i class="icon-check"></i>&nbsp;{% trans "Check registrations" %}</a> </p>

      
    </div>          
  </section> 
  {% endfor %}
</div>  
</section>
{% endblock content %}