{% extends "backend/base.html" %}
{% load crispy_forms_tags floppyforms i18n sekizai_tags %}

{% block title %}{% translate "Update period" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Update period" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% crispy form %}
  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-success ">{% translate 'Update period' %}</button>
      &nbsp;
      <a href="{% url 'backend:year-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}

{% block extra_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/vendor/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    var dt_settings = {
        language: '{{ LANGUAGE_CODE }}',
        icons: {time: 'icon-clock',
                date: 'icon-calendar',
                up: 'icon-up-open',
                down: 'icon-down-open'}
    };
    $('#dt-start_date').datetimepicker(dt_settings);
    $('#dt-end_date').datetimepicker(dt_settings);

    $('#dt-start_date').on('dp.change', function(event){
        if (!$('#id_end_date').val()){
            var start_date = $('#dt-start_date').data("DateTimePicker").getDate();
            end_date = new Date(start_date + 364*24*60*60*1000);
            $('#dt-end_date').data("DateTimePicker").setDate(end_date);
        }
    });
  });
</script>
{% endblock extra_js %}
