{% extends "base.html" %}
{% load i18n sekizai_tags switzerland %}

{% block title %}{% trans "Bill detail" %}{% endblock %}
{% block page_title %}{% endblock %}



{% block extra_body %}class="bill"{% endblock %}

{% block content %}
{% include "registrations/bill-partial.html" %}

<section>
  <h3>{% trans "Registrations" %}</h3>
  <table class=" table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Activity" %}</th>
        <th>{% trans "Period" %}</th>
        <th>{% trans "Time" %}</th>
        <th class="nowrap text-right">{% trans "Price" %}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="4" class="nowrap" style="text-align: right">{% trans "Total" %}</th>
        <th class="nowrap text-right">{{ bill.total|money }}</th>
        <th class="hidden-print"></th>
      </tr>
    </tfoot>
    <tbody>
    {% for registration in bill.registrations.all %}
      <tr>
        <td>
          <span class="nowrap"><a href="{{ registration.child.backend_url }}">{{ registration.child.full_name }}</a></span>
        </td>
        <td>
          <a href="{{ registration.course.activity.backend_url }}">{{ registration.course.activity.name }}</a>
        </td>
        <td>
          <span class="nowrap"><a href="{{ registration.course.backend_url }}">{{ registration.course.start_date }}</span> – <span class="nowrap">{{ registration.course.end_date }}</span></a>
        </td>
        <td>
          {% if registration.course.is_course %}
          {{ registration.course.day_name }} / <span class="nowrap">{{ registration.course.start_time|time:"H:i"}} - {{ registration.course.end_time|time:"H:i" }}</span>
          {% endif %}
        </td>
        <td class="nowrap text-right">{{ registration.course.price|money }}</td>
      </tr>
      {% if registration.has_modifier %}
      {% for extra in registration.extra_infos.all %}
        {% if extra.price_modifier %}
        <tr>
        <td></td>
        <td colspan="3">
          <em>{{ extra.key.question_label }} &nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp; {{ extra.value }}</em>
        </td>
        <td class="nowrap text-right">
          {{ extra.price_modifier|money_sign }}
        </td>
      </tr>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <p class="hidden-print text-center"><button class="btn btn-success btn-large print-button"><i class="icon icon-print"></i> {% trans "Print" %}</button></p>
</section>

{% addtoblock "js" %}
<script>
  $('.print-button').click(function(){window.print()});
</script>
{% endaddtoblock %}
{% endblock content %}



