<!DOCTYPE html>
<html ln="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Inscription au sport facultatif</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Use this to quickly test CSS changes in a template, 
        then move to project.css -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <script src="../../static/js/angular.min.js"></script>
    <script src="../../static/js/project.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sport scolaire facultatif</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Accueil</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit"
      <h1>title</h1>
      </div>
      <div class="row" ng-controller="RegistrationCtrl">
        <div class="span3">
          <h3>Activities</h3>
          <ul class="unstyled">
            <li ng-repeat="activity in activities" ng-click="activities.selectActivity($index)" ng-class="{active: activity.selected}" >{{ activity.title }}<a class="btn btn-small"><i class="icon-eye-open"></i></a></li>
          </ul>
        </div>
        <article class="span9" ng-show="activities.selected">
          <h1>{{activity.title}}
        </article>
      </div>
    
    </div> <!-- /container -->

  </body>
</html>
