{% extends "profiles/baseprofile.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Change password" %}{% endblock %}

{% block page_title %}{% translate "Change password" %}{% endblock %}

{% block content %}
  <form method='post' class="form-horizontal" role="form">
    {% crispy form %}
    <div class=" form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">{% translate 'Change password' %}</button>
      </div>
    </div>
  </form>

  {% addtoblock "js" %}
    <script>
      $('#id_old_password').focus();
    </script>
  {% endaddtoblock %}
{% endblock content %}
