{% extends "profiles/baseprofile.html" %}
{% load i18n floppyforms%}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block page_title %}{% trans "Change password" %}{% endblock page_title %}


{% block content %}
<form method='post' class="form-horizontal" role="form">{% csrf_token %}
{% form form using %}
{% formconfig row using "floppyforms/rows/bootstrap-horizontal-4-8.html" %}
{% formrow form.old_password %} 
{% formrow form.new_password1 %} 
{% formrow form.new_password2 %} 



  <div class="col-sm-offset-4 col-sm-8">
    <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
  </div>
{% endform %}   
</form>
{% endblock content%}

{% block extra_js %}
<script>
  $('#id_old_password').focus();
</script>
{% endblock %}