{% extends "profiles/baseprofile.html" %}
{% load i18n %}
{% load floppyforms %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block page_title %}{% trans "Change password" %}{% endblock page_title %}


{% block content %}

{% form form using %}
{% block formconfig %}
    {% formconfig row using "floppyforms/rows/bootstrap-cols-4-8.html" %}
{% endblock %}


<form method='post' class="form-horizontal" role="form">{% csrf_token %}
  {% formrow form.old_password form.new_password1 form.new_password2 %}
  <div class="col-sm-offset-4 col-sm-8">
    <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
  </div>  
</form>
{% endform %}
{% endblock content%}

{% block extra_js %}
<script>
  $('#id_old_password').focus();
</script>
{% endblock %}