{% extends base_template %}
{% load i18n %}
{% load floppyforms %}
{% block title %}{% trans "Inscription" %}{% endblock title %}

{% block page_title %}{% trans "Inscription" %}{% endblock page_title %}


{% block content %}
{% form form using %}
{% block formconfig %}{% formconfig row using "floppyforms/rows/bootstrap.html" %}{% endblock %}
<form action="." method="post" class="form-horizontal">{% csrf_token %}
  {% block errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ error }}
  </div><!--- .alert.alert-error -->
  {% endfor %}
  {% for error in form|hidden_field_errors %}
  <div class="alert alert-error">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ error }}
  </div><!--- .alert.alert-error -->
  {% endfor %}
  {% endblock errors %}

  <fieldset>
    <legend>{% trans "Login informations" %}</legend>
    {% formrow form.email %}
    {% formrow form.password1 %}
    {% formrow form.password2 %}
  </fieldset>
  <fieldset>
    <legend>{% trans "Contact informations" %}</legend>
    {% formrow form.first_name %}
    {% formrow form.last_name %}
    {% formrow form.address %}
    <div class="control-group {% if form.city.errors or form.zipcode.errors %}error{% endif %}">
      <label class="control-label">{% trans "City" %} <span class="required">*</span></label>
      <div class="controls form-inline required ">
        <input type="number" min="1000" max="9999" name="zipcode" value="{% if form.zipcode.value %}{{ form.zipcode.value }}{% endif %}" required="" placeholder="1296" id="id_zipcode" class="input-mini" maxlength="4">
        {% formfield form.city %}
        <span class="help-inline">{{ form.zipcode.errors }}</span>
      </div>
    </div>
    {% formrow form.private_phone %}
    {% formrow form.private_phone2 %}
    {% formrow form.private_phone3 %}
    
  </fieldset>

  <div class="form-actions">
    <div class="pull-right">
      <button type="submit" class="btn btn-primary btn-large">{% trans "Save and continue" %} <i class="icon-chevron-right icon-white"></i></button>
    </div>
  </div>
</form>

{% endform %}
{% endblock %}

{% block page_footer %}{% endblock page_footer %}