{% extends "base.html" %}
{% load i18n sekizai_tags static humanize %}


{% block title %}{% trans "Register an appointment" %}{% endblock %}
{% block page_title %}{% trans "Register an appointment" %}{% endblock %}

{% block content %}
  {% if appointments %}
    <section class="portlet">
      <h3 class="content-title"><u>{% trans "Your appointments" %}</u></h3>
      <ul>
        {% for appointment in appointments %}
          <li>
            {{ appointment.child }}: {{ appointment.slot.start | date:"l d F Y, H:i" }}
          </li>
        {% endfor %}
      </ul>
    </section>

  {% endif %}

  <section class="portlet">
    <h3 class="content-title">
      <u>{% trans "Available dates" %}</u>
    </h3>
    {% include "appointments/register.html" %}
  </section>
{% endblock %}