{% extends "base.html" %}
{% load humanize i18n sekizai_tags static %}


{% block title %}{% translate "Success" %}{% endblock %}

{% block page_title %}{% translate "Success" %}{% endblock %}

{% block content %}
<p class="lead">{% translate "Your appointment is registered. You should receive a reminder email shortly." %}</p>
<p class="text-center">
  <a href="{% url "appointments:register" %}"
     class="btn btn-primary btn-large">{% translate "Register another appointment" %}</a>
</p>
{% endblock content %}
