{% extends "wizard.html" %}
{% load i18n sekizai_tags static humanize %}

{% block title %}{% trans "Register an appointment" %}{% endblock %}
{% block page_title %}{% trans "Register an appointment" %}{% endblock %}

{% block content %}
  {% if appointments %}
    <section class="portlet">
      <h3 class="content-title"><u>{% trans "Your appointments" %}</u></h3>
      <ul>
        {% for appointment in appointments %}
          <li>
            {{ appointment.child }}: {{ appointment.slot.start | date:"l d F Y, H:i" }}
          </li>
        {% endfor %}
      </ul>
    </section>

  {% endif %}

  <section class="portlet">
    <h3 class="content-title">
      <u>{% trans "Available dates" %}</u>
    </h3>
    {% include "appointments/register.html" %}
  </section>
{% endblock %}

{% block page_footer %}
<nav class="hidden-print">
  <ul class="pager">
  {% if previous_step %}
    <li class="previous">
      <a href="{{ previous_step.url }}"><span aria-hidden="true">&larr;</span> {% block previous_label %}{% trans "Previous"%}{% endblock %}</a>
    </li>
  {% endif %}
  {% if next_step %}
    <li class="next">
      <a {% if appointments %}href="{{ next_step.url }}"{% else %}class="disabled"{% endif %}>{% block next_label %}{% trans "Next"%}{% endblock %}<span aria-hidden="true">&rarr;</span></a>
    </li>

  {% endif %}
  </ul>
</nav>
{% endblock page_footer %}