{% load i18n floppyforms sekizai_tags %}

{% addtoblock "js" %}
{{ form.media }}
<script src="{{ STATIC_URL }}js/vendor/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
        language: '{{ LANGUAGE_CODE }}',
        icons: {time: 'icon-clock', 
                date: 'icon-calendar', 
                up:   'icon-up-open', 
                down: 'icon-down-open'}
        });
  });
</script>

{% endaddtoblock %}

{% form form using %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

{% formrow form.family %}
{% formrow form.first_name form.last_name %}
{% formrow form.sex form.birth_date form.nationality form.language  %}

{% formconfig row using "floppyforms/rows/bootstrap-sm-3.html" %}
<fieldset>
    <legend>{% trans "School informations" %}</legend>
    {% if IMPORT_CHILDREN %}
      {% formrow form.id_lagapeo %}
    {% endif %}
    {% formrow form.school_year  %}
    {% formconfig row using "floppyforms/rows/bootstrap.html" %}
{% if PREFILL_YEARS_WITH_TEACHERS %}
    {% formrow form.teacher %}
{% endif %}
</fieldset>
{% endform %}