{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete user" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Please confirm deletion" %}{% endblock %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <p>{% blocktrans with full_name=object.full_name email=object.email %}
      Are you sure you want to delete {{ full_name }} ({{ email }})?{% endblocktrans %}</p>
    {% if object.children.exists %}
      <p>{% blocktrans %}The following children along with their registrations will also be removed:{% endblocktrans %}</p>
      <ul>
        {% for child in object.children.all %}
          <li>
            <a href="{{ child.get_backend_url }}">{{ child }}</a>
            {% if child.registrations.exists %}
              <ul>
                {% for registration in child.registrations.all %}
                  <li>{{ registration }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="form-group">
      <button type="submit" class="btn btn-danger"><i class="icon icon-trash"></i>&nbsp;{% trans 'Delete user' %}</button>
      <a href="{% url 'backend:user-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>

{% endblock content %}