{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Create user" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-user"></i>&nbsp;&nbsp;{% trans "Create user" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% form form using %}

{% block errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
             <i class="icon-exclamation" aria-hidden="true"></i>&nbsp;&nbsp;{{ error }}
        </div><!--- .alert.alert-error -->
    {% endfor %}
    {% for error in form|hidden_field_errors %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <i class="icon-exclamation" aria-hidden="true"></i>{{ error }}
        </div><!--- .alert.alert-error -->
    {% endfor %}
{% endblock errors %}

  {% formconfig row using "floppyforms/rows/bootstrap.html" %}

  {% formconfig row using "floppyforms/rows/bootstrap.html" %}

  <fieldset>
    <legend>{% trans "Login informations" %}</legend>
    {% formrow form.email %}
    {% formrow form.password %}
  </fieldset>
  <fieldset>
    <legend>{% trans "Contact informations" %}</legend>
    {% formrow form.first_name %}
    {% formrow form.last_name %}
    {% formrow form.address %}
    <div class="form-group">
      <label class="control-label col-sm-2">{% trans "City" %} <span class="required">*</span></label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2 col-xs-4">
            {% formfield form.zipcode using "floppyforms/100percentinput.html" %}
          </div>
          <div class="col-sm-10 col-xs-8">
            {% formfield form.city using "floppyforms/100percentinput.html" %}
          </div>
          <span class="help-block">{{ form.zipcode.errors }}</span>
        </div>
      </div>
    </div>
    {% formrow form.country %}

    <div class="form-group">
      <label class="control-label col-sm-2">{% trans "Phone" %}</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4">
            {% formfield form.private_phone using "floppyforms/100percentinput.html" %}
            <p class="help-block">{% trans "Home phone" %}</p>
          </div>
          <div class="col-sm-4">
            {% formfield form.private_phone2 using "floppyforms/100percentinput.html" %}
            <p class="help-block">{% trans "Mobile" %}</p>
          </div>
          <div class="col-sm-4">
            {% formfield form.private_phone3 using "floppyforms/100percentinput.html" %}
            <p class="help-block">{% trans "Other phone" %}</p>

          </div>
        </div>
      </div>
    </div>
  
  {%  formrow form.is_manager  %}


  {% endform %}
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large"><i class="icon-plus"></i>&nbsp;{% trans 'Create user' %}</button>
    </div>
  </div>
</form>

{% endblock content %}