{% extends "backend/base.html" %}
{% load i18n switzerland %}

{% block title %}{{ object.full_name }} - {{ block.super }}{% endblock %}
{% block page_title %}{{ object.full_name }}{% endblock %}

{% block content %}
<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Contact informations" %}</u></h4>
  <dl class="dl-horizontal">
    <dt>{% trans "Address" %}</dt>
    <dd>
      {% if object.address %}{{ object.address }}<br />{% endif %}
      {{ object.zipcode }} {{ object.city }}<br />
      {{ object.get_country_display }}
    </dd>
    <dt>Email</dt><dd><a href="mailto:{{ object.email }}">{{ object.email }} </a></dd>
    {% if object.private_phone %}
    <dt>{% trans "Home phone" %}</dt>
    <dd>
      <a href="{{ object.private_phone|phone:'RFC3966' }}">{{ object.private_phone|phone }}</a>
    </dd>
    {% endif %}
    {% if object.private_phone2 %}
    <dt>{% trans "Mobile phone" %}</dt>
    <dd>
      <a href="{{ object.private_phone2|phone:'RFC3966' }}">{{ object.private_phone2|phone }}</a>
    </dd>
    {% endif %}
    {% if object.private_phone3 %}
    <dt>{% trans "Other phone" %}</dt>
    <dd>
      <a href="{{ object.private_phone3|phone:'RFC3966' }}">{{ object.private_phone3|phone }}</a>
    </dd>
    {% endif %}
  </dl>
  <p class="text-center">
    <a href="{{ object.get_update_url }}" class="btn btn-default btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Update contact informations" %}</a>
  </p>
</section>

{% comment %}
<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Registration" %}</u></h4>
  <dl class="dl-horizontal">
    <dt>{% trans "Finished registration" %}?</dt>
    <dd>
    {% if object.finished_registration %}
      <i class="icon-ok-circled2 text-success"></i>
    {% else %}
      <i class="icon-cancel-circled2 text-danger"></i>
    {% endif %}
    </dd>
    
     <dt>{% trans "Paid" %}?</dt>
      <dd>
    {% if object.paid %}
      <i class="icon-ok-circled2 text-success"></i>
    {% else %}
      <i class="icon-cancel-circled2 text-danger"></i>
    {% endif %}
    </dd>
     
    <dt>{% trans "Total to be paid" %}</dt>
    <dd>{{ object.total|money }}</dd>
    <dt>{% trans "Transaction identifier" %}</dt>
    <dd>{{ object.billing_identifier }}</dd>
  </dl>
  <p class="text-center">
    <a href="{{ object.get_payment_url }}" class="btn btn-default btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Update payement informations" %}</a>
  </p>
</section>
{% endcomment %}

<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Children" %}</u></h4>
  <div class="row">
  {% for child in object.children.all %}
    <div class="col-sm-6 col-lg-4">
      <div class="pricing-plan">
        <header class="pricing-header">
          <h4 class="pricing-plan-title">{{  child }}</h4>
        </header>
        <dl class="dl-horizontal">
          <dt>{% trans "Birth date" %}</dt><dd> {{ child.birth_date | date:"j F Y" }}</dd>
          <dt>{% trans "Sex" %}</dt><dd> {{ child.get_sex_display }}</dd>
          <dt>{% trans "Nationality" %}</dt><dd> {{ child.get_nationality_display }}</dd>
          <dt>{% trans "Language" %}</dt><dd> {{ child.get_language_display }}</dd>
          <dt>{% trans "School year" %}</dt><dd> {{ child.school_year }}</dd>
          <dt>{% trans "Teacher" %}</dt><dd> {{ child.teacher.get_full_name }}</dd>
        </dl>
        <p class="text-center">
           <a href="{{ child.get_update_url }}" class="btn btn-default btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Update child" %}</a>&nbsp; <a href="{{ child.get_delete_url }}" class="btn btn-danger btn-sm"><i class="icon-trash"></i>&nbsp;&nbsp;{% trans "Delete child" %}</a>
        </p><hr />
        <h5 >{% trans "Registrations" %}</h5>
        <table class="table">
          <thead class="sr-only">
            <tr>
              <th>{% trans "Course" %}</th>
              <th>{% trans "Actions" %}</th>
            </tr>
          </thead>
          {% for registration in child.registrations.all %}
          <tr>
            <td>
             <a href="{{ registration.course.get_backend_url }}">{{ registration.course.short_name }}</a>
            </td>
            <td>
              <ul class="list-unstyled">
                <li class="text-nowrap"><a href="{{ registration.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update registration" %}</a></li>
                <li class="text-nowrap"><a href="{{ registration.get_delete_url }}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% trans "Cancel registration" %}</a></li>
              </ul>
              
            </td>
          </tr>
          {% empty %}
          <tr><td colspan="2">{% trans "No registration for this child" %}</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endfor %}
  </div>
  <a href="{% url 'backend:child-create' user=object.pk %}" class="btn btn-success"><i class="icon-plus"></i>&nbsp;&nbsp;{% trans "Add child" %}</a>
</section>
{% endblock content %}