{% extends "backend/base.html" %}
{% load i18n sekizai_tags staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "List users" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List users" %}{% endblock %}

{% block content %}

  {% addtoblock "js" %}
    <script src="{% static 'js/vendor/DataTables-2020/datatables.min.js' %}"></script>

    <script>
      $(function () {
        let allSelected = false;
        let table = $("#users").DataTable({
          "ajax": {
            "url": "{% url 'api:all_users' %}?format=datatables",
            "headers": {"Accept-language": "{{ request.LANGUAGE_CODE }}"},
            "rowId": 'id'
          },
          {% if LANGUAGE_CODE == 'fr' %}
          "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
          },
          {% endif %}
          "columnDefs": [
            {
              "orderable": false,
              "searchable": false,
              "targets": [-1]
            },
            {
              "visible": false,
              "targets": [0, 2, 7]
            },
            {
              "render": function (data, type, row) {
                let children = row['children'].flatMap(
                  child => '<li><a href="' + child.url + '">' + child.full_name + '</a></li>'
                ).join('');
                return '<ul class="list-unstyled">' + children + '</ul>';
              },
              'targets': [3]
            },

            {
              "render": function (data, type, row) {
                if (data) {
                  return '<i class="icon-ok-circled success"></i>';
                }
                return '<i class="icon-cancel-circled  danger"></i>';
              },
              'targets': [4, 5]
            },
            {
              "render": function (data, type, row) {
                let actions = row['actions'].flatMap(
                  action => '<li><a href="' + action.url + '"><i class="' + action.icon_class + '"></i>' + action.label + '</a></li>'
                ).join('');
                return '<ul class="list-unstyled">' + actions + '</ul>';
              },
              "className": "nobr",
              "targets": -1
            },
          ],
          "select": {
            style: 'multi'
          },
          "lengthMenu": [ 10, 25, 50, 100 ]
        });

        table.on('select', function (e, dt, type, indexes) {
          let selected = table.rows({'selected': true});
          if (selected.count() > 0) {
            $('.needs-select').removeClass('disabled');
          }
        });
        table.on('deselect', function (e, dt, type, indexes) {
          allSelected = false;
          let selected = table.rows({'selected': true});
          if (selected.count() == 0) {
            $('.needs-select').addClass('disabled');
          }
        });

        $('.selectall').click(function () {
          allSelected = true;
          table.rows({search:'applied'}).select();
        });
        $('.deselectall').click(function () {
          allSelected = false;
          table.rows({search:'applied'}).deselect();
        });

        $('form.mail').submit(function () {
          let ids;
          if (allSelected){
              ids = -1;
          } else {
            ids = table.rows({selected: true}).data().pluck('id').toArray();

          }
          $('input[name="data"]').val(JSON.stringify(ids));
        });

      });
    </script>
  {% endaddtoblock %}

  <a href="{% url 'backend:user-create' %}" class="btn btn-success hidden-print">
    <i class="icon-plus"></i> {% trans "New user" %}
  </a>
  <hr class="hidden-print"/>
  <div class="btn-group hidden-print">
    <a class="btn btn-default selectall">{% trans "Select all" %}</span></a>
    <a class="btn btn-default deselectall needs-select disabled">{% trans "Deselect all" %}</a>
  </div>
  <div class="btn-group hidden-print">
    <form class="mail" method="post">{% csrf_token %}
      <input type="hidden" name="data" value=''/>
      <button type="submit" class="btn btn-secondary needs-select disabled"><i
          class="icon-mail"></i>&nbsp;&nbsp;{% trans "Send email to selected users" %}</button>
    </form>
  </div>
  <div class="btn-group hidden-print">
    <a href="{% url 'backend:user-export' %}">
      <i class="icon-file-excel"></i>
      &nbsp;&nbsp;{% trans "Export users" %}
    </a>
  </div>

  <table class="table" id="users" data-server-side="true">
    <thead>
    <tr>
      <th data-data="id">ID</th>
      <th data-data="full_name" data-name="last_name">{% trans "Name" %}</th>
      <th data-data="full_name" data-name="first_name">first name</th>
      <th data-data="children" data-name="children.first_name,children.last_name">{% trans "Children" %}</th>
      <th data-data="finished_registrations"
          data-name="profile.finished_registering">{% trans "Finished registration" %}</th>
      {% if not NO_PAYMENT %}
        <th data-data="paid" data-name="profile.has_paid_all">{% trans "Paid" %}</th>
      {% endif %}
      <th data-data="last_registration_natural"
          data-name="profile.last_registration">{% trans "Last registration" %}</th>
      <th data-data="last_registration">{% trans "Last registration" %} code</th>
      <th data-data="actions" class="hidden-print">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  {% comment %}
  <table class="table" id="users">
    <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Children" %}</th>
      <th>{% trans "Finished registration" %}</th>
      {% if not NO_PAYMENT %}
        <th>{% trans "Paid" %}</th>
      {% endif %}
      <th class="hidden-print">{% trans "Actions" %}</th>
    </tr>
    </thead>
    {% for user in object_list %}
      <tr data-userid="{{ user.id }}">
        <td data-order="{{ user.last_name }} {{ user.first_name }}"><a
            href="{{ user.get_backend_url }}">{{ user.full_name }}</a></td>
        <td>
          <ul>
            {% for child in user.children.all %}
              <li>{{ child }}</li>
            {% endfor %}
          </ul>
        </td>

        <td data-order="{{ user.finished_registrations }}"
            data-search="{% if user.finished_registrations %}{% trans 'finished' %}{% endif %}">
          {% if registration_phase == 1 %}
            N/A
          {% else %}
            {% if user.finished_registrations %}
              <i class="icon-ok-circled success"></i>
            {% else %}
              <i class="icon-cancel-circled  danger"></i>
            {% endif %}
          {% endif %}
        </td>
        {% if not NO_PAYMENT %}
          <td data-order="{{ user.paid }}" data-search="{% if user.paid %}{% trans 'paid' %}{% endif %}">
            {% if registration_phase == 1 %}
              N/A
            {% else %}
              {% if user.paid %}
                <i class="icon-ok-circled success"></i>
              {% else %}
                <i class="icon-cancel-circled danger"></i>
              {% endif %}
            {% endif %}
          </td>
        {% endif %}
        <td class="hidden-print">
          <ul class="list-unstyled">
            <li class="text-nowrap"><a href="{{ user.get_backend_url }}" class="btn btn-sm"><i class="icon-user"></i>&nbsp;&nbsp;{% trans "User details" %}
            </a></li>
            <li class="text-nowrap"><a href="{{ user.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Update user" %}
            </a></li>
          </ul>
        </td>
      </tr>

    {% endfor %}
  </table>
  <div class="form-group hidden-print">
    <div class="btn-group">
      <a class="btn btn-default selectall"><span>{% trans "Select all" %}</span></a>
      <a class="btn btn-default deselectall needs-select disabled"><span>{% trans "Deselect all" %}</span></a>
    </div>
    <div class="btn-group">
      <form class="mail" method="post">{% csrf_token %}
        <input type="hidden" name="data" value=''/>
        <button type="submit" class="btn btn-secondary needs-select disabled"><i
            class="icon-mail"></i>&nbsp;&nbsp;{% trans "Send email to selected users" %}</button>
      </form>
    </div>
  </div>
  {% endcomment %}
{% endblock content %}