{% extends "backend/base.html" %}
{% load i18n sekizai_tags duration %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "List managers" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List managers" %}{% endblock %}

{% block content %}

{% addtoblock  "js" %}    
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.tableTools.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  var t = $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      aoColumnDefs: [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 4] }
      ],
      'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All users' %}"] ],
      dom: 'T<"clear">lfrtip',
      tableTools: {
            "sRowSelect": "multi",
            "aButtons": [ ],
            'fnRowSelected': function(){ 
                $('.needs-select').removeClass('disabled'); 
            },
            'fnRowDeselected': function(){ 
                if ($('tr.active').length == 0){ 
                    $('.needs-select').addClass('disabled');
                } 
            }
      }

  });
  
  
  $('.selectall').click(function(){
      var tabletools = TableTools.fnGetInstance(t[0]);
      tabletools.fnSelectAll(true);
  });
  $('.deselectall').click(function(){
      var tabletools = TableTools.fnGetInstance(t[0]);
      tabletools.fnSelectNone();
  });
  
  $('form.mail').submit(function(){
    var tabletools = TableTools.fnGetInstance(t[0]);
    var ids = tabletools.fnGetSelected().map(function(elem){  
        return elem.getAttribute('data-userid'); 
    });
    $('input[name="data"]').val(JSON.stringify(ids));
  });
  
});
</script>
{% endaddtoblock %}

<a href="{% url 'backend:manager-create' %}" class="btn btn-success"><i class="icon-plus"></i> {% trans "New manager" %}</a>
<hr />
<div class="btn-group">
  <a class="btn btn-default selectall">{% trans "Select all" %}</span></a>
  <a class="btn btn-default deselectall needs-select disabled">{% trans "Deselect all" %}</a>
</div>
<div class="btn-group">
  <form class="mail" method="post">{% csrf_token %}
    <input type="hidden" name="data" value='' />
    <button type="submit" class="btn btn-secondary needs-select disabled"><i class="icon-mail"></i>&nbsp;&nbsp;{% trans "Send email to selected users" %}</button>
  </form>
</div>
<table class="table" id="users">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Children" %}</th>
      <th>{% trans "Finished registration" %}</th>
      <th>{% trans "Paid" %}</th>
    </tr>
  </thead>
  {% for user in object_list %}
    <tr data-userid="{{ user.id }}">
      <td><a href="{% url 'backend:activity-detail' pk=user.pk %}">{{ user.full_name }}</a></td>
      <td>
        <ul>
        {% for child in user.children.all %}
          <li>{{ child }}</li>
        {% endfor %}
        </ul>
      </td>
      <td>{% if user.finished_registration %}<i class="icon-ok-circled success"></i>{% else %}<i class="icon-cancel-circled  danger"></i>{% endif %}</td>
      <td>{% if user.paid %}<i class="icon-ok-circled success"></i>{% else %}<i class="icon-cancel-circled  danger"></i>{% endif %}</td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ user.get_backend_url }}" class="btn btn-sm"><i class="icon-user"></i>&nbsp;&nbsp;{% trans "User details" %}</a></li>
          <li class="text-nowrap"><a href="{{ user.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;&nbsp;{% trans "Update user" %}</a></li>
          <li class="text-nowrap"><a href="{{ user.get_delete_url }}" class="btn btn-sm"><i class="icon-trash"></i>&nbsp;&nbsp;{% trans "Delete user" %}</a></li>
        </ul>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="3">{% trans "No user yet" %}</td>
    </tr>
  {% endfor %}
</table>

<div class="btn-group">
  <a class="btn btn-default selectall"><span>{% trans "Select all" %}</span></a>
  <a class="btn btn-default deselectall needs-select disabled"><span>{% trans "Deselect all" %}</span></a>
</div>
<div class="btn-group">
  <form class="mail" method="post">{% csrf_token %}
    <input type="hidden" name="data" value='' />
    <button type="submit" class="btn btn-secondary needs-select disabled"><i class="icon-mail"></i>&nbsp;&nbsp;{% trans "Send email to selected users" %}</button>
  </form>
</div>
{% endblock content %}