{% extends "backend/base.html" %}
{% load duration i18n sekizai_tags switzerland %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% translate "List allocation accounts" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "List allocation accounts" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 2 ] }
      ],
      "paging": false
  });
});
</script>
{% endaddtoblock %}



<a href="{% url 'backend:allocation-create' %}" class="btn btn-success"><i class="icon-plus"></i> {% translate "New allocation account" %}</a>
<hr />
<table class="table">
  <thead>
    <tr>
      <th>{% translate "Account" %}</th>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Period sum" %}</th>
      <th>{% translate "Actions" %}</th>
    </tr>
  </thead>
  {% for allocation_account in object_list %}
    <tr>
      <td><a href="{{ allocation_account.get_backend_url }}">{{ allocation_account.account }}</a></td>
      <td><a href="{{ allocation_account.get_backend_url }}">{{ allocation_account.name }}</a></td>
      <td>{{ allocation_account.get_total_transactions|money }}</td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ allocation_account.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% translate "Update account" %}</a></li>
          <li class="text-nowrap"><a href="{{ allocation_account.get_delete_url }}" class="btn btn-sm"><i class="icon-trash"></i>&nbsp;{% translate "Delete account" %}</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
