{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n mail_tags %}

{% block title %}{% translate "New email" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon icon-mail"></i>&nbsp;&nbsp;{% translate "New email" %}{% endblock %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if recipients %}
      <div class="form-group">
        <label class="control-label" for="id_recipients">{% translate "To" %}</label>
        <div class=" field-recipient">
          <p class="form-control-static">
            {% for recipient in recipients %}
              <span class="label label-primary">{{ recipient }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    {% endif %}

    {{ form.non_field_errors }}

    {{ form.subject|as_crispy_field }}
    {{ form.message|as_crispy_field }}
    <hr>
    {{ form.attachments|as_crispy_field }}

    {% if archive and archive.attachments.count %}
      <div class="form-group">
        <ul>
          {% for att, bound_field in form.attachment_pairs %}
            <li >
              <a href="{{ att.file.url }}" target="_blank" style="margin-right: 1em;">
                {{ att|filename }}
              </a>
              {{ bound_field.label_tag }} <!-- Renders the label -->
              {{ bound_field }}         <!-- Renders the checkbox input itself -->
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <hr>

    {% if form.send_copy %}
      {{ form.send_copy|as_crispy_field }}
    {% endif %}
    {% if form.copy_all_instructors %}
      {{ form.copy_all_instructors|as_crispy_field }}
    {% endif %}
    {% if form.copy_all_admins %}
      {{ form.copy_all_admins|as_crispy_field }}
    {% endif %}



     <div class="form-group">
      <button type="submit" class="btn btn-success btn-large">
        <i class="icon-check"></i>&nbsp;{% translate 'Save and preview' %}
      </button>
      {% if prev %}&nbsp;
        <a href="{{ prev }}" class="btn btn-default">{% translate 'Cancel' %}</a>
      {% else %}
        <a href="?reset" class="btn btn-default"><i class="icon-trash"></i> {% translate 'Reset' %}</a>
      {% endif %}
    </div>
  </form>
{% endblock content %}
