{% load cache i18n static %}


<footer id="footer">
  <div class="container">
    <div>
      {% include "address.html" %}
      <img src="{% static 'img/logo-terre-sainte.png' %}" class="hidden-xs hidden-sm hidden-print"/>
      <ul class="footer-links hidden-print">
        <li><a href="{% url 'contact:contact' %}">{% translate "Contact" %}</a></li>
        <li class="muted">·</li>
        <li><a href="{% url 'terms' %}">{% translate "Terms and conditions" %}</a></li>
      </ul>
      <small class="hidden-print"><a href="http://www.beyondthewall.ch">Développé par Beyond the Wall, Gland</a></small>
    </div>
  </div>
</footer>
