{% extends "base.html" %}
{% load i18n %}


{% block page_title %}{% trans "Sport scolaire facultatif" %}{% endblock page_title%}

{% block content %}
<div class="container" ng-controller="ActivityCtrl">

  <div class="row">
    <div class="span12">
      <p>Le programme du sport scolaire facultatif s’adresse aux élèves de l’Etablissement primaire de Coppet.</p>
      <p>Il propose une série d’activités en rapport avec le sport et se fixe pour objectifs :</p>
      <ul>
        <li>de faire découvrir de nouvelles disciplines sportives</li>
        <li>d’encourager une pratique physique régulière</li>
        <li>de développer des valeurs éducatives fondamentales</li>
      </ul>
      <p>En règle générale, les élèves choisissent des activités nouvelles qu’ils/qu’elles ne pratiquent pas habituellement, dans le but, en cas d’intérêt marqué, de rejoindre les rangs d’un club local.</p>
      <p><strong>En participant, chaque enfant s’engage à respecter les conditions de participation et, par son attitude, à faire en sorte que l’activité soit bénéfique tant pour lui-même que pour l’ensemble de ses camarades.</strong></p>
     <p><em>Nous souhaitons à toutes et tous beaucoup de plaisir dans la pratique des activités de ce programme que nous espérons varié et attrayant.</em></p>
     
    </div><!-- end span -->
  </div><!-- end row -->
  <div class="row">
    <p class="span12" style="text-align: center">
      <a href="{% url 'registration_register' %}" class="btn btn-large btn-primary">Inscription</a>
    </p>
  </div>  
</div> <!-- end container -->


{% endblock content %}