{% load i18n %}
{% if user.is_authenticated and user.is_impersonate %}
<div style="background-color: darkred; height: 3em; display: flex; align-items: center; justify-content: center; font-weight: bold; color: white;">
  {% blocktranslate with user=user %}Your are impersonating {{ user }}{% endblocktranslate %}&nbsp;&nbsp; &mdash; &nbsp;&nbsp;
  <a href="{% url 'impersonate-stop' %}" style="color:white;" class="btn btn-danger "><i class="icon-cancel-circled"></i> {% translate "Stop" %}</a>
</div>
{% endif %}
