{% load i18n %}

<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topnav">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-menu" style="color:#fff;"></span>
      </button>
      <a href="/" class="navbar-brand navbar-brand-white">Sport scolaire facultatif</a>
    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse hidden-print" role="navigation" id="topnav">
      <ul class="nav navbar-nav  navbar-left">          
        <li><a href="{% url 'terms' %}">{% trans "Terms and conditions" %}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Activities" %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for activity in activities %}
            <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
            {% endfor %}
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated and user.is_manager %}
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <i class="icon-sitemap"></i> {{ request.tenant }} <span class="caret"></span>
           </a>
           <ul class="dropdown-menu" role="menu">
           {% for tenant in tenants %}
            {% if tenant == request.tenant %}
            <li class="disabled">
              <a><i class="icon-star"></i> {{ tenant }}</a>
            </li>
            {% else %}
            <li>
              <a href=""><i class="icon-loop-alt"></i> {% trans "Preview" %} {{ tenant }}</a>
              {% endif %}
            </li>
            
            {% endfor %}
            <li class="divider"></li>
            <li>
              <a href=""><i class="icon-split"></i> {% trans "Configure new year" %}</a>
            </li>
            <li>
              <a href=""><i class="icon-loop-alt"></i> {% trans "Change year in production" %}</a>
            </li>
           </ul>
         </li>
         {% endif %}
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="icon-user"></i> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{% url 'profiles_account' %}"><i class="icon-pencil"></i> {% trans "My account" %}</a>
            </li>
            <li>
              <a href="{% url 'profiles_children' %}"><i class="icon-group"></i> {% trans "My family" %}</a>
            </li>
            
{% if not request.PHASE == 1 %}            
            {% if user.finished_registration %}
            <li>
              <a href="{% url 'profiles_registered_activities' %}"> <i class="icon-calendar"></i> {% trans "My registered activities" %}</a>
            </li>
            
            <li>
              <a href="{% url 'profiles_billing' %}"> <i class="icon-credit-card-1"></i> {% trans "Terms of payement" %}</a>
            </li>
            
            {% elif registration_opened %}
            <li>
              <a href="{{ max_step }}"><i class="icon-calendar"></i> {% trans "Register activities" %}</a>
            </li>
            {% endif %}
{% endif %}
            {% if user.is_responsible %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'activities:my-courses' %}"><i class="icon-graduation-cap"></i> {% trans "My courses" %}</a>
              </li>
            {% endif %}
            {% if user.is_manager %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'backend:home' %}"><i class="icon-cogs"></i> {% trans "Administration" %}</a>
              </li>
            {% endif %}
            {% if user.is_staff %}
              <li class="divider"></li>
              <li>
                <a href="{% url 'admin:index' %}"><i class="icon-lock"></i> Django admin</a>
              </li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{% url 'auth_logout' %}?next=/">{% trans "logout" %}</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'auth_login' %}?next={{ request.path }}"><i class="icon-user icon-white"></i> {% trans "login" %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>