{% extends "base.html" %}
{% load floppyforms i18n %}
{% block title %}Protection des données{% endblock %}

{% block page_title %}Protection des données{% endblock %}

{% block content %}

<h2>1. Généralités</h2>
<p>
  Notre objectif est de fournir à vos enfants un accès à des activités extrascolaires. Dans ce cadre, nous avons
  besoin de certaines données personnelles qui nous en permettent l'organisation.<br >
  Nous garantissons de traiter toutes les données personnelles qui nous sont confiées dans le respect de votre confiance
  et vous assurons que ces données sont saisies avec le plus grand soin, traitées de manière strictement confidentielle
  et utilisées aux fins pour lesquelles elles ont été récoltées. Dans ce cadre, nous respectons les dispositions légales
  applicables et les principes énoncés ci-après. En saisissant vos données personnelles sur ces pages, vous déclarez
  expressément accepter que celles-ci soient traitées selon ces principes.
</p>

<h2>2. Données récoltées directement</h2>
<p>Lors de votre inscription, nous recueillons auprès de vous les informations suivantes:
<h4>À propos de vous, responsable légal de votre (vos) enfant(s)</h4>
  <ul>
    <li>Prénom</li>
    <li>Nom</li>
    <li>Email (utilisée pour la correspondance au sujet des cours)</li>
    <li>Adresse postale</li>
    <li>Numéro(s) de téléphone</li>
  </ul>
<h4>À propos de chaque enfant inscrit</h4>
   <ul>
    <li>Prénom</li>
    <li>Nom</li>
    <li>Sexe</li>
    <li>Date de naissance</li>
    <li>Nationalité (CH, LI ou autre)</li>
    <li>Langue</li>
    <li>Informations scolaires (enseignant principal, établissement).</li>
  </ul>

</p>

  <h2>3. Enregistrement des données d'accès</h2>
  <h3>Cookies</h3>
  <p>Sur notre site, nous utilisons des cookies. Il s’agit de petits fichiers qui sont enregistrés dans votre ordinateur
    ou votre appareil mobile lorsque vous visitez notre site Internet.</p>
  <p>Les cookies que nous utilisons sont effacés automatiquement de votre ordinateur ou de votre appareil mobile à la
    fin de la session de navigation (il s’agit des cookies de session). Nous recourons par exemple à des cookies de
    session pour vous reconnaître en tant qu'utilisateur légitime de vos propres données.</p>

  <h3>Fichier log</h3>
  <p>Lors de l’accès à nos pages web, des données générales sont enregistrées dans un fichier log à des fins de
  statistiques. Cela concerne notamment:
  <ul>
    <li>adresse IP</li>
    <li>date et heure de l’accès</li>
    <li>nom du fichier requis</li>
    <li>état d’accès (ok, contenu partiel, document introuvable, etc.)</li>
    <li>page depuis laquelle l’accès a eu lieu</li>
    <li>domaine de premier niveau (*.ch, *.fr, *.com, etc.)</li>
    <li>navigateur web utilisé</li>
    <li>système d’exploitation utilisé</li>
  </ul>
  <p>Nous traitons ces données sous forme anonyme, par exemple pour établir quels jours les accès sont les plus
  nombreux. Il n’y a aucun examen des données personnelles des fichiers log.

  <h3>Outils de suivi et d’analyse</h3>
  <p>Afin de mesurer et d’évaluer l’utilisation de nos services, nous utilisons différents systèmes techniques de suivi
  et d’analyse. Ces mesures peuvent s’effectuer de manière anonyme ou en fonction de la personne. Il se peut que les
  données récoltées soient transmises par nos soins ou par les tiers fournissant ces systèmes techniques à d’autres
    tiers à des fins de traitement.</p>

  <p>L’outil d’analyse utilisé est Google Analytics, un service proposé par Google Inc. Par conséquent, les données
  saisies sont en général transmises à un serveur de Google aux États-Unis ou dans un autre pays tiers, les adresses IP
  étant rendues anonymes de manière à ne plus pouvoir les associer à un appareil. L’adresse IP transmise par votre
  navigateur dans le cadre de Google Analytics n’est pas combinée avec d’autres données de Google. Vous pouvez bloquer
  la collecte et le traitement de ces données par Google Analytics en activant un cookie opt-out qui empêche toute
  saisie future de vos données lorsque vous consultez ce site web. Vous trouverez des informations détaillées à ce sujet
  à l’adresse:
    <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a>.</p>

  <h2>4. Autres fins d'utilisation</h2>
  <p>Outre la gestion de base des activités, nous traitons vos données aux fins suivantes:
  <h4>Communication générale</h4>
  <p>Nous nous réservons le droit d'utiliser vos données afin de vous communiquer des informations générales (date
    d'inscription de l'année suivante, événement spécial...)</p>
  <h4>Gestion de chaque cours</h4>
  <p>Nous vous communiquons des informations spécifiques concernant les cours auxquels vos enfants sont inscrits
    (annulation, besoin de matériel spécial...).</p>

<h2>5. Sécurité des données</h2>
  <p>
  <a href="https://beyondthewall.ch">Beyond the Wall sàrl</a> est l'entreprise en charge du développement et de la
    maintenance de notre plateforme. Cette entreprise recourt à des mesures de sécurité techniques et organisationnelles
    afin de protéger les données gérées contre toute manipulation, perte, destruction accidentelles ou intentionnelles
    ou contre un accès par des personnes non autorisées selon l’état actuel de la technique. Les mesures de sécurité
    sont continuellement améliorées afin de répondre à l’évolution technologique.</p>
    <p>Ni l'organisateur des cours ni Beyond the Wall n’endosse toutefois de responsabilité pour la perte de données ou
      leur prise de connaissance et utilisation par des personnes non autorisées.</p>

<h2>6. Transfert de vos données personnelles à des tiers</h2>
  <p>De manière générale, nous ne transmettons à aucun tiers vos données personnelles à l'exception du cas suivant:</p>
  <p>À des fins organisationnelles et statistiques, nous pouvons ponctuellement envoyer des données sur certains de nos
    cours à <a href="http://www.jugendundsport.ch/fr/home.html">Jeunesse+Sport</a>, le programme d'encouragement du
    sport de la Confédération Suisse. Les données envoyées sont les suivantes:
  <ul>
    <li>Nom du cours</li>
    <li>Nom de l'enfant</li>
    <li>Prénom de l'enfant</li>
    <li>Date de naissance de l'enfant</li>
    <li>Adresse postale de l'enfant</li>
    <li>Nationalité de l'enfant</li>
    <li>Langue de l'enfant</li>
  </ul>
  </p>

  <h2>7. Visibilité de vos données personnelles</h2>
  <p>Nous définissons quatre niveaux d'accès aux données: public, personnes inscrites au cours, moniteurs du cours et
    administrateurs des activités. Chaque niveau a accès aux informations suivantes:</p>

  <h3>Public</h3>
  <p>Nombre d'inscrits par activité.</p>

  <h3>Personnes inscrites au cours</h3>
  <p>Afin de permettre une meilleure organisation des déplacements entre parents, nous affichons quelques informations
  personnelles sur les autres inscrits de chaque cours. Un parent ne peut afficher ces informations que pour les cours
  auxquels l'un de ses enfants est inscrit:
  <ul>
    <li>Nom et prénom</li>
    <li>Informations scolaires</li>
    <li>Adresse email des parents</li>
  </ul>
  </p>

  <h3>Moniteurs du cours</h3>
  <p>Afin d'assurer notamment la sécurité de chaque cours, les moniteurs ont accès aux informations suivantes sur les
  enfants inscrits:
  <ul>
    <li>Nom et prénom de chaque enfant inscrit</li>
    <li>Informations scolaires</li>
    <li>Date de naissance</li>
    <li>Numéros de téléphone des parents</li>
    <li>Adresse email des parents</li>
  </ul>

  <h3>Administrateurs</h3>
  <p>Toutes les informations personnelles.</p>

  <h2>8. Modification et suppression des données</h2>
  <p>Chaque parent peut accéder à et modifier en tout temps ses informations personnelles ainsi qu'à celles de ses
    enfants. Il peut en outre demander la suppression de son compte via le
    <a href="{% url 'contact:contact' %}">formulaire de contact</a>.

  <h2>9. Droit d'accès</h2>
  <p>Chaque personne a le droit de demander à savoir si des données lui concernant sont enregistrées sur ce site, et
  lesquelles. Les requêtes correspondantes doivent être adressées via le
  <a href="{% url 'contact:contact' %}">formulaire de contact</a>. Toute autre question concernant les présentes dispositions
  sur la protection des données doit également être envoyée ce biais. Nous nous efforçons de répondre aux demandes
    le plus rapidement possible.</p>

<h2>10. Modification des présentes dispositions sur la protection des données</h2>
<p>Nous nous réservons le droit de modifier à tout moment les présentes dispositions sur la protection des données.
  Toute modification sera publiée sur les pages web de ce site.</p>

{% endblock content %}
