{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
<div class="container">
<div class="simple-page-header">
  <div class="wizard">
    <ul class="steps">
      {% for step in steps %}
        <li class="{% if step.current %}active{% else %}{% if step.activable %}complete{% endif %}{% endif %}" id="{{ step.id }}">
          <span class="badge {% if step.current %}badge-secondary{% elif step.activable %}badge-success{% endif %} ">{{ forloop.counter }}</span>
          {% if step.current or not step.activable %}
            {{ step.title }}
          {% else %}
            <a href="{{ step.url }}">{{ step.title }}</a>
          {% endif %}
          
          <span class="chevron"></span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class=" page-header">
  <h1>{% block page_title %}{% endblock page_title %}</h1>
</div>
</div>
{% endblock page_header %}

{% block page_footer %}
<nav class="hidden-print">
  <ul class="pager">
  {% if previous_step %}
    <li class="previous">
      <a href="{{ previous_step.url }}"><span aria-hidden="true">&larr;</span> {% block previous_label %}{% trans "Previous"%}{% endblock %}</a>
    </li>
  {% endif %}
  {% if next_step %}
    <li class="next">
      <a href="{{ next_step.url }}">{% block next_label %}{% trans "Next"%}{% endblock %}<span aria-hidden="true">&rarr;</span></a>
    </li>

  {% endif %}
  </ul>
</nav>
{% endblock page_footer %}
