{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
<div class="row simple-page-header">
  <div class="wizard">
    <ul class="steps">
      {% for step in steps %}
        <li class="{% if step.current %}active{% else %}{% if step.activable %}complete{% endif %}{% endif %}">
          <span class="badge {% if step.activable %}badge-success{% endif %} {% if step.current %}badge-info{% endif %}">{{ forloop.counter }}</span>
          {% if step.current or not step.activable %}
            {{ step.title }}
          {% else %}
            <a href="{{ step.url }}">{{ step.title }}</a>
          {% endif %}
          
          <span class="chevron"></span>
        </li>
      {% endfor %}
    </ul>
    
    <div class="actions">
      <button type="button" class="btn btn-mini btn-prev" {% if not previous_step %}disabled{% endif %}> <i class="icon-arrow-left"></i>{% trans "Previous"%}</button>
      <button type="button" class="btn btn-mini btn-next" data-last="Finish" {% if not next_step %}disabled{% endif %}>{% trans "Next"%}<i class="icon-arrow-right"></i></button>
    </div>
  </div>
</div>
<div class="row page-header">
  <h1 class="span12">{% block page_title %}{% endblock page_title %}</h1>
</div>
{% endblock page_header %}
