{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
<div class="row simple-page-header">
  <div class="wizard">
    <ul class="steps">
      {% for step in steps %}
        <li class="{% if step.current %}active{% else %}{% if step.activable %}complete{% endif %}{% endif %}" id="{{ step.id }}">
          <span class="badge {% if step.activable %}badge-success{% endif %} {% if step.current %}badge-info{% endif %}">{{ forloop.counter }}</span>
          {% if step.current or not step.activable %}
            {{ step.title }}
          {% else %}
            <a href="{{ step.url }}">{{ step.title }}</a>
          {% endif %}
          
          <span class="chevron"></span>
        </li>
      {% endfor %}
    </ul>
    {% block wizard_actions %}
    <div class="actions">
      <a href="{{ previous_step.url }}" class="btn btn-mini btn-prev{% if not previous_step %} disabled{% endif %}"><i class="icon-arrow-left"></i> {% trans "Previous"%}</a>
      <a href="{{ next_step.url }}" class="btn btn-mini btn-next{% if not next_step %} disabled{% endif %}">{% trans "Next"%}<i class="icon-arrow-right"></i></a>
    </div>
  </div>
  {% endblock wizard_actions %}
</div>
<div class="row page-header">
  <h1 class="span12">{% block page_title %}{% endblock page_title %}</h1>
</div>
{% endblock page_header %}

{% block page_footer %}
  <div class="form-actions">
    {% if previous_step %}
      <a class="btn btn-prev" href="{{ previous_step.url }}"><i class="icon-chevron-left"></i> {% block previous_label %}{% trans "Previous"%}{% endblock previous_label %}</a>
    {% endif %}
    {% if next_step %}
    <div class="pull-right">
      <a class="btn btn-primary btn-large btn-next" href="{{ next_step.url }}">{% block next_label %}{% trans "Next"%}{% endblock %} <i class="icon-chevron-right icon-white"></i> </a>      
    </div>
    {% endif %}
  </div>
{% endblock page_footer %}
