{% load static i18n %}


<footer id="footer">
  <div class="container">
    <div>
      {% include "address.html" %}
      <ul class="footer-links hidden-print">
        <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
        <li class="muted">·</li>
        <li><a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></li>
      </ul>
      <small class="hidden-print"><a href="http://www.beyondthewall.ch">Développé par Beyond the Wall, Gland</a></small>
    </div>
  </div>
</footer>
