{% extends "backend/base.html" %}
{% load i18n sekizai_tags switzerland static crispy_forms_tags %}


{% block title %}{% trans "List bills" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List bills" %}{% endblock %}


{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/fc-3.2.5/fh-3.1.4/r-2.2.2/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
    {% endaddtoblock %}

  <section class="portlet">
    <!-- Filter Panel -->
    <div class="filter-panel row">
      <div class="col-md-4">
        <label for="reportrange">{% trans "Date Range" %}</label>
        <div id="reportrange" class="form-control">
          <i class="icon-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
        </div>
      </div>
      <div class="col-md-4">
        <label for="statusFilter">{% trans "Payment status" %}</label>
        <select id="statusFilter" class="form-control">
          <option value="all">{% trans "All" %}</option>
          <option value="paid">{% trans "Paid" %}</option>
          <option value="waiting">{% trans "Open" %}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="amountFilter">{% trans "Amount" %}</label>
        <select id="amountFilter" class="form-control">
          <option value="all">{% trans "All" %}</option>
          <option value="positive">{% trans "Amounts > 0" %}</option>
          <option value="zero">{% trans "Amounts = 0" %}</option>
        </select>
      </div>
    </div>
  </section>

  <table class="table">
    <thead>
    <tr>
      <th class="text-nowrap">{% trans "Billing identifier" %}</th>
      <th class="text-nowrap">{% trans "Date" %}</th>
      <th class="text-nowrap">{% trans "User" %}</th>
      <th class="text-nowrap">{% trans "Total" %}</th>
      <th class="text-nowrap">{% trans "Paid" %}</th>
      <th class="text-nowrap">{% trans "Action" %}</th>
    </tr>
    </thead>
    {% for bill in bill_list %}
      <tr>
        <td><a href="{{ bill.backend_url }}">{{ bill.billing_identifier }}</a></td>
        <td data-order="{{ bill.created|date:'c' }}">{{ bill.created|date:"SHORT_DATE_FORMAT" }}</td>
        <td data-order="{{ bill.family.last_name }} {{ bill.family.first_name }}"><a
            href="{{ family.get_backend_url }}">{{ bill.family.full_name }}</a></td>
        <td data-order="{{ bill.total }}" data-amount="{{ bill.total }}">{{ bill.total|money }}</td>
        <td data-order="{{ bill.is_ok }}"
            data-search="{% if bill.is_ok %}{% trans 'paid' %}{% endif %} {{ bill.get_payment_method_display }}"
            data-status="{{ bill.status }}"
        >
          {% if bill.is_ok %}
            <i class="icon-ok-circled success"></i>
            <br>
            {% if bill.payment_method %}
              {{ bill.get_payment_method_display }}<br>
            {% endif %}
            {{ bill.payment_date|date:"SHORT_DATE_FORMAT" }}
          {% else %}
            <i class="icon-cancel-circled danger"></i>
          {% endif %}
        </td>
        <td>
          <ul class="list-unstyled">
            <li class="text-nowrap"><a href="{{ bill.get_backend_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Review bill" %}
            </a></li>
            <li class="text-nowrap"><a href="{{ bill.pay_url }}" class="btn btn-sm"><i class="icon-credit-card-1"></i>&nbsp;{% trans "Update payment information" %}
            </a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
  <hr>
  {% crispy form %}


  {% addtoblock "js" %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables/dataTables.bootstrap.js' %}"></script>

    <script>
      $(function () {
        moment.locale('fr', {
          months: 'janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre'.split('_'),
        });
        moment.locale('fr');
        const start = moment("{{ start | date:'c' }}");
        const end = moment("{{ end | date:'c' }}");

        $('#reportrange').daterangepicker({
          autoUpdateInput: false,
          startDate: start,
          endDate: end,
          applyButtonClasses: "btn-secondary",
          locale: {
            "format": "DD.MM.YYYY",
            "firstDay": 1,
            "daysOfWeek": [
              "{% trans "Sun" %}",
              "{% trans "Mon" %}",
              "{% trans "Tue" %}",
              "{% trans "Wed" %}",
              "{% trans "Thu" %}",
              "{% trans "Fri" %}",
              "{% trans "Sat" %}"],
            "monthNames": [
              "{% trans "January" %}",
              "{% trans "February" %}",
              "{% trans "March" %}",
              "{% trans "April" %}",
              "{% trans "May" %}",
              "{% trans "June" %}",
              "{% trans "July" %}",
              "{% trans "August" %}",
              "{% trans "September" %}",
              "{% trans "October" %}",
              "{% trans "November" %}",
              "{% trans "December" %}"
            ],
            "applyLabel": "{% trans "Apply" %}",
            "cancelLabel": "{% trans "Cancel" %}",
            "customRangeLabel": "{% trans "Custom range" %}",
          },
          ranges: {
            '{% trans "Today" %}': [moment(), moment()],
            '{% trans "Yesterday" %}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '{% trans "Last 7 days" %}': [moment().subtract(6, 'days'), moment()],
            '{% trans "Last 30 days" %}': [moment().subtract(29, 'days'), moment()],
            '{% trans "This month" %}': [moment().startOf('month'), moment().endOf('month')],
            '{% trans "Last month" %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, function(start, end, label) {
          $('#reportrange span').html(start.format('DD.MM.YYYY') + ' - ' + end.format('DD.MM.YYYY'));

        });
        $('#reportrange span').html(start.format('DD.MM.YYYY') + ' - ' + end.format('DD.MM.YYYY'));


        const table = $(".table").DataTable({
          {% if LANGUAGE_CODE == 'fr' %}
            "language": {
              "url": "{% static 'js/vendor/datatables/French.json' %}"
            },
          {% endif %}
          "aoColumnDefs": [
            {'bSortable': false, 'bSearchable': false, 'aTargets': [5]}
          ],
          "order": [[1, "desc"]],
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All bills' %}"]],
          pageLength: 50,
        });

        $('#reportrange').on('outsideClick.daterangepicker', (ev, picker) => {
          //$(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
          $.fn.dataTable.ext.search.push(
            (settings, data, dataIndex) => {
              const startDate = picker.startDate.format('YYYY-MM-DD');
              const endDate = picker.endDate.format('YYYY-MM-DD');
              const dateOrder = table.row(dataIndex).nodes().to$().find('td:eq(1)').attr('data-order');
              return dateOrder >= startDate && dateOrder <= endDate;
            }
          );
          table.draw();
        });

        $('#reportrange').on('apply.daterangepicker', (ev, picker) => {
          //$(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
          $.fn.dataTable.ext.search.push(
            (settings, data, dataIndex) => {
              const startDate = picker.startDate.format('YYYY-MM-DD');
              const endDate = picker.endDate.format('YYYY-MM-DD');
              const dateOrder = table.row(dataIndex).nodes().to$().find('td:eq(1)').attr('data-order');
              return dateOrder >= startDate && dateOrder <= endDate;
            }
          );
          table.draw();
        });
        $('#reportrange').on('cancel.daterangepicker', (ev, picker) => {
          $(this).val('');
          // Remove the custom search filter for date range
          $.fn.dataTable.ext.search.pop();
          table.draw();
        });


       // Custom filter for amount and status
        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                // Amount filter logic
                const amountFilter = $('#amountFilter').val();
                const amount = parseFloat(table.row(dataIndex).nodes().to$().find('td:eq(3)').attr('data-amount'));

                if (amountFilter === 'all' || (amountFilter === 'positive' && amount > 0) || (amountFilter === 'zero' && amount === 0)) {
                    // Status filter logic
                    const statusFilter = $('#statusFilter').val();
                    const status = table.row(dataIndex).nodes().to$().find('td:eq(4)').attr('data-status');
                    if (statusFilter === 'all' || statusFilter === status) {
                      return true;
                    }
                }
                return false;
            }
        );

        // Event listener for amount filter change
        $('#amountFilter, #statusFilter').on('change', () => {
            table.draw();
        });

        $('.export-button').on('click', () => {
          const startDate = $('#reportrange').data('daterangepicker').startDate.format('YYYY-MM-DD');
          const endDate = $('#reportrange').data('daterangepicker').endDate.format('YYYY-MM-DD');
          const status = $('#statusFilter').val();
          const amount = $('#amountFilter').val();

          const sortingOrder = table.order(); // This returns an array, e.g., [[1, "desc"], [2, "asc"]]
          const sortingFields = sortingOrder.map(order => `${order[0]}:${order[1]}`).join(',');

          $('#id_start').val(startDate);
          $('#id_end').val(endDate);
          $('#id_status').val(status);
          $('#id_amount').val(amount);
          $('#id_sorting').val(sortingFields); // Pass the sorting info to the hidden "sorting" field

          $('#export-form').submit();
        });

      });
    </script>
  {% endaddtoblock %}

{% endblock content %}
