{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Change payment status" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-credit-card-1"></i>&nbsp;&nbsp;{% translate "Change payment status" %}{% endblock %}

{% block content %}

  {% addtoblock "js" %}
    {{ form.media.js }}
    <script>
      $(document).ready(function () {
        $('#id_status').change(function () {
          if ($(this).val() === 'paid') {
            $('#div_id_payment_date').show();
          } else {
            $('#div_id_payment_date').hide();
          }
        }).trigger('change'); // Trigger change event on page load to set initial state
      });
    </script>
  {% endaddtoblock %}

  {% addtoblock "css" %}
    {{ form.media.css }}
  {% endaddtoblock %}

  <form action="" method="post" class="form">
    {% crispy form %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary ">{% translate 'Update status' %}</button>
      <a href="{% url 'backend:user-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
{% endblock content %}
