{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Change payment status" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-credit-card-1"></i>&nbsp;&nbsp;{% trans "Change payment status" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/vendor/bootstrap-switch.min.js"></script>
<script>
  $("input[type='checkbox']").bootstrapSwitch({
      onColor: 'success',
      offColor: 'danger',
      onText: '{% trans "Yes" %}',
      offText: '{% trans "No" %}'
  });
</script>

{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  
  {{ form.errors }}
  
  {% form form using  %}
  {% formconfig row using "floppyforms/rows/bootstrap.html" %}

  {% formrow form.status %}
  {% endform %}

  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-primary ">{% trans 'Update status' %}</button>
      &nbsp;
      <a href="{% url 'backend:user-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}