{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Cancel registration" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Cancel registration" %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>{% blocktrans with child=object.child|title course=object.course %}Are you sure you want to cancel registration to {{ course }} for {{ child }}?{% endblocktrans %}</p>
  <div class="form-group">
    <button type="submit" class="btn btn-danger"><i class="icon icon-cancel-circled"></i>&nbsp;{% trans 'confirm' %}</button>
  </div>
</form>

{% endblock content %}