{% extends "backend/base.html" %}
{% load extra i18n switzerland %}

{% block title %}{% translate "Registration details" %}{% endblock %}

{% block page_title %}{% translate "Registration details" %}{% endblock %}

{% block content %}

  <section class="portlet">
    <dl class="dl-horizontal">
      <dt>{% translate "Child" %}</dt>
      <dd><a href="{{ registration.child.get_backend_url }}">{{ registration.child }}</a></dd>
      <dt>{% translate "Course" %}</dt>
      <dd><a href="{{ registration.course.get_backend_url }}">{{ registration.course.short_name }}</a></dd>
      <dt>{% translate "Status" %}</dt>
      <dd>{{ registration.get_status_display }}</dd>
      <dt>{% translate "Creation" %}</dt>
      <dd>{{ registration.created|date:"SHORT_DATETIME_FORMAT" }}</dd>
      <dt>{% translate "Last modification" %}</dt>
      <dd>{{ registration.modified|date:"SHORT_DATETIME_FORMAT" }}</dd>
      <dt>{% translate "Confirmation mail sent on" %}</dt>
      <dd>{{ registration.confirmation_sent_on|date:"SHORT_DATE_FORMAT"|default:"n/a" }}</dd>
    </dl>
  </section>

{% if DISPLAY_CAR_NUMBER %}
  <section class="portlet">
    <h4 class="portlet-title">{% translate "Transport" %}</h4>
    <dl class="dl-horizontal">
      <dt>{% translate "Transport number" %}</dt>
      <dd>
        {% if registration.transport %}
          <a href="{{ registration.transport.backend_url }}">{{ registration.transport }}</a>
        {% else %}
          n/a
        {% endif %}
      </dd>
    </dl>
  </section>
{% endif %}

{% if not KEPCHUP_NO_PAYMENT %}
  <section class="portlet">
    <h4 class="portlet-title">{% translate "Payment" %}</h4>
    <dl class="dl-horizontal">
      <dt>{% translate "Invoice" %}</dt>
      <dd>
        {% if registration.bill %}
          <a href="{{ registration.bill.backend_url }}">{{ registration.bill.billing_identifier }}</a>
        {% else %}n/a{% endif %}
      </dd>
      <dt>{% translate "Price" %}</dt>
      <dd>{{ registration.price|money }}</dd>
      <dt>{% translate "Is paid" %}</dt>
      <dd>
          <span class="label {{ registration.paid|yesno:"label-success,label-danger" }}">
            <i class="icon-{{ registration.paid|yesno:'ok,cancel' }}"></i>
          </span>
      </dd>
    </dl>
  </section>
{% endif %}


{% if registration.extra_infos.exists %}
  <section class="portlet">
    <h4 class="portlet-title">{% translate "Additional questions" %}</h4>
    <dl class="dl-horizontal">
      {% for extra in registration.extra_infos.all %}
        <dt>{{ extra.key.question_label }}</dt>
        <dd>
          {% if extra.key.is_boolean %}
            <span class="label {{ extra.is_true|yesno:"label-success,label-danger" }}">
                <i class="icon-{{ extra.is_true|yesno:'ok,cancel' }}"></i>
              </span>
          {% elif extra.key.is_image %}
              <span class="label {{ extra.is_true|yesno:"label-success,label-danger" }}">
                <i class="icon-{{ extra.is_true|yesno:'ok,cancel' }}"></i>
              </span>
            {% if extra.is_true and extra.image %}
              <div>
              {% if extra.image.url|is_image %}
                <img src="{{ extra.image.url }}" class="img-responsive">
              {% else %}
                <a href="{{ extra.image.url }}" download>{% translate "download" %}</a>
              {% endif %}
              </div>
            {% endif %}
          {% else %}
            {{ extra.value }}
          {% endif %}
          {% if extra.key.price_modifier %}
            <span class="pull-right invoice-item"
                  data-value="{{ extra.price_modifier }}">{{ extra.price_modifier|money_sign }}</span>
          {% endif %}
        </dd>
      {% endfor %}
    </dl>
  </section>
{% endif %}



{% endblock content %}
