{% extends "backend/base.html" %}
{% load i18n sekizai_tags %}


{% block title %}{% trans "List registrations" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List registrations" %}{% endblock %}

{% block content %}
  {% addtoblock "js" %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.1.1/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.1.1/js/searchPanes.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script>
      $(function () {
        $(".table").dataTable({
          {% if LANGUAGE_CODE == 'fr' %}
            "language": {
              "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
            },
          {% endif %}

          columnDefs: [
            {
              searchPanes: {
                orderable: false,
                searchable: false,
              },
              targets: ['status']
            },
            {
              orderable: false,
              searchable: false,
              targets: [-1]
            }
          ],
          lengthMenu: [ 10, 25, 50, 100 ],
          pageLength: 50,
          searchPanes: {
            viewTotal: true,
            columns: [-2],
            clear: false,

          },
          language: {
            searchPanes: {
              title: {
                _: '',
                0: '',
                1: '',
              }
            },
            url: "{{ STATIC_URL }}js/vendor/datatables/French.json"
          },
          "select": {
            style: 'multi'
          },
          dom: 'Pfrtip',
        });

      });
    </script>
  {% endaddtoblock %}
  {% addtoblock "css" %}
    <link href="https://cdn.datatables.net/searchpanes/1.1.1/css/searchPanes.bootstrap.min.css" rel="stylesheet"
          media="all"/>
    <link href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap.min.css" rel="stylesheet" media="all"/>

  {% endaddtoblock %}

  <a href="{% url 'backend:registration-create' %}" class="btn btn-success"><i
      class="icon-plus"></i> {% trans "New registration" %}</a>
   {% if registration_list.count %}
     &nbsp;&nbsp;
  <a href="{% url 'backend:registrations-validate-all' %}" class="btn btn-secondary"><i
      class="icon-check"></i> {% trans "Validate all registrations" %}</a>
  {% endif %}
  <hr/>
  <table class="table">
    <thead>
    <tr>
      <th class="text-nowrap course">{% trans "Course Identifier" %}</th>
      <th class="text-nowrap activity">{% trans "Activity" %}</th>
      <th class="text-nowrap day">{% trans "Day" %}</th>
      <th class="text-nowrap start">{% trans "Start date" %}</th>
      <th class="text-nowrap time">{% trans "Time" %}</th>
      {% if BIB_NUMBERS %}
        <th class="text-nowrap bibnumber">{% trans "Bib number" %}</th>
      {% endif %}
      <th class="text-nowrap child">{% trans "Child" %}</th>
      <th class="text-nowrap status">{% trans "Status" %}</th>
      <th class="text-nowrap">{% trans "Action" %}</th>
    </tr>
    </thead>
    {% for registration in registration_list %}
      {% with course=registration.course child=registration.child %}
        <tr {% if registration.is_canceled %}style="background-color: #f3f3f3"{% endif %}>
          <td><a href="{{ course.get_backend_url }}">{{ course.number }}</a></td>
          <td><a href="{{ course.activity.get_backend_url }}">{{ course.activity.name }}</a></td>
          <td>{{ course.day_name }}</td>
          <td data-order="{{ course.start_date|date:'c' }}">{{ course.start_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ course.start_time|time:"H:i" }}</td>
          {% if BIB_NUMBERS %}
            <td>{{ child.bib_number }}</td>
          {% endif %}
          <td><a href="{{ child.get_backend_url }}">{{ child }}</a></td>
          <td data-search="{{ registration.get_status_display }}">
            {{ registration.get_status_display }}
            {% if registration.confirmation_sent_on %}<br>
              <small>{{ registration.confirmation_sent_on|date:"SHORT_DATE_FORMAT" }}</small>
            {% endif %}
            {% if registration.is_canceled %}<small>
             <br>{{ registration.cancelation_date|date:"SHORT_DATE_FORMAT" }}
              {% if registration.cancelation_reason %}<br>{{ registration.get_cancelation_reason_display }}{% endif %}
              {% if registration.cancelation_person %} – {{ registration.cancelation_person.full_name }}{% endif %}
              </small>
            {% endif %}
          </td>
          <td>
            {% if not registration.is_canceled %}
            <ul class="list-unstyled">
              <li class="text-nowrap"><a href="{{ registration.details_url }}" class="btn btn-sm"><i
                  class=" icon-help"></i>&nbsp;{% trans "Registration details" %}</a></li>
              <li class="text-nowrap"><a href="{{ registration.update_url }}" class="btn btn-sm"><i
                  class="icon-edit"></i>&nbsp;{% trans "Update registration" %}</a></li>
              <li class="text-nowrap"><a href="{{ registration.delete_url }}" class="btn btn-sm"><i
                  class="icon-cancel"></i>&nbsp;{% trans "Cancel registration" %}</a></li>
            </ul>
            {% endif %}
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
  </table>
{% endblock content %}
