{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Update transport" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-bus"></i>&nbsp;&nbsp;{% translate "Update transport" %}{% endblock %}

{% block content %}



<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% crispy form %}


  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-primary ">{% translate 'Update transport' %}</button>
      &nbsp;
      <a href="{% if list_return_url %}{{ list_return_url }}{% else %}{% url 'backend:transport-list' %}{% endif %}" data-list-back class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}
