{% extends "backend/base.html" %}
{% load i18n matrix sekizai_tags static status switzerland %}


{% block title %}{% translate "Transport detail" %}{% endblock %}

{% block page_title %}<i class="icon-bus"></i>&nbsp;{% blocktranslate with name=transport.name %}Transport details:
  {{ name }}{% endblocktranslate %}{% endblock page_title %}

{% block extra_body %}class="transport"{% endblock %}

{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.css"/>
    <style>
      .dataTables_wrapper {
        margin-top: 20px;
      }

      table.dataTable tbody tr.selected .popover {
        color: black;
      }

      table.dataTable tbody tr.selected .absence a {
        color: rgb(51, 122, 183);
      }

      .rotated-heading {
        height: 85px;
        width: 40px;
        white-space: nowrap;
        vertical-align: middle !important;
      }

      .rotated-heading div {
        transform: rotate(-90deg) translate(-33px, 0px);
        -webkit-transform: rotate(-90deg) translate(-33px, 0px);
        width: 35px;
      }

      .rotated-heading div span {
        padding-left: 12px;
      }

      table.dataTable thead > tr > th.rotated-heading {
        padding-left: 0;
        padding-right: 0;
      }

      .set-absence .btn-sm {
        padding: 0;
      }

      .absences > tbody > tr > td.absence {
        text-align: center;
      }

      .absences .popover .radio {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .absences .popover .radio label {
        padding-left: 20px;
      }

      .absences .popover .radio input[type=radio] {
        position: absolute;
        margin-left: -20px;
        margin-top: 2px;
      }

      .absences .popover textarea {
        width: 100%;
      }

      .edit-session .form-group {
        margin-bottom: 15px;
        display: block;
      }

      .edit-session .form-control {
        width: 100%;
        display: block;
      }

      @media print {

        table .rotated-heading {
          height: 55px;
        }

        .rotated-heading div span {
          padding-left: 23px;
        }

        table.table-condensed > thead > tr > th, table.table-condensed > tbody > tr > th, table.table-condensed > tfoot > tr > th,
        table.table-condensed > thead > tr > td, table.table-condensed > tbody > tr > td, table.table-condensed > tfoot > tr > td {
          padding: 3px;
          line-height: 10px;
        }

        table.table-condensed > tbody > tr > td.session-col {
          padding: 2px;
        }

        .session-col .btn-sm {
          line-height: 11px;
        }

        .absences {
          width: 100% !important;
        }

        .child-col {
          width: 4cm ! important;
        }

        .session-col {
          width: 0.4cm !important;
        }

        .course-col {
          width: 2.7cm;
        }

        .course-col span {
          width: 3cm !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }

        .transport-col {
          width: 1.1cm;
        }

        .transport-col span {
          width: 1.4cm !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }

      }

    </style>
  {% endaddtoblock %}

  <div class="btn-group hidden-print">
    <form class="move" method="post"
          action="{% url 'backend:transport-move' %}?prev={{ transport.id }}">{% csrf_token %}
    </form>
  </div>
  <table class="table table-bordered table-hover table-condensed absences table-fixed responsive">
    <thead>
    <tr>
      {% if BIB_NUMBERS %}
        <th class="all rotated-heading bibnumber">
          <div><span>{% translate "Bib number" %}</span></div>
        </th>
      {% endif %}
      <th class="all child-name">{% translate "Name" %}</th>
      <th class="all phone">{% translate "Phone" %}</th>
      <th class="all course-col">{% translate "Course" %}</th>
      <th class="all transport-col">{% translate "Info" %}</th>
      {% for session_date in all_dates %}
        <th class="rotated-heading session-col date {% if forloop.first %} all{% else %} min-tablet-p{% endif %}"
            data-session="{{ session.id }}">
          <div>
            <span class="session-date">{{ session_date|date:"d.m.Y" }}</span>
          </div>
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for participant in participants_list %}
      <tr data-registration-id="{{ participant.registration.id }}">
        {% if BIB_NUMBERS %}
          <td data-order="{{ participant.child.bib_number }}">
            <a href="{{ participant.child.get_backend_absences_url }}">{{ participant.child.bib_number }}</a>
          </td>
        {% endif %}
        <td data-order="{{ participant.child.ordering_name }}">
          <span class="nowrap"><a
              href="{{ participant.child.get_backend_absences_url }}">{{ participant.child.full_name }}</a></span>
        </td>
        <td data-order="{{ participant.child.emergency_number|phone:'RFC3966' }}">
          {{ participant.child.emergency_number|phone }}
        </td>
        <td class="course-col"
            data-order="{{ participant.latest_course.number }}">
          <span class="nowrap hidden-print"><a
              href="{{ course.backend_url }}">{{ participant.latest_course.short_name }}</a></span>
          <span class="visible-print-inline-block">{{ participant.latest_course.number }}</span>
        </td>
        <td class="transport-col"
            data-order="{{ participant.child_stop|cut:" " }}">
          <span>{{ participant.child_stop }}</span>
        </td>

        {% for absence in participant.all_absences %}
          {% if absence %}
            <td class="session-col absence {{ absence.status }} {% if absence.status == 'present' %}success{% elif absence.status == 'late' %}info{% elif absence.status == 'excused' %}warning{% else %}danger{% endif %}">
              <span class="set-absence"
                    data-pk="{{ absence.pk }}"
                    data-session="{{ absence.session.id }}"
                    data-child="{{ participant.child.id }}"
                    data-status="{{ absence.status }}">
                <a role="button" class="btn btn-sm absence has-popover" data-toggle="popover"
                   data-trigger="click focus">{{ absence|absence_to_status:1 }}</a>
              </span>
            </td>
          {% else %}
            <td class="text-muted active"></td>
          {% endif %}
        {% endfor %}
      </tr>

    {% endfor %}

    </tbody>
  </table>
  <p class="hidden-print text-center">
    <button class="btn btn-secondary btn-large print-button"><i class="icon icon-print"></i> {% translate "Print" %}</button>
  </p>

  {% addtoblock "js" %}
    <script type="text/html" id="status-window">
      <form>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="present" value="present">{% translate "Present" %}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="absent" value="absent">{% translate "Absent" %}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="excused" value="excused">{% translate "Excused" %}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="medical" value="medical">{% translate "Medical certificate" %}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status" id="late" value="late">{% translate "Late" %}
          </label>
        </div>
      </form>
    </script>
    <script>
      $('.print-button').click(function () {
        window.print()
      });
    </script>
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>
    <script>
      $(function () {
        $.fn.column = function () {
          return $(this)
            .filter('th, td')
            .closest('table')
            .find('tr')
            .children(':nth-child(' + ($(this).index() + 1) + ')');
        };
        $.ajaxSetup({
          headers: {"X-CSRFToken": Cookies.get("csrftoken")}
        });

        var dtable = $(".absences").DataTable({
          {% if LANGUAGE_CODE == 'fr' %}
            "language": {
              "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
            },
          {% endif %}
          "responsive": true,
          "paging": false,

          dom: "<'row'<'col-sm-8'lB><'col-sm-4'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          buttons: [
            {
              extend: 'selectAll',
              text: "{% translate "Select all" %}"
            },
            {
              extend: 'selectNone',
              text: "{% translate "Deselect all" %}"
            },
            {
              extend: 'selected',
              text: '<i class="icon-loop-alt"></i>&nbsp;&nbsp;{% translate "Move to another transport..." %}',
              action: function () {
                moveRegistrations();
              }
            }
          ],
          select: {
            style: 'multi'
          }
        });

        $('.absences').on('change', 'input[name=status]', function (event) {
          var $parent = $(this).parents('.set-absence');
          var status = $(this).val();
          var data = {
            'session': $parent.data('session'),
            'child': $parent.data('child'),
            'status': status
          };

          $.ajax({
            url: "{% url 'api:absence-set' %}",
            type: 'POST',
            data: data,
            success: function (response) {
              var label = '';
              var classes = '';
              switch (response.status) {
                case 'present':
                  label = "{% translate 'P' %}";
                  classes = "success present";
                  break;
                case 'absent':
                  label = "{% translate 'A' %}";
                  classes = "danger absent";
                  break;
                case 'excused':
                  label = "{% translate 'E' %}";
                  classes = "warning excused";
                  break;
                case 'medical':
                  label = "{% translate 'MC' %}";
                  classes = "danger medical";
                  break;
                case 'late':
                  label = "{% translate 'LA' %}";
                  classes = "info late";
                  break;
              }
              $('a', $parent).text(label);
              $parent.parent().removeClass().addClass(classes);
              $parent.data('status', response.status);
              $('.has-popover', $parent).popover('hide');
            }
          })
        });


        $('.absences').popover(
          {
            selector: '.absence.has-popover',
            content: function () {
              return $('#status-window').html();
            },
            html: true,
            placement: function (context, source) {
              if ($(source).parents('.dtr-details').length > 0) {
                return 'right';
              }
              return 'left';
            }
          }
        );

        $('.absences').on('shown.bs.popover', '.set-absence', function () {
          var status = $(this).data('status');
          $('input[value=' + status + ']', $(this)).prop('checked', true);
        });

        let moveRegistrations = function () {
          let $selected = dtable.rows({selected: true}).nodes();
          let ids = $selected.map(function (elem) {
            return elem.getAttribute('data-registration-id');
          });
          let $form = $('form.move');
          $('input[name=registrations]', $form).remove();
          ids.each(function (regId) {
            $('<input type="hidden">').attr('id', 'registrations_' + regId)
              .attr('name', 'registrations')
              .val(regId)
              .prependTo($form);
          });
          $form.submit()
        };

        $('html').on('click', function (e) {
          if (typeof $(e.target).data('original-title') == 'undefined' && !$(e.target).parents().is('.popover.in')) {
            // close popovers when click is outside
            $('[data-original-title]').popover('hide');
          }
          if (typeof $(e.target).data('original-title') != 'undefined') {
            // one popover opened at a time
            $('[data-original-title]').not(e.target).popover('hide');
          }
        });

      });
    </script>



  {% endaddtoblock %}
{% endblock content %}
