{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% translate "Delete transport" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Delete transport" %}{% endblock %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <p>{% blocktranslate with name=object.name %}Are you sure you want to delete transport {{ name }}?{% endblocktranslate %}</p>
    <div class="form-group">
      <button type="submit" class="btn btn-danger"><i class="icon icon-trash"></i>&nbsp;{% translate 'confirm' %}</button>
    </div>
  </form>
{% endblock content %}
