{% extends "backend/base.html" %}
{% load i18n sekizai_tags switzerland static %}


{% block title %}{% trans "List transports" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List transports" %}{% endblock %}

{% block content %}
{% addtoblock  "js" %}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap.js' %}"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{% static 'js/vendor/datatables/French.json' %}"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ -1 ] }
      ],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All transports' %}"] ],
      pageLength: 50,

  });
});
</script>
{% endaddtoblock %}
<a href="{% url 'backend:transport-create' %}" class="btn btn-success"><i class="icon-plus"></i> {% trans "New transport" %}</a>
<hr>

<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% trans "Name" %}</th>
      <th class="text-nowrap">{% trans "Registrations" %}</th>
      <th class="text-nowrap">{% trans "Actions" %}</th>
    </tr>
  </thead>
  {% for transport in transport_list %}
   <tr>
      <td><a href="{{ transport.backend_url }}">{{ transport.name }}</a></td>
      <td>{{ transport.participants.count }}</td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ transport.backend_url }}" class="btn btn-sm"><i class="icon-bus"></i> {% trans "Details" %}</a></li>
          <li class="text-nowrap"><a href="{{ transport.update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update transport" %}</a></li>
          <li class="text-nowrap"><a href="{{ transport.delete_url }}" class="btn btn-sm"><i class="icon-trash"></i> {% trans "Delete transport" %}</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}