{% extends "backend/base.html" %}
{% load i18n sekizai_tags crispy_forms_tags %}

{% block title %}{% trans "Update registration" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Update registration" %}{% endblock %}

{% block content %}
{% addtoblock "js" %}
  {{ form.media.js }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">
  {% crispy form %}

{{ extrainfo_form.management_form | crispy}}
{% if need_extra %}
    <fieldset>
      <legend>{% trans "Extra questions" %}</legend>

      {% crispy extrainfo_form %}
    </fieldset>

{% endif %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large">{% trans "Update" %}</button>
      &nbsp;
      <a href="{% url 'backend:registration-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>

    </div>
  </div>
</form>
{% endblock content %}