{% extends "contact/contact.html" %}

{% block addresses %}
  <section style="padding-top: 0">
      <h4 >Commune de Montreux</h4>

      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span  itemprop="name">Sport scolaire facultatif</span><br/>
        <span itemprop="streetAddress">Rue du Temple 11</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1820</span> <span itemprop="addressLocality">Montreux</span>
      </address>
      <p>
        Email: <a itemprop="email" href="mailto:ssf@montreux.ch">ssf@montreux.ch</a><br/>
        Téléphone: <a itemprop="telephone" href="tel:+41219627737">021 962 77 37</a>
      </p>
    </section>


{% endblock %}
