{% extends "contact/contact.html" %}

{% block addresses %}    <section style="padding-top: 0">
      <h4 itemprop="name">Sport scolaire facultatif de Montreux</h4>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Rue du Temple 11</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1820</span> <span itemprop="addressLocality">Montreux</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Email</dt><dd><a itemprop="email" href="mailto:ssf@montreux.ch">ssf@montreux.ch</a></dd>
      </dl>
    </section>

    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">          
      <h4 itemprop="jobTitle">Responsable Sport Scolaire Facultatif (Questions administratives)</h4>
      <span itemprop="telephone"><a href="tel:+41219627737">021 962 77 37</a></span>
    </section>


{% endblock %}

