{% extends "wizard.html" %}
{% load i18n  sekizai_tags switzerland %}


{% block page_title %}{% if bill.total > 0 and not NO_PAYMENT %}{% trans "Summary" %}{% else %}
  {% trans "Registrations validated" %}{% endif %}{% endblock page_title %}

{% block extra_css %}
  <style>
    .dl-horizontal.extras {
      margin-top: 20px;
    }

    .dl-horizontal.extras dt {
      width: 60%;
      margin-right: 30px;
    }

  </style>
{% endblock %}

{% block content %}

  <section class="portlet">

    <h3 class="content-title"><u>Inscriptions</u></h3>
    <p class="hidden-print" style="margin-bottom: 2em">{% include "registrations/wizard-complete.html" %}</p>
    <table class=" table table-striped">
      <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Activity" %}</th>
        <th>{% trans "Period" %}</th>
        <th>{% trans "Time" %}</th>
        <th>{% trans "Place" %}</th>
        {% if not NO_PAYMENT %}
          <th>{% trans "Price" %}</th>
        {% endif %}
      </tr>
      </thead>

      {% if not NO_PAYMENT %}
        <tfoot>
        <tr>
          <th colspan="5" style="text-align: right">{% trans "Total" %}</th>
          <th class="nowrap text-right">{{ bill.total|money_html }}</th>
        </tr>
        </tfoot>
      {% endif %}

      <tbody>
      {% for registered in bill.registrations.all %}
        <tr>
          <td>
            <span class="nowrap">{{ registered.child.first_name }} {{ registered.child.last_name }}</span>
            {% if registered.child.id_lagapeo %}<br><small>{{ registered.child.id_lagapeo }}</small>{% endif %}
          </td>
          <td>{{ registered.course.activity.name }}
          </td>
          <td>
            <span class="nowrap">{{ registered.course.start_date }}</span> – <span
              class="nowrap">{{ registered.course.end_date }}</span>
          </td>
          <td>
            {{ registered.course.day_name }} / <span
              class="nowrap">{{ registered.course.start_time|time:"H:i" }} - {{ registered.course.end_time|time:"H:i" }}</span>
          </td>
          <td>{{ registered.course.place }}</td>
          {% if not NO_PAYMENT %}
            <td class="nowrap text-right">{{ registered.price|money_html }}</td>
          {% endif %}
        </tr>
        <tr>
          <td colspan="6">
            <dl class="dl-horizontal extras">
              {% for extra in registered.extra_infos.all %}
                <dt>{{ extra.key.question_label }}</dt>
                <dd>{{ extra.value }}
                  {% if extra.key.price_modifier %}
                    <span class="pull-right invoice-item"
                          data-value="{{ extra.price_modifier }}">{{ extra.price_modifier|money_sign }}</span>
                  {% endif %}
                </dd>
              {% endfor %}
            </dl>


          </td>
        </tr>


      {% endfor %}
      </tbody>

    </table>
    {% if bill.total > 0 %}
      <p>Si nécessaire, une aide financière peut être accordée (infos et demande:
        <a href="tel:+41219627893">021 962 78 93</a>).<br>
        Une facture vous parviendra début décembre.<br>
        <strong>La facture sera à régler avant le premier cours.</strong></p>

    {% endif %}

    <p>Un e-mail avec les horaires de train/car et des informations complémentaires vous parviendra avant la fin de
      l'année.</p>
    {% if include_calendar and request.user.montreux_needs_appointment %}
    {% endif %}
  </section>


  {% if include_calendar and request.user.montreux_needs_appointment %}
    <section class="portlet">
      <h3 class="content-title">
        <u>Rendez-vous pour la location de matériel</u>
      </h3>
      <ul>
        {% for appointment in appointments %}
          <li>
            {{ appointment.child }}{% if appointment.child.id_lagapeo %} ({{ appointment.child.id_lagapeo }}){% endif %}: {{ appointment.slot.start | date:"l d F Y, H:i" }}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <p class="hidden-print text-center">
    <button class="btn btn-success btn-large print-button"><i class="icon icon-print"></i> {% trans "Print" %}</button>
  </p>
  {% addtoblock "js" %}
    <script>
      $('.print-button').click(function () {
        window.print()
      });
    </script>
  {% endaddtoblock %}
{% endblock %}