.absences {
    .current-session {
        cursor: pointer;
    }
    
    .unavailable {
        background-color: #ddd !important;
        cursor: not-allowed;
        
        a {
            display: none;
        }
    }
    
}