.absences {

  .unavailable {
    background-color: #ddd !important;
  }

  thead tr th:not(.small-col) {
    vertical-align: bottom;
  }

  thead th.small-col {
    height: 100px;
    white-space: nowrap;
    width: 40px;
    transform: rotate(-90deg) translate(-33px, 0px) ;
    -webkit-transform: rotate(-90deg) translate(-33px, 0px) ;
    background-color:transparent!important;
  }

  tbody th, tfoot th {
    vertical-align: middle;
    font-weight: normal;
  }
  tfoot th {
    text-align: center;
  }

  a.btn.absence {
    display: inline-block;
    width: 100%;
  }

  @media print {
    .edit-session abbr[title]:after {
          display: none;
    }

    .edit-session abbr[title] {
      border-bottom: none;
      text-decoration: none;
    }

    .set-absence .btn-sm {
      font-size: 10px;
    }

  }

}
