.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: none;
    background-image:none;
    filter: none;
    text-shadow: none;
    box-shadow: none;
    webkit-box-shadow: none;
  }
  .btn-default:hover, .btn-default:focus{
    background-color: #e0e0e0;
    background-position: 0 -15px;
    border-color:  #dbdbdb; 
  }
  thead th, thead th strong {
      font-weight: 600;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}
