.dataTables_wrapper {
  input, select {
    font-size: 14px;
    line-height: 1.42857143;
    padding: 6px 12px;
    height: 34px;
    color: #555555;
  }

  label {
    font-weight: normal;
  }

  .dataTables_length {
    float: none !important;
    clear: both;

    label {
      margin: 15px 0;
    }
  }

  input.dtsp-search {
    padding-left: 1px !important;
  }
}
