@media print {
    /*@page {size: landscape;}*/
    @page {
        margin: 1cm;
    }
    html body {
        font-size: 10px;
    }
    #back-to-top {
        display: none!important;
    }
    /* fixes safari zoom out bug */
    .container {
        width: auto;
    }

    h1 {
        font-size: 24px;
    }
    .page-header {
      margin-bottom: 0;
      margin-top: 0;
    }


    .wizard { display: none;}
    .navbar { display: none;}
    .form-actions { display: none;}
    a[href]:after {content: none;}

    .col-print-12 {
        width: 100%;

    }
    .layout-main-right .layout-main.col-print-12{
        padding-left: 15px;
    }
    #back-to-top {
        display: none;
    }
    @include footer_height(100px);

    #footer {
        padding: 10px 0;
        page-break-inside: avoid;
        address {
            margin-bottom: 0;
        }
    }

    .bill {
        font-size: 13px;
        .container {
            width: auto;
        }

        .page-header {
            margin: 0;
            padding: 0;
        }
        section {
            padding-top: 0;
            padding-bottom: 1em;
        }
        .logo {
            margin-bottom: 1.5em;
        }
        h1 {
            margin-top: 1em;
        }
        h3 {
            margin-top: 1em;
        }

    }
    .dataTables_filter, .dataTables_info {
        display: none;
    }
    body table.dataTable thead th.sorting_asc:after,
    body table.dataTable thead th.sorting_desc:after,
    body table.dataTable thead th.sorting:after {
        display: none;
        content: '';
    }
    .dataTables_wrapper {
        .dt-buttons, .dataTables_length {
            display: None;
        }
    }

    table.dataTable thead>tr>th {
        padding-left: 5px;
        padding-right: 5px;
    }
    .table-bordered thead tr th, .table-bordered tfoot tr th {
        font-size: 10px;
        font-weight: 600;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
          display: none;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
    table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
      padding-left: 5px;
    }

    table.table-bordered.dataTable {
      border-collapse: collapse !important;
    }

}
