/*@import "bootstrap.min";
@import "bootstrap-responsive.min";*/
@import "bootstrap-customized.min";

@import 'css3-sass-mixins/all';

$brown: rgb(206, 187, 166);
$light_brown: lighten($brown, 10%);
$dark_brown: darken($brown, 15%);
$darkest_brown: darken($brown, 40%);
$contrast_brown: rgb(138, 92, 42);


body {
	font-family: Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
	@include linear-gradient($brown, #fff, 1);
	color: $darkest_brown;
	
}
.container {
	background-color: white;
	padding: 1em;
	margin-top: 2em;
	
	@include border-radius(2px);
	@include box-shadow(3px, 3px, 9px, $dark_brown);
}
a {color: $contrast_brown;}
a:hover{color: $darkest_brown;}