/*@import "bootstrap.min";
@import "bootstrap-responsive.min";*/
@import "bootstrap-customized.min";

@import 'css3-sass-mixins/all';

$brown: rgb(206, 187, 166);
$light_brown: lighten($brown, 10%);
$dark_brown: darken($brown, 15%);
$darkest_brown: darken($brown, 40%);
$contrast_brown: rgb(138, 92, 42);


body {
/*	font-family: Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
	@include linear-gradient($brown, #fff, 1);
	color: $darkest_brown;*/
	
}
a {color: $contrast_brown;}
a:hover{color: $darkest_brown;}