@import 'base';
@import 'mixins';
@import 'components';

@import "bootstrap331.min";
@import "fontello/animation";
@import "fontello/icons-sportfac";

@import "vendor/mvpready/mvpready-admin";
@import "vendor/mvpready/mvpready-flat";
@import "vendor/mvpready/mvpready-admin-slate";


@import "vendor/datatables/dataTables.bootstrap";
@import "vendor/fullcalendar";
@import "vendor/select2";
@import "vendor/select2-bootstrap";
@import "vendor/bootstrap-datetimepicker";


@import "angular-motion";
@import "absences";
@import "wizard";
@import "datepicker-angularstrap";
@import "responsive";
@import "print";

$headerheight: 50px;

#footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  
  address {
    font-size: 0.9em;
    color: #777;
  }
  p {
    margin-bottom: 0;
    color: #777;
  }
  .footer-links {
    margin: 10px 0;
    li {
      display: inline;
      padding: 0 2px;
    }
    li:first-child { padding-left: 0; }
  }
}

.table .list-unstyled {
    margin-bottom: 0;
}


/* MVP Ready 
-------------------------------------------------- */
.pricing-plan{
    max-width: none;
    text-align: left;
}
.pricing-plan .pricing-header {
    text-align: center;
}
.pricing-plan-title small {
  color: white;
  text-transform: none;
  font-size: .6em;
}
.topped {
    padding-top:0;
    margin-top: 0;
}

dt {
    font-weight: 600;
}
.page-header {
    border: none;
}

legend{
    font-family: Oswald;
}


/* general */
.simple-page-header{margin-top:20px;}
.nowrap {white-space:nowrap;}
.highlight { cursor:help;}
.warning-light {border-left: 5px solid #f1e7bc;}
body > .navbar .brand.white { color: #fff; }
a.navbar-brand.navbar-brand-white {
    margin-top: 5px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

.course h3 {
  font-size: 1.3em;
  line-height: 1.4em;
}
.course .lead{
  font-size: 1.2em;
  line-height: 1.3em;
}
.course h4 {
  font-size:1.2em;
}


/* forms */

input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus{
    color:#b94a48;
    border-color:#ee5f5b;
    @include box-shadow(0, 0, 6px, #f8b9b7);

}


/* 
    Animations
    
*/
.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

/* Calendar */
$available: blue;
$registered: green;
$unavailable: #888;


.fc-event-child{
position: absolute;
/*right: -1.2em;
top: 1.2em;*/
top: 0.1em;
right: 1.2em;
line-height: 1em;
font-size: 0.8em;
letter-spacing: 0.15em;

/* FF Chrome Opera etc */
-webkit-transform: rotate(-90deg); 
-webkit-transform-origin: right top;
-moz-transform: rotate(-90deg);
-moz-transform-origin: right top;
-o-transform: rotate(-90deg);
-o-transform-origin: right top;
-ms-transform: rotate(-90deg);
-ms-transform-origin: right top;
transform: rotate(-90deg); 
transform-origin: right top;

/* IE */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.nav-tabs.children {
  li i.icon-user {
    color: $unavailable;
  }
  li.active i.icon-user {
    color: $registered;
  }
  text-transform: capitalize;
}

.nav-list li a{
    cursor: pointer;
}

.available {color: $available;}
.unavailable {color: $unavailable;}
.registered {color: $registered;}


.fc-event{
    cursor: pointer;
    
}
.fc-event-vert .fc-event-time { white-space: normal; line-height: 12px;}

.fc-event.unavailable {
  background-color: $unavailable;
  color: white;
  border-color: $unavailable;
  cursor: not-allowed;
  
}
.fc-event.registered {
  background-color: $registered;
  color: white;
  border-color: $registered; 
}
.fc-event.validated {
  background-color: darken($registered, 5%);
  color: white;
  border-color: darken($registered, 5%) 
}
.fc-event.available {
  background-color: $available;
  color: white;
  border-color: $available;
  
}
.fc-state-highlight { background: none; }




/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}



/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}

/* Example sites showcase */
.example-sites {
  xmargin-left: 20px;
}
.example-sites img {
  max-width: 100%;
  margin: 0 auto;
}

.scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}


/* Fake the :focus state to demo it */
.focused {
  border-color: rgba(82,168,236,.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}



/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 20px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}

.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Datatables
   ------------------------------------------------------------*/
table.dataTable thead th {
    position: relative;
    background-image: none !important;
    vertical-align: top;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: icons-sportfac;
}
table.dataTable thead th.sorting:after {
    content: "\e81e";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\e820";
}
table.dataTable thead th.sorting_desc:after {
    content: "\e81f";
}

table.dataTable .sorting:before,
table.dataTable .sorting_asc:before,
table.dataTable .sorting_desc:before {
    display: none;
}

/* Calendar */

div.fc-event-course {
  margin-top: 1em;
}
