{% extends "backend/base.html" %}
{% load i18n sekizai_tags switzerland staticfiles %}


{% block title %}{% trans "List bills" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List bills" %}{% endblock %}

{% block content %}
{% addtoblock  "js" %}    
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap.js' %}"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{% static 'js/vendor/datatables/French.json' %}"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 5 ] }
      ],
      "order": [[4, "asc"], [0, 'asc']],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All bills' %}"] ],
      pageLength: 50,

  });
});
</script>
{% endaddtoblock %}


<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% trans "Billing identifier" %}</th>
      <th class="text-nowrap">{% trans "Date" %}</th>
      <th class="text-nowrap">{% trans "User" %}</th>
      <th class="text-nowrap">{% trans "Total" %}</th>
      <th class="text-nowrap">{% trans "Paid" %}</th>
      <th class="text-nowrap">{% trans "Action" %}</th>
    </tr>
  </thead>
  {% for bill in bill_list %}
   <tr>
      <td><a href="{{ bill.backend_url }}">{{ bill.billing_identifier }}</a></td>
      <td data-order="{{ bill.created|date:'c' }}">{{ bill.created|date:"SHORT_DATE_FORMAT" }}</td>
      <td data-order="{{ bill.family.last_name}} {{ bill.family.first_name}}"><a href="{{ family.get_backend_url }}">{{ bill.family.full_name }}</a></td>
      <td data-order="{{ bill.total }}">{{ bill.total|money }}</td>
      <td data-order="{{ bill.is_ok }}" data-search="{% if bill.is_ok %}{% trans 'paid' %}{% endif %}">
        {% if bill.is_ok %}
        <i class="icon-ok-circled success"></i>
        {% else %}
        <i class="icon-cancel-circled danger"></i>
        {% endif %}
      </td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ bill.get_backend_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Review bill" %}</a></li>
          <li class="text-nowrap"><a href="{{ bill.pay_url }}" class="btn btn-sm"><i class="icon-credit-card-1"></i>&nbsp;{% trans "Update payment information" %}</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}