{% extends "backend/base.html" %}
{% load i18n sekizai_tags %}


{% block title %}{% trans "List bills" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List bills" %}{% endblock %}

{% block content %}
{% addtoblock  "js" %}    
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 5 ] }
      ],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "{% trans 'All bills' %}"] ]
  });
});
</script>
{% endaddtoblock %}


<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% trans "Billing identifier" %}</th>
      <th class="text-nowrap">{% trans "Date" %}</th>
      <th class="text-nowrap">{% trans "User" %}</th>
      <th class="text-nowrap">{% trans "Total" %}</th>
      <th class="text-nowrap">{% trans "Paid" %}</th>
      <th class="text-nowrap">{% trans "Action" %}</th>
    </tr>
  </thead>
  {% for bill in bill_list %}
   <tr>
      <td><a href="{{ bill.backend_url }}">{{ bill.billing_identifier }}</a></td>
      <td>{{ bill.created|date:"SHORT_DATE_FORMAT" }}</td>
      <td><a href="{{ family.get_backend_url }}">{{ bill.family.full_name }}</a></td>
      <td>{{ bill.total }}</td>
      <td data-order="{{ bill.is_ok }}" data-search="{% if user.is_ok %}{% trans 'paid' %}{% endif %}">
        {% if user.is_ok %}
        <i class="icon-ok-circled success"></i>
        {% else %}
        <i class="icon-cancel-circled danger"></i>
        {% endif %}
      </td>
      <td>
        <ul class="list-unstyled">
          {% comment %}
          <li class="text-nowrap"><a href="{{ registration.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update registration" %}</a></li>
          <li class="text-nowrap"><a href="{{ registration.get_delete_url }}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% trans "Cancel registration" %}</a></li>
          {% endcomment %}
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}