{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Validate registrations" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Validate registrations" %}{% endblock %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <p>{% blocktrans %}Are you sure you want to validate these registrations?{% endblocktrans %}</p>
    <ul>
      {% for reg in registrations %}
        <li>{{ reg }}</li>
      {% endfor %}
    </ul>
    <div class="form-group">
      <button type="submit" class="btn btn-danger"><i class="icon icon-trash"></i>&nbsp;{% trans 'confirm' %}</button>
    </div>
  </form>

{% endblock content %}