{% extends "backend/base.html" %}
{% load i18n floppyforms %}

{% block title %}{% trans "Move registrations" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Move registrations" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">{% csrf_token %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="children-list">{% trans "Move" %}</label>
    <div class="col-sm-10 " >
      <p class="form-control-static" id="children-list">
        {% for child in children %}<span class="label label-primary">{{  child  }}</span> {% endfor %}
      </p>
    </div>
  </div>
  {% if origin %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="origin">{% trans "From" %}</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="origin">{{ origin }}</p>
    </div>
  </div>
  {% endif %}
  {% block errors %}{% endblock %}
  {% form form using "floppyforms/layouts/bootstrap.html" %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large">{% trans "Update" %}</button>

      {% if origin %}&nbsp;
        <a href="{{ origin.get_backend_url }}" class="btn btn-default">{% trans 'Cancel' %}</a>
      {% endif %}
    </div>
  </div>
</form>
{% endblock content %}