{% extends "wizard.html" %}
{% load i18n sekizai_tags %}


{% block page_title %}{% trans "Activities" %}{% endblock page_title%}

{% block content %}

{% addtoblock "extra_html" %}
xmlns:ng="http://angularjs.org"
ng-app="sportfacCalendar"
ng-controller="ChildrenCtrl" id="ng-app"
maxregistrations="{{ MAX_REGISTRATIONS }}"
starthour="{{ START_HOUR }}"
endhour="{{ END_HOUR }}"
activityserviceurl="{% url 'api:activity-list' %}"
courseserviceurl="{% url 'api:course-list' %}"
childrenserviceurl="{% url 'api:child-list' %}"
familyserviceurl="{% url 'api:family-list' %}"
registrationserviceurl="{% url 'api:registration-list' %}"
displaydates="{{ CALENDAR_DISPLAY_DATES|yesno:'true,false' }}"
displaycoursenames="{{ CALENDAR_DISPLAY_COURSE_NAMES|yesno:'true,false' }}"
canregistersameactivity="{{ ACTIVITIES_CAN_REGISTER_SAME_ACTIVITY_TWICE|yesno:'true,false' }}"
hiddendays="{{ CALENDAR_HIDDEN_DAYS }}"
limitbyschoolyear="{{ LIMIT_BY_SCHOOL_YEAR|yesno:'true,false' }}"

{% endaddtoblock %}
    <div class="portlet">
      <h4 class="portlet-title">
        <u>Fonctionnement</u>
      </h4>
      <ol>
        <li>Choisir une activité disponible à gauche.</li>
        <li>Sélectionner le cours dans le semainier.</li>
        <li>Valider le cours en bleu → il doit passer en vert.</li>
        <li>Appuyez sur le bouton "Terminer l'inscription" au bas de cette page pour passer à la validation</li>
      </ol>
    </div>
<nav>
  <ul class="nav nav-tabs children">
    <li role="presentation" ng-repeat="child in userChildren"
                            ng-class="{active: child.selected}">
      <a href="./#/child/{[{ child.id }]}/" ng-click="selectChild(child.id)">
        {[{ child.first_name }]}
      </a>
    </li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" canregistersameactivity="{{ ACTIVITIES_CAN_REGISTER_SAME_ACTIVITY_TWICE|yesno:'true,false' }}"
 ng-view></div>
  </div>
</nav><!-- end tabbable -->


{% addtoblock "js" %}
{% if debug %}
 <script src="{{ STATIC_URL }}js/vendor/fullcalendar.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-route.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-sanitize.min.js"></script>

  <script src="{{ STATIC_URL }}js/vendor/angular-ui-calendar.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.tpl.min.js"></script>

  <script src="{{ STATIC_URL }}js/activities/filters.js"></script>
  <script src="{{ STATIC_URL }}js/activities/services.js"></script>
  <script src="{{ STATIC_URL }}js/activities/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/activities/app.js"></script>
{% else %}
  {% comment %}
  uglifyjs ../vendor/fullcalendar.min.js ../vendor/angular.min.js ../vendor/angular-locale_fr-ch.js ../vendor/angular-route.min.js ../vendor/angular-cookies.min.js ../vendor/angular-sanitize.min.js ../vendor/angular-ui-calendar.js ../vendor/angularstrap/angular-strap.min.js ../vendor/angularstrap/angular-strap.tpl.min.js filters.js services.js controllers.js app.js -o app.min.js
  {% endcomment %}
  <script src="{{ STATIC_URL }}js/activities/app.min.js"></script>
{% endif %}
{% endaddtoblock %}



{% endblock content %}


{% block page_footer %}
<nav>
  <ul class="pager">
    <li class="previous">
      <a href="{{ previous_step.url }}"><span aria-hidden="true">&larr;</span> {% block previous_label %}{% trans "Previous"%}{% endblock %}</a>
    </li>
    <li class="next" ng-class="{disabled: registrations.length === 0}">
      <a href="{{ next_step.url }}" ><b>{% trans "Next" %} <span aria-hidden="true">&rarr;</span></b></a>
    </li>
  </ul>
</nav>

{% endblock page_footer %}
