{% extends "base.html" %}
{% load i18n %}
{% load duration switzerland %}

{% block title %}{{ activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}{{ activity.name }} {% endblock %}

{% block content %}
  <div class="portlet activity">
    {{ activity.description|safe }}

    {% if activity.informations %}
      <h4>Informations spécifiques</h4>
      {{ activity.informations | safe }}
    {% endif %}

  </div>

  <h3 class="content-title">
    <u>Cours</u>
  </h3>
  <div class="row">
    {% for course in activity.courses.visible %}
      <section class="col-sm-6 topped">
        <div class="pricing-plan">
          <header class="pricing-header">
            <p class="pricing-plan-label">
              {% blocktrans with number=course.number %}Course #{{ number }}{% endblocktrans %}
              {% if CALENDAR_DISPLAY_COURSE_NAMES and course.name %}- {{ course.name }}{% endif %}
            </p>

            <h4 class="pricing-plan-title">
              {{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y' }}
            </h4>
            <p class="pricing-plan-label">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }}
              à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
          </header>

          <dl class="dl-horizontal">
            <dt>{% trans "Instructors" %}</dt>
            <dd>
              <ul class="list-unstyled">
                {% for instructor in course.instructors.all %}
                  <li>{{ instructor.full_name }}</li>
                {% endfor %}
              </ul>
            </dd>
            <dt>{% trans "Place" %}</dt>
            <dd>{{ course.place }}</dd>

            {% if course.comments %}
              <dt>{% trans "Comments" %}</dt>
              <dd>{{ course.comments|safe }}</dd>
            {% endif %}

            {% if DISPLAY_NUMBER_OF_SESSIONS %}
              <dt>{% trans "Number of sessions" %}</dt>
              <dd>{% blocktrans with number=course.number_of_sessions %}{{ number }} courses{% endblocktrans %}</dd>
            {% endif %}

            {% if EXPLICIT_SESSION_DATES %}
              <dt>{% trans "Dates" %}</dt>
              <dd>
                <ul class="list-unstyled">
                  {% for session in course.get_sessions %}
                    <li>{{ session.date|date:"j F Y" }}</li>
                  {% endfor %}
                </ul>
              </dd>
            {% endif %}
            {% if not NO_PAYMENT %}
              {% if course.price %}
                <dt>{% trans "Price" %}</dt>
                <dd>
                  {{ course.price|money }}
                  {% if course.price_description %}
                    <p>{{ course.price_description|linebreaksbr }}</p>
                  {% endif %}
                </dd>
              {% elif DISPLAY_FREE_WHEN_PRICE_IS_0 %}
                <dt>{% trans "Price" %}</dt>
                <dd>
                  {% trans "Free" %}
                  {% if course.price_description %}
                    <p>{{ course.price_description|linebreaksbr }}</p>
                  {% endif %}
                </dd>
              {% endif %}
            {% endif %}
            <dt>{% trans "School years" %}</dt>
            <dd>{% for year in course.school_years_label %}{{ year }}{% if not forloop.last %} -
            {% endif %} {% endfor %}</dd>
          </dl>
          <h4 class="content-title">
            <u>{% trans "Availability" %}</u>
          </h4>
          <p>{{ course.count_participants }} participants <span class="pull-right strong"> {{ course.max_participants }} places</span>
          </p>
          <div class="progress" style="margin-bottom: 0;">
            <div
                class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}"
                style="width: {{ course.percentage_full }}%"></div>
          </div>
          <p class="text-right">
            <small>{{ course.min_participants }} participants requis pour que l'activité ait lieu</small>
          </p>
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock content %}
