{% extends "base.html" %}
{% load crispy_forms_tags floppyforms i18n mail_tags %}

{% block title %}{% translate "Confirm sending" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Confirm sending" %}{% endblock %}

{% block content %}
{% comment %}{% crispy form %}{% endcomment %}
  <p class="lead">{% translate "You're going to send the following files" %}</p>
  <form action="" method="post">{% csrf_token %}
    <ul class="list-unstyled">
      <li>
        <i class="icon-file-pdf"></i> {% translate "Participants list" %}
      </li>
      <li>
        <i class="icon-file-pdf"></i> {% translate "My courses list" %}
      </li>
      {% if not NO_SSF or not FICHE_SALAIRE_MONTREUX %}
      <li>
        <i class="icon-file-pdf"></i> {% translate "Instructor timesheet" %}
      </li>
      {% endif %}
      {% if SEND_PRESENCE_LIST %}
      <li>
        <i class="icon-file-pdf"></i> {% translate "Presence list" %}
      </li>
      {% endif %}
    {% for filepath in ADDITIONAL_INSTRUCTOR_EMAIL_DOCUMENTS %}
    <li>
    <i class="{{ filepath|fileicon }}"></i> {{ filepath|filename }}
    </li>
    {% endfor %}
    </ul>
    {% crispy form %}

<div class="clearfix"></div>
  <div class="form-group">
    <button type="submit" class="btn btn-danger"><i class="icon icon-mail"></i>&nbsp;{% translate 'Send email' %}</button> &nbsp; &nbsp;
    <a href="{% url 'activities:my-courses' %}" class="btn btn-default"><i class="icon icon-cancel"></i> {% translate "Cancel" %}</a>
  </div>
</form>

{% endblock content %}
