{% extends "base.html" %}
{% load duration i18n sekizai_tags static switzerland %}

{% block title %}{{ course.activity.name }} - {{ block.super }}{% endblock %}

{% block page_title %}
  {{ course.activity.name }} - {% blocktranslate with identifier=course.number %}course #{{ identifier }}{% endblocktranslate %}
  {% if CALENDAR_DISPLAY_COURSE_NAMES and course.name %}
    - {{ course.name }}
  {% endif %}
{% endblock page_title %}

{% block content %}
  <section class="portlet">
    <div class="pricing-plan">
      <header class="pricing-header">
        <p class="pricing-plan-label">{{ course.start_date|date:"j F Y" }} – {{ course.end_date|date:'j F Y' }}</p>
        <p>
          {% if course.is_course %}
            {% blocktranslate with day_name=course.day_name|lower start_time=course.start_time|time:"H:i" end_time=course.end_time|time:"H:i" duration=course.duration|duration %}
              Every {{ day_name }}, from {{ start_time }} to {{ end_time }} ({{ duration }}{% endblocktranslate %}
          {% elif course.is_multi_course %}
            {% if course.start_time_mon %}
              {% blocktranslate with start_time=course.start_time_mon|time:"H:i" end_time=course.end_time_mon|time:"H:i" %}
                Mondays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}

            {% if course.start_time_tue %}
              {% blocktranslate with start_time=course.start_time_tue|time:"H:i" end_time=course.end_time_tue|time:"H:i" %}
                Tuesdays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}

            {% if course.start_time_wed %}
              {% blocktranslate with start_time=course.start_time_wed|time:"H:i" end_time=course.end_time_wed|time:"H:i" %}
                Wednesdays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}
            {% if course.start_time_thu %}
              {% blocktranslate with start_time=course.start_time_thu|time:"H:i" end_time=course.end_time_thu|time:"H:i" %}
                Thursdays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}
            {% if course.start_time_fri %}
              {% blocktranslate with start_time=course.start_time_fri|time:"H:i" end_time=course.end_time_fri|time:"H:i" %}
                Fridays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}
            {% if course.start_time_sat %}
              {% blocktranslate with start_time=course.start_time_sat|time:"H:i" end_time=course.end_time_sat|time:"H:i" %}
                Saturdays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}
            {% if course.start_time_sun %}
              {% blocktranslate with start_time=course.start_time_sun|time:"H:i" end_time=course.end_time_sun|time:"H:i" %}
                Sundays, from {{ start_time }} to {{ end_time }}{% endblocktranslate %}<br>
            {% endif %}
          {% else %}
          {% endif %}

        </p>
      </header>
      <dl class="dl-horizontal">
        <dt>{% translate "Instructors" %}</dt>
        <dd>
          <ul class="list-unstyled">
            {% for instructor in course.instructors.all %}
              <li>
                {{ instructor.full_name }}<br/>
                <a href="{{ instructor.best_phone|phone:'RFC3966' }}">{{ instructor.best_phone|phone }}</a><br/>
                {{ instructor.email|urlize }}
              </li>
            {% endfor %}
          </ul>
        </dd>
        <dt>{% translate "Place" %}</dt>
        <dd>{{ course.place }}</dd>
        {% if EXPLICIT_SESSION_DATES %}
          <dt>{% translate "Dates" %}</dt>
          <dd>
            {% if course.is_multi_course %}
              <ul class="list-unstyled">
                {% for session in course.get_sessions %}
                  <li>{{ session.date|date:"j F Y" }}</li>
                {% endfor %}
              </ul>
            {% elif course.is_camp %}
              {{ course.start_date|date:"j F Y" }} - {{ course.end_date|date:"j F Y" }}
            {% else %}
              <ul class="list-unstyled">
                {% for session in course.get_sessions %}
                  <li>{{ session.date|date:"j F Y" }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </dd>
        {% endif %}

        {% if DISPLAY_NUMBER_OF_SESSIONS and course.is_course %}
          <dt>{% translate "Number of sessions" %}</dt>
          <dd>{% blocktranslate with number=course.number_of_sessions %}{{ number }} courses{% endblocktranslate %}</dd>
        {% endif %}
        {% if not NO_PAYMENT %}
          <dt>{% translate "Price" %}</dt>
          <dd>
            {% if USE_DIFFERENTIATED_PRICES %}
              <ul class="list-unstyled">
                <li>{{ course.price|money }} (externe)</li>
                <li>{{ course.price_local|money }} (indigène)</li>
                <li>{{ course.price_family|money }} (externe, rabais fratrie)</li>
                <li>{{ course.price_local_family|money }} (indigène, rabais fratrie)</li>
              </ul>
            {% else %}
              {{ course.price|money }}
            {% endif %}
            {% if course.price_description %}
              <p>{{ course.price_description|linebreaksbr }}</p>
            {% endif %}
          </dd>
        {% endif %}
        {% if LIMIT_BY_SCHOOL_YEAR %}
          <dt>{% translate "School years" %}</dt>
          <dd>{% for year in course.school_years_label %}{{ year }}{% if not forloop.last %} - {% endif %}{% endfor %}
          </dd>
        {% else %}
          <dt>{% translate "Ages" %}</dt>
          <dd>{{ course.get_age_min_display }} - {{ course.get_age_max_display }}</dd>
        {% endif %}
      </dl>

    {% if not course.is_unregistered_course %}
      <h4 class="content-title"><u>{% translate "Availability" %}</u></h4>
      <p>
        {% if course.full %}
          {% translate "Course full" %}
        {% else %}
          {% blocktranslate with nb=course.count_participants %}{{ nb }} participants{% endblocktranslate %}
        {% endif %}
        <span class="pull-right strong">
          {% blocktranslate with nb=course.max_participants %}{{ nb }} places{% endblocktranslate %}
        </span>
      </p>
      <div class="progress" style="margin-bottom: 0;">
        <div
            class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}"
            style="width: {{ course.percentage_full }}%">
          {% if course.full %}{% translate "Course full" %}{% elif course.minimal_participants_reached %}
            {% translate "Minimal number of participants reached" %}{% else %}
            {% translate "Not enough participants" %}{% endif %}
        </div>
      </div>
      <p class="text-right"><small>{{ course.min_participants }} participants requis pour que l'activité ait
        lieu</small></p>
{% endif %}
      {% if user in course.instructors.all %}
        <h4 class="content-title"><u>{% translate "Management" %}</u></h4>
        {% if USE_ABSENCES %}
          <a href="{{ course.get_absences_url }}" class="btn btn-default hidden-print">
            <i class="icon-calendar"></i>&nbsp;{% translate "Manage absences" %}
          </a>
        {% endif %}
      {% endif %}
    </div>
  </section>

  {% if user in course.instructors.all %}
    {% addtoblock "js" %}
      <script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'js/vendor/datatables/dataTables.tableTools.min.js' %}"></script>
      <script src="{% static 'js/vendor/datatables/dataTables.bootstrap.js' %}"></script>
      <script>
        $(function () {
          let t = $(".table").dataTable({
            {% if LANGUAGE_CODE == 'fr' %}
              "language": {
                "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
              },
            {% endif %}
            aoColumnDefs: [
              {'bSortable': true, 'aTargets': ['bibnumber', 'child-name', 'school', 'birth-date', 'teacher']},
              {'bSortable': false, 'aTargets': ['_all']},
              {'bSearchable': true, 'aTargets': ['bibnumber', 'child-name',]},
              {'bSearchable': false, 'aTargets': ['_all']}
            ],
            dom: 'T<"clear">lfrtip',
            paging: false,
            tableTools: {
              "sRowSelect": "multi",
              "aButtons": [],
              'fnRowSelected': function () {
                $('.needs-select').removeClass('disabled');
              },
              'fnRowDeselected': function () {
                if ($('tr.active').length == 0) {
                  $('.needs-select').addClass('disabled');
                }
              }
            }
          });

          $('.selectall').click(function () {
            var tabletools = TableTools.fnGetInstance(t[0]);
            tabletools.fnSelectAll(true);
          });

          $('.deselectall').click(function () {
            var tabletools = TableTools.fnGetInstance(t[0]);
            tabletools.fnSelectNone();
          });

          $('form.mail').submit(function () {
            var tabletools = TableTools.fnGetInstance(t[0]);
            var ids = tabletools.fnGetSelected().map(function (elem) {
              return elem.getAttribute('data-user-id');
            });
            $('input[name="data"]').val(JSON.stringify(ids));
          });
        });


      </script>
    {% endaddtoblock %}
  {% endif %}
  <section>
    <h2>{% translate "Registrations" %}</h2>
    {% if user in course.instructors.all %}
      <div class="btn-group">
        <a class="btn btn-default selectall">{% translate "Select all" %}</a>
        <a class="btn btn-default deselectall needs-select disabled">{% translate "Deselect all" %}</a>
      </div>
      <div class="btn-group">
        <form class="mail" method="post"
              action="{% url 'activities:select-participants' course=course.pk %}">{% csrf_token %}
          <input type="hidden" name="data" value=''/>
          <button type="submit" class="btn btn-secondary needs-select disabled"><i
              class="icon-mail"></i>&nbsp;&nbsp;{% translate "Send email..." %}
          </button>
        </form>
      </div>

    {% endif %}
    <table class="table">

      <thead>
      <tr>
        {% if BIB_NUMBERS and user in course.instructors.all %}
          <th class="bibnumber">{% translate "Bib number" %}</th>
        {% endif %}
        <th class="child-name">{% translate "Name" %}</th>

        {% if DISPLAY_PARENT_CITY %}
          <th>{% translate "Address" %}</th>
        {% endif %}
        {% if DISPLAY_PARENT_EMAIL %}
          <th>{% translate "Email" %}</th>
        {% endif %}

        {% if LIMIT_BY_SCHOOL_YEAR %}
          <th class="school">
            {% if CHILD_SCHOOL %}{% translate "School infos" %}{% else %}{% translate "School year" %}{% endif %}
          </th>
        {% endif %}
        {% if user in course.instructors.all %}
          <th class="birth-date">{% translate "Birth date" %}</th>
          {% if EMERGENCY_NUMBER_MANDATORY %}
            <th>{% translate "Emergency number" %}</th>
          {% endif %}
          <th>{% translate "Parents phones" %}</th>
        {% else %}
          <th class="teacher">{% translate "Teacher" %}</th>
        {% endif %}
        {% if INSTRUCTORS_CAN_REMOVE_REGISTRATIONS and user in course.instructors.all %}
          <th class="actions text-nowrap">{% translate "Actions" %}</th>
        {% endif %}
      </tr>
      </thead>


      {% for registration in course.participants.all %}
        <tr data-user-id="{{ registration.child.family.id }}">
          {% if BIB_NUMBERS and user in course.instructors.all %}
            <td data-order="{{ registration.child.bib_number|default:"0" }}">{{ registration.child.bib_number|default:"n/a" }}</td>
          {% endif %}
          <td>{{ registration.child.full_name }}</td>

          {% if DISPLAY_PARENT_CITY %}
            <td>
              {{ registration.child.family.address }}<br>
              {{ registration.child.family.country }}-{{ registration.child.family.zipcode }} {{ registration.child.family.city|title }}
            </td>
          {% endif %}
          {% if DISPLAY_PARENT_EMAIL %}
            <td><a href="mailto:{{ registration.child.family.email }}">{{ registration.child.family.email }}</a></td>
          {% endif %}

          {% if LIMIT_BY_SCHOOL_YEAR %}
            <td>
              {{ registration.child.school_year|default:"n/a" }}
              {% if CHILD_SCHOOL %}
                <br>
                {{ registration.child.school_name }}
              {% endif %}
            </td>
          {% endif %}

          {% if user in course.instructors.all %}
            <td data-order="{{ registration.child.birth_date|date:"c" }}">{{ registration.child.birth_date }}</td>

            {% if EMERGENCY_NUMBER_MANDATORY %}
              <td>
                <a href="{{ registration.child.emergency_number|phone:'RFC3966' }}">
                  {{ registration.child.emergency_number|phone }}
                </a>
              </td>
            {% endif %}

            <td>
              <ul class="list-unstyled">
                {% if registration.child.family.private_phone %}
                  <li>
                    <a href="{{ registration.child.family.private_phone|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if registration.child.family.private_phone2 %}
                  <li>
                    <a href="{{ registration.child.family.private_phone2|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone2|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if registration.child.family.private_phone3 %}
                  <li>
                    <a href="{{ registration.child.family.private_phone3|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone3|phone }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </td>
          {% else %}
            <td>
              {% if registration.child.teacher %}{{ registration.child.teacher.full_name }}{% else %}n/a{% endif %}
            </td>
          {% endif %}

          {% if INSTRUCTORS_CAN_REMOVE_REGISTRATIONS and user in course.instructors.all %}
            <td>
              <ul class="list-unstyled">
                <li class="text-nowrap"><a href="{{ registration.cancel_url }}" class="btn btn-sm"><i
                    class="icon-cancel-circled2"></i>&nbsp;{% translate "Cancel registration" %}</a></li>
              </ul>
            </td>
          {% endif %}
        </tr>
      {% empty %}

      {% endfor %}
    </table>
  </section>
{% endblock content %}
