{% extends "backend/base.html" %}
{% load i18n crispy_forms_tags static sekizai_tags %}

{% block title %}{% trans "Create a new course" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-graduation-cap"></i>&nbsp;&nbsp;{% trans "Create a new course" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
  {{ form.media.js }}
{% endaddtoblock %}

{% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}

  <form action="" method="post">{% csrf_token %}
    {% include "backend/course/form.html" %}
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-large">{% trans 'Create course' %}</button>
    </div>
  </form>

{% endblock content %}
