{% extends "backend/base.html" %}
{% load i18n crispy_forms_tags  static sekizai_tags %}



{% block title %}{% trans "Create a new course" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-graduation-cap"></i>&nbsp;&nbsp;{% trans "Create a new course" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script>
  $(function () {
    let $type = $('#id_course_type')

    let updateFields = function () {
      switch ($type.val()) {
        case 'course':
          $('.course-visible').show();
          $('.course-hidden').hide();
          break;
        case 'multicourse':
          $('.multicourse-visible').show();
          $('.multicourse-hidden').hide();
          break;
        case 'camp':
          $('.camp-visible').show();
          $('.camp-hidden').hide();
          break;
      }
    }

    $('#id_price').on('change', function () {
      $id_price_local = $("#id_price_local");
      if ($id_price_local.val() == '') {
        $id_price_local.val($(this).val())
      }
      $id_price_family = $("#id_price_family");
      if ($id_price_family.val() == '') {
        $id_price_family.val($(this).val())
      }
      $id_price_local_family = $("#id_price_local_family");
      if ($id_price_local_family.val() == '') {
        $id_price_local_family.val($(this).val())
      }
    });
    $type.on('change', function () {
      updateFields();
    })
    updateFields();

  });
</script>
  {{ form.media.js }}
{% endaddtoblock %}

{% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}

  <form action="" method="post">{% csrf_token %}
    {% include "backend/course/form.html" %}
    {% if extra_needs %}
    <fieldset>
      <legend>{% trans "Extra questions" %}</legend>
      {{ extraneed_form.management_form }}
      {{ extraneed_form.non_form_errors }}
      {% for form in extraneed_form %}
        {{ form.id }}
        {% comment %}<div class="inline {{ extraneed_form.prefix }}">
          {% form form using %}
            {% formconfig row using "floppyforms/rows/bootstrap-basic-row.html" %}
            {% formconfig row using "floppyforms/rows/bootstrap-basic-sm-6.html" %}
            {% formrow form.question_label form.extra_info form.type %}
          {% endform %}
          {% endcomment %}
        </div>
      {% endfor %}
    </fieldset>
  {% endif %}
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-large">{% trans 'Create course' %}</button>
    </div>
  </form>

  {% addtoblock "js" %}
    {{ form.media }}
    <script src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
    {% if EXPLICIT_SESSION_DATES %}
    <script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.de.min.js"></script>
    {% else %}
    <script src="{% static 'js/vendor/bootstrap-datetimepicker.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script type="text/javascript">
      $(function () {
        {% if EXPLICIT_SESSION_DATES %}
          $('.datepicker').datepicker({
            multidate: true,
            multidateSeparator: ',',
            language: '{{ LANGUAGE_CODE }}',
            format: "dd.mm.yyyy"
          });

        {% else %}
          $('.datetimepicker').datetimepicker({
              language: '{{ LANGUAGE_CODE }}',
              icons: {
                time: 'icon-clock',
                date: 'icon-calendar',
                up: 'icon-up-open',
                down: 'icon-down-open'
              }
            }
          );
        {% endif %}

      });
    </script>
  {% endaddtoblock %}


{% endblock content %}
