{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags static %}

{% block title %}{% translate "Create a new course" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-graduation-cap"></i>&nbsp;&nbsp;{% translate "Create a new course" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
  {{ form.media.js }}
{% endaddtoblock %}

{% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}

  <form action="" method="post">{% csrf_token %}
    {% include "backend/course/form.html" %}
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-large">{% translate 'Create course' %}</button>
    </div>
  </form>

{% endblock content %}
