{% extends "backend/base.html" %}
{% load i18n sekizai_tags staticfiles %}
{% load duration switzerland %}

{% block title %}{{ course.activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}
  {{ course.activity.name }} - {% blocktrans with identifier=course.number %}course #{{ identifier }}{% endblocktrans %}
  {% if CALENDAR_DISPLAY_COURSE_NAMES and course.name %}
    - {{ course.name }}
  {% endif %}
{% endblock %}

{% block content %}
<section class="portlet">
  <div class="pricing-plan">
    <header class="pricing-header">
      <p class="pricing-plan-label">{{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}</p>
        <p class="lead">
                {% if course.is_course %}

          {% blocktrans with day_name=course.day_name|lower start_time=course.start_time|time:"H:i" end_time=course.end_time|time:"H:i" duration=course.duration|duration %}Every {{ day_name }}, from {{ start_time }} to {{ end_time }} ({{ duration }}{% endblocktrans %}

          {% elif course.is_multi_course %}
            {% if course.start_time_mon %}
              {% blocktrans with start_time=course.start_time_mon|time:"H:i" end_time=course.end_time_mon|time:"H:i" %}Mondays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_tue %}
              {% blocktrans with start_time=course.start_time_tue|time:"H:i" end_time=course.end_time_tue|time:"H:i" %}Tuesdays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_wed %}
              {% blocktrans with start_time=course.start_time_wed|time:"H:i" end_time=course.end_time_wed|time:"H:i" %}Wednesdays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_thu %}
              {% blocktrans with start_time=course.start_time_thu|time:"H:i" end_time=course.end_time_thu|time:"H:i" %}Thursdays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_fri %}
              {% blocktrans with start_time=course.start_time_fri|time:"H:i" end_time=course.end_time_fri|time:"H:i" %}Fridays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_sat %}
              {% blocktrans with start_time=course.start_time_sat|time:"H:i" end_time=course.end_time_sat|time:"H:i" %}Saturdays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
            {% if course.start_time_sun %}
              {% blocktrans with start_time=course.start_time_sun|time:"H:i" end_time=course.end_time_sun|time:"H:i" %}Sundays, from {{ start_time }} to {{ end_time }}{% endblocktrans %}<br>
            {% endif %}
        </p>
      {% endif %}
    </header>
    <dl class="dl-horizontal">
      <dt>{% trans "Activity" %}</dt><dd><a href="{{ course.activity.get_backend_url }}">{{ course.activity }}</a></dd>
      <dt>{% trans "Course number" %}</dt><dd>{{ course.number }}</dd>

      <dt>{% trans "Instructors" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for instructor in course.instructors.all %}
            <li>
              <a href="{{ instructor.get_backend_url }}">{{ instructor.full_name }}</a>
              {% if FICHE_SALAIRE_MONTREUX %}
                &mdash;<a href="{% url 'backend:pay-slip-montreux' course=course.pk instructor=instructor.pk %}"  target="_blank"><i class="icon-doc-text"></i> {% trans "Create pay slip" %}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
      {% if course.comments %}
        <dt>{% trans "Comments" %}</dt>
        <dd>{{ course.comments|safe }}</dd>
      {% endif %}

      {% if course.is_course %}<dt>{% trans "Number of sessions" %}</dt><dd>{{ course.number_of_sessions }} cours</dd>{% endif %}
      {% if not NO_PAYMENT %}
        <dt>{% trans "Price" %}</dt>
      <dd>
        {% if USE_DIFFERENTIATED_PRICES %}
          <ul>
            <li>{{ course.price|money }} (externe)</li>
            <li>{{ course.price_local|money }} (indigène)</li>
            <li>{{ course.price_family|money }} (externe, rabais fratrie)</li>
            <li>{{ course.price_local_family|money }} (indigène, rabais fratrie)</li>
          </ul>
        {% else %}
          {{ course.price|money }}
        {% endif %}
        {% if course.price_description %}
        <p>{{ course.price_description|linebreaksbr }}</p>
        {% endif %}
      </dd>
      {% endif %}
      <dt>{% trans "School years" %}</dt>
      <dd>{% for year in course.school_years_label %}{{year}}{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
      <dt></dt>

      {% if not NO_EXTRAS %}
      <dt>{% trans "Extra questions" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for extra in course.extra.all %}
            <li>{{ extra.question_label }}{% if extra.choices %}: <em>({{ extra.choices|join:", " }})</em>{% endif %}</li>
            {% empty %}
            <li>{% trans "No extra question required" %}</li>
          {% endfor %}
        </ul>
      </dd>
      {% endif %}
    </dl>
    <p class="text-center">
      <a href="{{ course.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a>
    </p>

    <h4 class="content-title"><u>{% trans "Availability"%}</u></h4>
    <p>{{ course.count_participants  }} participants <span class="pull-right strong"> {{ course.max_participants }} places</span></p>
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%">{% if course.full %}{% trans "Course full" %}{% elif course.minimal_participants_reached %}{% trans "Minimal number of participants reached" %}{% else %}{% trans "Not enough participants" %}{% endif %}</div>
    </div>
    <p class="text-right"><small>{{ course.min_participants }} participants requis pour que l'activité ait lieu</small></p>

    {% if course.has_participants %}
    <h4 class="content-title"><u>{% trans "Management"%}</u></h4>
    <div>
      {% if USE_ABSENCES %}
      <div style="display: inline-block; min-height: 50px">
        <a href="{{ course.get_backend_absences_url }}" class="btn btn-sm">
          <i class="icon-calendar"></i>&nbsp;{% trans "Manage absences" %}
        </a>
        <br><small>&nbsp;</small>
      </div>
      {% endif %}

      <div style="display: inline-block; min-height: 50px">
        <a href="{{ course.get_mail_instructors_url }}" class="btn btn-sm">
          <i class="icon-tasks"></i>&nbsp;{% trans "Send infos to instructors" %}
        </a>
        <br>
        <small style="padding-left: 13px">
          {% trans "Last email sent on:" %} {{ course.last_instructor_email | date:"d F Y H:i" | default:"n/a" }}
        </small>
      </div>

      <div style="display: inline-block; min-height: 50px">
        <a href="{{ course.get_mail_confirmation_url }}" class="btn btn-sm">
          <i class="icon-mail"></i>&nbsp;{% trans "Send convocation email" %}
        </a>
        <br>
         <small style="padding-left: 13px">
          {% trans "Last email sent on:" %} {{ course.last_convocation_email | date:"d F Y H:i" | default:"n/a" }}
        </small>
      </div>

      {% if not course.is_camp %}
      <div style="display: inline-block; min-height: 50px">
        <a href="{{ course.get_js_export_url }}" class="btn btn-sm">
          <i class="icon-doc"></i>&nbsp;{% trans "Get BDNS: J+S export file" %}
        </a>
        <br><small>&nbsp;</small>
      </div>
      {% endif %}
  <div>

    {% endif %}
  </div>
</section>

  {% addtoblock  "js" %}
    <script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'js/vendor/datatables/dataTables.bootstrap.js' %}"></script>
    <script>
      $(function () {
        let participantsTable = $(".table.participants").dataTable({
          {% if LANGUAGE_CODE == 'fr' %}
            "language": {
              "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
            },
          {% endif %}
          aoColumnDefs: [
            { 'bSortable': true, 'aTargets': ['bibnumber', 'child-name', 'school', 'extra']},
            { 'bSortable': false, 'aTargets': ['_all']},
            { 'bSearchable': true, 'aTargets': ['bibnumber', 'child-name',]},
            { 'bSearchable': false, 'aTargets': ['_all']}

          ],
          dom: 'T<"clear">lfrtip',
          paging: false,
          tableTools: {
            "sRowSelect": "multi",
            "aButtons": [ ],
            'fnRowSelected': function(){
              $('.needs-select').removeClass('disabled');
            },
            'fnRowDeselected': function(){
              if ($('tr.active').length == 0){
                $('.needs-select').addClass('disabled');
              }
            }
          }
        });

        $('.selectall').click(function(){
          let tabletools = TableTools.fnGetInstance(participantsTable[0]);
          tabletools.fnSelectAll(true);
        });
        $('.deselectall').click(function(){
          let tabletools = TableTools.fnGetInstance(participantsTable[0]);
          tabletools.fnSelectNone();
        });
        $('form.mail').submit(function(){
          let tabletools = TableTools.fnGetInstance(participantsTable[0]);
          let ids = tabletools.fnGetSelected().map(function(elem){
            return elem.getAttribute('data-user-id');
          });
          $('input[name="data"]').val(JSON.stringify(ids));
        });
        $('form.move').submit(function(evt){
          let form = this;
          let tabletools = TableTools.fnGetInstance(participantsTable[0]);
          let ids = tabletools.fnGetSelected().map(function(elem){
            return elem.getAttribute('data-registration-id');
          });
          $('input[name=registrations]', form).remove();
          ids.forEach(function(regId){
            $('<input type="hidden">').attr('id', 'registrations_' + regId)
                .attr('name', 'registrations')
                .val(regId)
                .prependTo(form);
          });
        });
      });
    </script>
  {% endaddtoblock %}

  <section>
    <h2>{% trans "Registrations" %}</h2>
    <a href="{{ course.get_xls_export_url }}" class="btn btn-default">
      <i class="icon-file-excel"></i> {% trans "Export participants" %}
    </a>
    <hr/>
    <div class="btn-group">
      <a class="btn btn-default selectall">{% trans "Select all" %}</a>
      <a class="btn btn-default deselectall needs-select disabled">{% trans "Deselect all" %}</a>
    </div>
    <div class="btn-group">
      <form class="mail" method="post" action="{%  url 'backend:mail-users' %}?prev={{ request.get_full_path | urlencode }}">{% csrf_token %}
        <input type="hidden" name="data" value='' />
        <button type="submit" class="btn btn-secondary needs-select disabled"><i class="icon-mail"></i>&nbsp;&nbsp;{% trans "Send email..." %}</button>
      </form>
    </div>
    <div class="btn-group">
      <form class="move" method="post" action="{% url 'backend:registrations-move' %}?course={{ course.id }}">{% csrf_token %}
        <button type="submit" class="btn btn-secondary needs-select disabled"><i class="icon-loop-alt"></i>&nbsp;&nbsp;{% trans "Move to another course..." %}</button>
      </form>
    </div>

    <table class="table participants">
      <thead>
        <tr>
          {% if BIB_NUMBERS %}
            <th class="bibnumber">{% trans "Bib number" %}</th>
          {% endif %}
          <th class="child-name">{% trans "Name" %}</th>
          {% if LIMIT_BY_SCHOOL_YEAR %}<th class="school">{% if CHILD_SCHOOL %}{% trans "School infos" %}{% else %}{% trans "School year" %}{% endif %}</th>{% endif %}
          {% if EMERGENCY_NUMBER_MANDATORY %}
            <th>{% trans "Emergency number" %}</th>
          {% else %}
            <th>{% trans "Parents phone" %}</th>
          {% endif %}
          <th>{% trans "Parents email" %}</th>
          {% for extra in course.extra.all %}
            <th class="extra">{{ extra.question_label }}</th>
          {% endfor %}
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for registration in course.participants.all %}
        <tr data-registration-id="{{ registration.id }}"
            data-user-id="{{ registration.child.family.id }}">
          {% if BIB_NUMBERS %}
            <td data-order="{{ registration.child.bib_number|default:"0" }}">
              {{ registration.child.bib_number|default:"n/a" }}
            </td>
          {% endif %}
          <td data-order="{{ registration.child.last_name }} {{ registration.child.first_name }}">
            <a href="{{ registration.child.get_backend_url }}">{{ registration.child.full_name }}</a>
          </td>
          {% if LIMIT_BY_SCHOOL_YEAR %}<td>
            {{ registration.child.school_year|default:"n/a" }}
            {% if CHILD_SCHOOL %}<br>
              {{ registration.child.school_name }}
            {% endif %}
          </td>{% endif %}
          {% if EMERGENCY_NUMBER_MANDATORY %}
            <td>
              <a href="{{ registration.child.emergency_number|phone:'RFC3966' }}">
                {{ registration.child.emergency_number|phone }}
              </a>
            </td>
          {% else %}
            <td>
              <ul>
                {% if registration.child.family.private_phone %}
                  <li>
                    <a href="{{ registration.child.family.private_phone|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if registration.child.family.private_phone2 %}
                  <li>
                    <a href="{{ registration.child.family.private_phone2|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone2|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if registration.child.family.private_phone3 %}
                  <li>
                    <a href="{{ registration.child.family.private_phone3|phone:'RFC3966' }}">
                      {{ registration.child.family.private_phone3|phone }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </td>
          {% endif %}
          <td>{{ registration.child.family.email | urlize }}</td>
          {% for extra_question in course.extra.all %}
            {% for extra_response in registration.extra_infos.all %}
              {% if extra_response.key == extra_question %}
                <td data-order="{{ extra_response.value }}">
                {% if extra_question.type == 'B' %}
                  {% if extra_response.value == '1' %}
                    <i class="icon-ok-circled text-success"></i>
                  {% else %}
                    <i class="icon-cancel-circled text-danger"></i>
                  {% endif %}
                {% else %}
                  {{ extra_response.value }}
                {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        
          <td>
            <ul class="list-unstyled">
              <li class="text-nowrap"><a href="{{ registration.get_update_url }}?course={{ course.pk }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update registration" %}</a></li>
              <li class="text-nowrap"><a href="{{ registration.get_delete_url }}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% trans "Cancel registration" %}</a></li>
            </ul>
          </td>

        </tr>
        {% empty %}

      {% endfor %}
    </table>
  </section>
{% if ENABLE_WAITING_LISTS %}
<hr>
  <section>
    <h2>{% trans "Waiting list" %}</h2>
  <table class="table waiting-slots">
      <thead>
        <tr>
          {% if BIB_NUMBERS %}
            <th class="bibnumber">{% trans "Bib number" %}</th>
          {% endif %}
          <th class="child-name">{% trans "Name" %}</th>
          {% if LIMIT_BY_SCHOOL_YEAR %}<th class="school">{% if CHILD_SCHOOL %}{% trans "School infos" %}{% else %}{% trans "School year" %}{% endif %}</th>{% endif %}
          {% if EMERGENCY_NUMBER_MANDATORY %}
            <th>{% trans "Emergency number" %}</th>
          {% else %}
            <th>{% trans "Parents phone" %}</th>
          {% endif %}
          <th>{% trans "Parents email" %}</th>
          <th>{% trans "Other registrations" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for waiting_slot in course.waitingslot_set.all %}
        <tr data-waiting-slot-id="{{ waiting_slot.id }}"
            data-user-id="{{ waiting_slot.child.family.id }}">
          {% if BIB_NUMBERS %}
            <td data-order="{{ waiting_slot.child.bib_number|default:"0" }}">
              {{ waiting_slot.child.bib_number|default:"n/a" }}
            </td>
          {% endif %}
          <td data-order="{{ waiting_slot.child.last_name }} {{ waiting_slot.child.first_name }}">
            <a href="{{ waiting_slot.child.get_backend_url }}">{{ waiting_slot.child.full_name }}</a>
          </td>
          {% if LIMIT_BY_SCHOOL_YEAR %}<td>
            {{ waiting_slot.child.school_year|default:"n/a" }}
            {% if CHILD_SCHOOL %}<br>
              {{ waiting_slot.child.school_name }}
            {% endif %}
          </td>{% endif %}
          {% if EMERGENCY_NUMBER_MANDATORY %}
            <td>
              <a href="{{ waiting_slot.child.emergency_number|phone:'RFC3966' }}">
                {{ waiting_slot.child.emergency_number|phone }}
              </a>
            </td>
          {% else %}
            <td>
              <ul>
                {% if waiting_slot.child.family.private_phone %}
                  <li>
                    <a href="{{ waiting_slot.child.family.private_phone|phone:'RFC3966' }}">
                      {{ waiting_slot.child.family.private_phone|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if waiting_slot.child.family.private_phone2 %}
                  <li>
                    <a href="{{ waiting_slot.child.family.private_phone2|phone:'RFC3966' }}">
                      {{ waiting_slot.child.family.private_phone2|phone }}
                    </a>
                  </li>
                {% endif %}
                {% if waiting_slot.child.family.private_phone3 %}
                  <li>
                    <a href="{{ waiting_slot.child.family.private_phone3|phone:'RFC3966' }}">
                      {{ waiting_slot.child.family.private_phone3|phone }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </td>
          {% endif %}
          <td>{{ waiting_slot.child.family.email | urlize }}</td>
          <td>
            {{ waiting_slot.child.registrations.count }} / {{ MAX_REGISTRATIONS_PER_CHILD }}
            <ul class="list-unstyled">
              {% for registration in waiting_slot.child.registrations.all %}
                <li>
                    {{ registration.course.short_name }}
                </li>
              {% endfor %}
            </ul>

          </td>
          <td>
            <ul class="list-unstyled">
              <li class="text-nowrap"><a href="{{ waiting_slot.get_transform_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Add to participants" %}</a></li>
              <li class="text-nowrap"><a href="{{ waiting_slot.get_delete_url }}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% trans "Remove from waiting list" %}</a></li>
            </ul>
          </td>

        </tr>
        {% empty %}

      {% endfor %}
    </table>
  </section>
  {% endif %}
{% endblock content %}
