{% extends "backend/base.html" %}
{% load i18n sekizai_tags duration %}

{% block title %}{% trans "View courses" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List courses" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/fc-3.2.5/fh-3.1.4/r-2.2.2/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/fc-3.2.5/fh-3.1.4/r-2.2.2/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>

    <script>
      $(function () {
        let table = $('.table').DataTable({
          {% if LANGUAGE_CODE == 'fr' %}
            language: {
              url: "{{ STATIC_URL }}js/vendor/datatables/French.json"
            },
          {% endif %}
          select: {
            style: 'multi'
          },
          aoColumnDefs: [
            {'bSortable': false, 'bSearchable': false, 'aTargets': [-1]}
          ],
          paging: false
        });
        table.on('select', function () {
          $('.needs-select').removeClass('disabled');
        });
        table.on('deselect', function () {
          if (table.rows({selected: true}).count() === 0) {
            $('.needs-select').addClass('disabled');
          }
        });

        $('input[type=radio][name="only_js"]').change(function () {
          switch ($(this).val()) {
            case 'announced':
              table.columns(8).search('true').draw();
              break;
            case 'notannounced':
              table.columns(8).search('false').draw();
              break;
            case 'both':
              table.columns(8).search('').draw();
              break;
          }
        });

        let createHiddenIDInputs = function($form) {
          table.rows({selected: true}).nodes().each(function(row) {
            let id = $(row).data('courseid');
            $form.append(`<input name="c" value="${id}" type="hidden">`);
          });
        };

        {% if USE_ABSENCES %}
          $('form.absences').submit(function() {
            createHiddenIDInputs($(this));
          });
        {% endif %}
        $('form.convocations').submit(function() {
            createHiddenIDInputs($(this));
        });

        $('form.instructors').submit(function() {
          createHiddenIDInputs($(this));
        });

        $('form.visibility').submit(function() {
            createHiddenIDInputs($(this));
        });
      });
    </script>
  {% endaddtoblock %}

  <a href="{% url 'backend:course-create' %}" class="btn btn-success">
    <i class="icon-plus"></i> {% trans "New course" %}
  </a>
  <hr>

  {% if USE_ABSENCES %}
    <div class="btn-group">
      <form class="absences" method="GET" action="{% url 'backend:courses-absence' %}">
        <button type="submit" class="btn btn-secondary needs-select disabled">
          <i class="icon-calendar"></i>&nbsp;&nbsp;{% trans "Manage multiple courses absences" %}
        </button>
      </form>
    </div>
  {% endif %}

  <div class="btn-group">
    <form class="convocations" method="GET"
          action="{% url 'backend:courses-mail-confirmation' %}">
      <button type="submit" class="btn btn-secondary needs-select disabled">
        <i class="icon-mail"></i>&nbsp;{% trans "Convocation email" %}
      </button>
    </form>
  </div>

  <div class="btn-group">
    <form class="instructors" method="GET"
          action="{% url 'backend:courses-mail-instructors' %}">
      <button type="submit" class="btn btn-secondary needs-select disabled">
        <i class="icon-tasks"></i>&nbsp;{% trans "Infos to instructors" %}
      </button>
    </form>
  </div>

  <div class="btn-group">
    <form class="visibility" method="POST"
          action="{% url 'backend:courses-toggle-visibility' %}">{% csrf_token %}
      <button type="submit" class="btn btn-secondary needs-select disabled">
        <i class="icon-eye-off"></i>&nbsp;{% trans "Toggle visibility" %}
      </button>
    </form>
  </div>

  <hr>
  <div>
    <label class="radio-inline"> J+S:</label>

    <label class="radio-inline">
      <input type="radio" name="only_js" value="announced"> {% trans "Announced courses" %}
    </label>
    <label class="radio-inline ">
      <input type="radio" name="only_js" value="notannounced"> {% trans "Not announced courses" %}
    </label>
    <label class="radio-inline ">
      <input type="radio" name="only_js" value="both" checked="checked"> {% trans "Both" %}
    </label></div>

  <table class="table">
    <thead>
    <tr>
      <th class="text-nowrap">{% trans "Identifier" %}</th>
      <th class="text-nowrap">{% trans "Activity" %}</th>
      <th class="text-nowrap">{% trans "Day(s)" %}</th>
      <th class="text-nowrap">{% trans "Start date" %}</th>
      <th class="text-nowrap">{% trans "Hour(s)" %}</th>
      <th class="text-nowrap">{% trans "Duration" %}</th>
      <th class="text-nowrap">{% trans "Instructors" %}</th>
      <th class="text-nowrap">{% trans "Registrations" %}</th>
      <th class="text-nowrap">{% trans "J+S" %}</th>
      <th class="text-nowrap">{% trans "Up to date?" %}</th>
      <th class="text-nowrap">{% trans "Actions" %}</th>
    </tr>
    </thead>
    {% for course in object_list %}
      <tr class="{% if not course.visible %}info{% elif course.has_issue %}danger{% endif %}"
          data-courseid="{{ course.id }}">
        <td data-order="{{ course.number }}">
          <a href="{{ course.get_backend_url }}">{{ course.number }}</a>
          {% if not course.visible %}<br>
            <span class="text-muted"><small>{% trans "Invisible" %}</small></span>
          {% endif %}
        </td>
        <td>
          <a href="{{ course.activity.get_backend_url }}">{{ course.activity.name }}</a>
          {% if CALENDAR_DISPLAY_COURSE_NAMES and course.name %}
            <br/>{{ course.name }}
          {% endif %}
        </td>
        <td data-order="{{ course.start_date|date:'w' }}">
          {% if course.is_multi_course %}
            <ul class="list-unstyled">
              {% for day in course.days_names %}
                <li>{{ day }}</li>{% endfor %}
            </ul>
          {% else %}
            {{ course.day_name }}
          {% endif %}
        </td>
        <td data-order="{{ course.start_date|date:'c' }}">{{ course.start_date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>
          {% if course.is_course %}
            {{ course.start_time|time:"H:i" }}
          {% elif course.is_multi_course %}
            <ul class="list-unstyled">
              {% for hour in course.start_hours %}
                <li>{{ hour|time:"H:i" }}</li>{% endfor %}
            </ul>
          {% else %}
            n/a
          {% endif %}
        </td>
        <td data-order="{{ course.duration|seconds }}">{{ course.duration|duration }}</td>
        <td>
          <ul class="list-unstyled">
            {% for instructor in course.instructors.all %}
              <li><a href="{{ instructor.get_backend_url }}">{{ instructor.full_name }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td data-order="{{ course.available_places }}"
            class="{% if course.full %}bg-danger{% elif course.minimal_participants_reached %}bg-success{% else %}bg-warning{% endif %}">
          {% if course.count_participants > course.max_participants %}
            <strong><i
                class="icon icon-exclamation"></i> {{ course.count_participants }}&nbsp;/&nbsp;{{ course.max_participants }}
            </strong>
          {% else %}
            {{ course.count_participants }}&nbsp;/&nbsp;{{ course.max_participants }}
          {% endif %}
        </td>
        <td data-order="{{ course.announced_js }}"
            data-search="{{ course.announced_js|yesno:"true,false" }}">
          {% if course.announced_js %}
            <i class="icon-ok-circled success"></i>
          {% else %}
            <i class="icon-cancel-circled danger"></i>
          {% endif %}
        </td>
        <td data-order="{{ course.uptodate }}"
            data-search="{% trans 'up to date' %}">
          {% if course.uptodate %}<i class="icon-ok-circled success"></i>{% else %}
            <i class="icon-cancel-circled  danger"></i>{% endif %}
        </td>
        <td>
          <ul class="list-unstyled">
            <li class="text-nowrap">
              <a href="{{ course.get_backend_url }}" class="btn btn-sm">
                <i class="icon-check"></i>&nbsp;{% trans "Check registrations" %}
            </a></li>
            {% if USE_ABSENCES %}
              <li class="text-nowrap">
                <a href="{{ course.get_backend_absences_url }}" class="btn btn-sm">
                  <i class="icon-calendar"></i>&nbsp;{% trans "Manage absences" %}
                </a>
              </li>
            {% endif %}
            <li class="text-nowrap">
              <a href="{{ course.get_update_url }}" class="btn btn-sm">
                <i class="icon-edit"></i>&nbsp;{% trans "Update course" %}
              </a>
            </li>

            <li class="text-nowrap">
              <a href="{{ course.get_duplicate_url }}" class="btn btn-sm">
                <i class="icon-docs"></i>&nbsp;{% trans "Duplicate course" %}
              </a>
            </li>
            {% if not course.is_camp %}
              <li class="text-nowrap">
                <a href="{{ course.get_js_export_url }}" class="btn btn-sm">
                  <i class="icon-doc"></i>&nbsp;{% trans "Get BDNS: J+S export file" %}
                </a>
              </li>
            {% endif %}
            <li class="text-nowrap">
              <a href="{{ course.get_delete_url }}" class="btn btn-sm">
                <i class="icon-trash"></i>&nbsp;{% trans "Delete course" %}
              </a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
