{% extends "backend/base.html" %}
{% load i18n sekizai_tags floppyforms static %}

{% block title %}{% blocktrans %}Absence management{% endblocktrans %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-calendar"></i>&nbsp;&nbsp;{% trans "Absences" %}{% endblock %}


{% block content %}
{% addtoblock "css" %}
<style>
@media print {
  body {
    font-size: 11px;
  }
  table.absences thead tr th {
    font-size: 11px;
    font-weight: 600;
  }
  table.absences .btn-sm,
  table.absences .btn-group-sm>.btn {
    font-size: 11px;
    line-height: 1.42857143;
  }
  .page-header {
    margin: 0;
  }
  .page-header h1{
    margin-bottom: 1cm;
  }
  .portlet {
    margin-bottom: 0.5cm;
  }

  h4.portlet-title {
    display: none;
  }
  .courses-list {
    padding-left: 0;
  }
  .courses-list li {
    display: inline-block;
    margin-right: 1em;
  }
  .courses-list li:after {
    content: "/";
    padding-left: 1em;
  }
  .courses-list li:last-child:after {
    content: "";
    padding: 0;
  }

}
</style>

{% endaddtoblock %}

<section class="portlet">
  <h4 class="portlet-title"><u>{% trans "Courses" %}</u></h4>
  <ul class="courses-list">
  {% for course in course_list %}
    <li>
      <a href="{{ course.get_absences_url }}">
        {{ course.short_name }}{% if course.name %} - {{ course.name }}{% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% if not ABSENCES_RELATE_TO_ACTIVITIES %}
  {% comment %}
  3.1.2019
  Si on laisse la création de sessions depuis ici, on pourrait créer arriver à la situation où deux
  cours n'appartenant pas à la même activité se voient assignés une session et des absences.
  Si les absences sont liées à l'activité plutôt qu'au cours, j'imagine que cela peut casser des choses.

  En outre, tous les cours de l'activité n'auront alors plus le même nombre de sessions, ce qui est dangereux.

  Préférons la prudence, donc. On peut créer des sessions depuis la vue "absences de l'activité" ou depuis le cours
  lui-même (qui en fait est la vue "absences de l'activité" où l'on a filtré certains enfants...)
  {% endcomment %}
  <div class="hidden-print">
    <form method="POST" class="form-inline">{% csrf_token %}
      {% form session_form using "floppyforms/layouts/bootstrap-inline.html" %}
      <button type="submit" class="btn btn-secondary">{% trans "Create session for all courses" %}</button>
    </form>
    <hr>
  </div>
  {% endif %}
</section>

{% addtoblock "js" %}
{% comment %}Ne pas utiliser static... sekizai a de la peine si static_url est absolu en prod {% endcomment %}

<script src="{{ STATIC_URL }}js/vendor/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery.formset.js"></script>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
        language: '{{ LANGUAGE_CODE }}',
        icons: {time: 'icon-clock',
                date: 'icon-calendar',
                up:   'icon-up-open',
                down: 'icon-down-open'}
        }
    );
 });
</script>

{% endaddtoblock %}

{% include 'absences/absences-table-courses.html' %}

{% endblock content %}
