{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags static %}
{% block title %}{% translate "Update course" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Update course" %}{% endblock %}

{% block content %}
  <form action="" method="post">
    {% crispy form %}
    <div class=" form-group">
      <button type="submit" class="btn btn-success ">{% translate 'Update course' %}</button>&nbsp;
      <a href="{% url 'backend:course-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>

  {% addtoblock "js" %}
    {{ form.media.js }}
  {% endaddtoblock %}

  {% addtoblock "css" %}
    {{ form.media.css }}
  {% endaddtoblock %}

{% endblock content %}
