{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Update activity" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-soccer-ball"></i>&nbsp;&nbsp;{% translate "Update activity" %}{% endblock %}

{% block content %}
{% addtoblock "css" %}
{{ form.media.css }}
{% endaddtoblock %}

{% addtoblock "js" %}
{{ form.media.js }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">

{% crispy form %}
  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-success ">{% translate 'Update activity' %}</button>
      &nbsp;
      <a href="{% url 'backend:activity-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}
