{% extends "mailer/base_pdf.html" %}
{% load i18n phone duration %}


{% block page_header %}
<h1>SPORT SCOLAIRE FACULTATIF<br /> Tous les cours de {{ responsible.full_name }}</h1>
{% endblock page_header %}

{% block content %}

  
   
<table class="table table-striped ">
  <thead>
    <tr>
    <th class="text-nowrap">{% trans "Identifier" %}</th>
    <th class="text-nowrap">{% trans "Activity" %}</th>
    <th class="text-nowrap">{% trans "Day" %}</th>
    <th class="text-nowrap">{% trans "Start date" %}</th>
    <th class="text-nowrap">{% trans "End date" %}</th>
    <th class="text-nowrap">{% trans "Time" %}</th>
    <th class="text-nowrap">{% trans "Duration" %}</th>
    <th class="text-nowrap">{% trans "Place" %}</th>
   </tr>
   </thead>
   {% for course in courses %}
    <tr>
      <td>{{ course.number }}</td>
      <td>{{ course.activity.name }}</td>
      <td>{{ course.day_name }}</td>
      <td>{{ course.start_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ course.end_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ course.start_time|time:"H:i" }}</td>
      <td>{{ course.duration|duration }}</td>
      <td>{{ course.place  }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}