{% extends "mailer/base_pdf.html" %}
{% load i18n switzerland %}


{% block page_header %}
Liste des participants<br> Cours {{ course.number }} | {{ course.activity.name }}
{% endblock page_header %}

{% block content %}

  
   
  <table class="table table-striped">
    {% for registration in course.participants.all %}
      <tr>
        <td>{{ registration.child.full_name|title }}</td>
        {% if LIMIT_BY_SCHOOL_YEAR %}
        <td>{{ registration.child.school_year | default:"" }}</td>
        {% endif %}
        <td>{{ registration.child.birth_date|date:"j.n.Y"}}</td>
        <td>{% if registration.child.family.address %}{{ registration.child.family.address }}<br />{% endif %}
            {{ registration.child.family.zipcode }} {{ registration.child.family.city|title }}
        </td>
        
        <td>
          {% if registration.child.family.private_phone %}
            <div>{{ registration.child.family.private_phone|phone }}</div>
          {% endif %}
          
          {% if registration.child.family.private_phone2 %}
          <div>{{ registration.child.family.private_phone2|phone }}</div>
          {% endif %}
          
          {% if registration.child.family.private_phone3 %}
          <div>{{ registration.child.family.private_phone3|phone }}</div>
          {% endif %}
        </td>
        <td>{{ registration.child.family.email  }}</td>
      </tr>
    {% empty %}
    
    {% endfor %}
    <tfoot>
        <tr>
            <th colspan="{% if LIMIT_BY_SCHOOL_YEAR %}6{% else %}5{% endif %}">Total: {{ course.participants.count }} participants</th>
        </tr>
    </tfoot>
  </table>

{% endblock %}