{% extends "contact/contact.html" %}

{% block addresses %}
  <section style="padding-top: 0">
      <h4 >Commune de Montreux</h4>
    <h5>Passeport Vacances</h5>
      <address>
        Rue de Jaman 8<br />
        1815 Clarens<br />
      </address>
      <p>
        Téléphone: <a itemprop="telephone" href="tel:+41219628020">021 962 80 20</a> (Lu-Ve: 15h - 17h)<br />
        Email: <a itemprop="email" href="mailto:passvac@montreux.ch">passvac@montreux.ch</a>
      </p>
    </section>


{% endblock addresses %}
