{% extends "contact/contact.html" %}

{% block addresses %}
  <section style="padding-top: 0">
      <h4 >Commune de Montreux</h4>
    <h5>Passeport Vacances</h5>

      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Rue du Temple 11</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1820</span>
        <span itemprop="addressLocality">Montreux</span>
      </address>
      <p>
        Téléphone: <a itemprop="telephone" href="tel:+41219628020">021 962 80 20</a><br />
        Email: <a itemprop="email" href="mailto:passvac@montreux.ch">passvac@montreux.ch</a>
      </p>
    </section>


{% endblock addresses %}
