{% extends "contact/contact.html" %}

{% block addresses %}
    <section style="padding-top: 0">
      <h4 itemprop="name">Établissement Primaire de Coppet - Terre Sainte</h4>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Chemin du Chaucey 7</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1296</span> <span itemprop="addressLocality">Coppet</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Téléphone</dt><dd itemprop="telephone"><a href="tel:+41225575858">+41 22 557 58 58</a></dd>
        <dt>Fax</dt><dd itemprop="faxNumber"><a href="fax:+41225575859">+41 22 557 58 59</a></dd>
        <dt>Email</dt><dd><a itemprop="email" href="mailto:ep.coppet@vd.ch">ep.coppet@vd.ch</a></dd>
      </dl>
    </section>

    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">          
      <h4 itemprop="jobTitle">Responsable Sport Scolaire Facultatif</h4>
      <p itemprop="name">Remo Aeschbach</p>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Chemin du Chaucey 7</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1296</span> <span itemprop="addressLocality">Coppet</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Téléphone</dt><dd itemprop="telephone"><a href="tel:+41225575858">+41 22 557 58 58</a></dd>
        <dt>Portable</dt><dd itemprop="telephone"><a href="tel:+41794176993">+41 79 417 69 93</dd>
        <dt>Email</dt><dd><a itemprop="email" href="mailto:remo.aeschbach@vd.educanet2.ch">remo.aeschbach@vd.educanet2.ch</a></dd>
      </dl>
    </section>
{% endblock %}

