{% load i18n %}

<h3 ng-hide="userChildren.length > 0">Ajout d'un enfant</h3>
<h3 ng-show="userChildren.length > 0">Ajout d'un autre enfant</h3>
<br />
<form name="childform" class="form-horizontal" role="form">
   <div class="form-group" ng-show="{[{ useExternalIdentifiers }]}">
    <label class="col-sm-4 control-label" for="ext_id">Identifiant (numéro SSF)</label>
    <div class="col-sm-8">
      <input id="ext_id" ng-model="detailedChild.ext_id" 
             type="number" class="form-control" 
             max="100000000"
             ng-blur="lookupChild()" />
    </div>
    <hr />
  </div>
    
  <div class="form-group">
    <label class="col-sm-4 control-label" for="first_name">Prénom<span class="required"> *</span></label>
    <div class="col-sm-8">
      <input id="first_name" ng-model="detailedChild.first_name" 
             type="text" class="form-control" required />
     {[{ childform.first_name.$error }]}
      <span ng-show="childform.first_name.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="last_name">Nom<span class="required"> *</span></label>
    <div class="col-sm-8">
      <input id="last_name" ng-model="detailedChild.last_name" 
             type="text" class="form-control" required />
      <span ng-show="childform.last_name.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="inputBirthDate">Sexe<span class="required"> *</span></label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="sex" ng-model="detailedChild.sex"  value="F" required>Fille
      </label>
      <label class="radio-inline">
        <input type="radio" name="sex" ng-model="detailedChild.sex"  value="M">Garçon
      </label>
      <!--<span ng-show="childform.sex.$error.required">Ce champ est obligatoire</span>-->
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="inputBirthDate">Date de naissance<span class="required"> *</span></label>
    <div class="col-sm-5 ">
      <input type="text" class="form-control"  placeholder="31.7.2008" id="inputBirthDate"
             data-language="fr" data-trigger="focus"
             ng-model="detailedChild.birth_date"
             bs-datepicker required>
    </div>
    <p class="help-block col-sm-8 col-sm-offset-4">Format: 31.07.2003</p>
    <p class="col-sm-8 col-sm-offset-4" ng-show="childform.inputBirthDate.$error.required">Ce champ est obligatoire</p>
  </div>
  
  
   <div class="form-group">
    <label class="col-sm-4 control-label" for="nationality">Nationalité<span class="required"> *</span></label>
    <div class="col-sm-8">
      <select id="nationality" class="form-control" ng-model="detailedChild.nationality" required>
        <option value="CH">Suisse</option>
        <option value="FL">Liechtenstein</option>
        <option value="DIV">Autre</option>
      </select>
      <span ng-show="childform.nationality.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>

 <div class="form-group">
    <label class="col-sm-4 control-label" for="language">Langue<span class="required"> *</span></label>
    <div class="col-sm-8">
      <select id="language" ng-model="detailedChild.language" 
             class="form-control" required>
        <option value="F">Français</option>
        <option value="D">Deutsch</option>
        <option value="E">English</option>
        <option value="I">Italien</option>
      </select>
      <span ng-show="childform.language.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  {% if EMERGENCY_NUMBER_MANDATORY %}
  <div class="form-group">
    <label class="col-sm-4 control-label" for="emergency_number">Numéro d'urgence<span class="required"> *</span></label>
    <div class="col-sm-8">
      <input id="emergency_number" ng-model="detailedChild.emergency_number" 
             type="text" class="form-control" required />
      <span ng-show="childform.emergency_number.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  {% endif %}
  

  <div ng-show="prefillTeachers">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="inputLastName">Enseignant principal<span class="required"> *</span></label>
      <div class="col-sm-5">
        <select id="inputTeacher" class="form-control" ng-model="detailedChild.teacher"  
                ng-options="teacher.last_name + ' ' + teacher.first_name for teacher in teachers" 
                ng-change="updateSchoolYear()" ng-required="prefillTeachers"></select>
      </div>
    </div>
    <div class="form-group"  ng-switch on="detailedChild.teacher.years.length">
      <label class="col-sm-4 control-label" for="inputYear" ng-show="detailedChild.teacher.years.length > 1">Année<span class="required"> *</span></label>
       <div class="col-sm-8" ng-switch-when="undefined">
        <input type="hidden" ng-model="detailedChild.school_year" />
      </div>
      <div class="col-sm-8" ng-switch-when="1">
        <input type="hidden" ng-model="detailedChild.school_year" />
      </div>
      <div class="col-sm-5" ng-switch-default>
        <select id="inputYear" class="form-control" ng-model="detailedChild.school_year" 
                ng-disabled="detailedChild.teacher.years.length == 1" 
                ng-options="toHarmos(year) + '' for year in detailedChild.teacher.years" required></select>
        <span ng-show="childform.inputYear.$error.required">Ce champ est obligatoire</span>
      </div>
       <div class="clearfix"></div>
    </div>
  </div>
  <div ng-show="!prefillTeachers">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="inputYear">Année<span class="required"> *</span></label>
      <div class="col-sm-5">
        <select id="inputYear" class="form-control" ng-model="detailedChild.school_year" 
                ng-options="toHarmos(year) + '' for year in years" required></select>
        <span ng-show="childform.inputYear.$error.required">Ce champ est obligatoire</span>
      </div>
    </div>
  </div>
 {% if CHILD_SCHOOL %}
  <div class="form-group">
    <label class="col-sm-4 control-label" for="school">École<span class="required"> *</span></label>
    <div class="col-sm-5">
      <select id="school" class="form-control" ng-model="detailedChild.school" 
              ng-options="school.id as school.name for school in schools">
        <option value="">Autre</option>
      </select>
      <span ng-show="childform.school.$error.required">Ce champ est obligatoire</span>
    </div>
  </div>
  <div class="form-group" ng-hide="detailedChild.school">
    <label class="col-sm-4 control-label" for="school">Nom de l'école</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="other_school" 
               ng-model="detailedChild.other_school" 
               ng-required="!detailedChild.school">
    </div>
  </div>
  {% endif %}

  
  <div>
    <div class="col-sm-4 col-xs-4">
      <button ng-click="saveChild()" ng-disabled="childform.$invalid" class="btn btn-right btn-success"><i class="icon-ok-sign icon-white"></i> Enregistrer mon enfant</button>
    </div>
    <div class="col-xs-8 col-sm-8 text-right">
      <button ng-click="reloadChild()" ng-disabled="hasNotChanged()" class="btn btn-small"><i class="icon-remove-sign"></i> Annuler</button>
    </div>
  </div>

 </form>