{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My account" %}{% endblock title %}
{% block page_title %}{% trans "My account" %} <small>- responsable légal</small>{% endblock page_title %}


{% block main-content %}

{% url 'profiles_account' as profiles_url %}
{% url 'auth_password_change' as password_change_url %}
{% url 'profiles_children' as children_url %}
{% url 'profiles_registered_activities' as activities_url %}
{% url 'profiles_billing' as billing_url %}
<div class="container">
  <div class="layout layout-main-right layout-stack-sm">
    <div class="col-md-3 col-sm-4 layout-sidebar hidden-print">
      <div class="nav-layout-sidebar-skip">
        <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>	
      </div>
  
      <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
        <li {% if request.get_full_path == profiles_url %}class="active"{% endif %}>
          <a href="{{ profiles_url }}">
          <i class="icon-user"></i> 
          &nbsp;&nbsp;{% trans "Profile Settings" %}
          </a>
        </li>
  
        <li {% if request.get_full_path == password_change_url %}class="active"{% endif %}>
          <a href="{{ password_change_url }}" >
          <i class="{% if request.get_full_path != password_change_url %}icon-lock{% else %}icon-lock-open{% endif %}"></i> 
          &nbsp;&nbsp;{% trans "Change password" %}
          </a>
        </li>
  
        <li {% if request.get_full_path == children_url %}class="active"{% endif %}>
          <a href="{{ children_url }}">
            <i class="icon-group"></i>
            &nbsp;&nbsp;{% trans "Family settings" %}
          </a>
        </li>

        {% if user.finished_registration %}
        <li {% if request.get_full_path == activities_url %}class="active"{% endif %}>
          <a href="{{ activities_url }}">
            <i class="icon-calendar"></i>
            &nbsp;&nbsp;{% trans "My registered activities" %}
          </a>
        </li>
        {% if not user.paid %}
        <li {% if request.get_full_path == billing_url %}class="active"{% endif %}>
          <a href="{{ billing_url }}">
            <i class="icon-credit-card-1"></i>
            &nbsp;&nbsp;{% trans "Terms of payement" %}
          </a>
        </li>
        {% endif %}
        {% endif %}        
        
      </ul>
    </div>
    <div class="col-md-9 col-sm-8 col-print-12 layout-main">
      <div class="tab-content stacked-content">
        {% include "messages.html" %}
        {% block content %}{% endblock content %}
      </div><!-- end tab-content -->
    </div><!-- end layout-main -->
  </div><!-- end layout -->
</div>
{% endblock main-content %}





