{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Your children" %}{% endblock title %}
{% block page_title %}{% trans "About your children" %}{% endblock page_title %}

{% block extra_html %}ng-app="sportfacChildren" ng-controller="ListCtrl"{% endblock extra_html %}

{% block content %}
<div class="row">
  <div class="col-sm-4  col-sm-push-8" ng-show="userChildren.length !== 0" data-ng-animate="'fade'">
    <h4>{% trans "Edit my children data" %}</h4>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="child in userChildren" ng-class="{active: child.selected}">
        <a href="#/edit/{[{ child.id }]}" data-toggle="tab" ng-click="selectChild(child)">{[{ child.first_name }]} {[{ child.last_name }]}</a>
      </li>
    </ul>
    <br />
    <a href="#/new" class="btn" ng-show="selectedChild"><i class="icon-plus"></i> {% trans "Add child" %}</a>
  </div><!-- end span -->
  <div class="col-sm-8 col-sm-pull-4" ng-view></div>


</div><!-- end row -->
{% endblock content %}

{% block next_label %}{% trans "Register activities"%}{% endblock %}

{% block page_footer %}
{% if wizard_mode and not user.finished_registration %}
<div class="form-actions">
  <a class="btn" href="{{ previous_step.url }}"><i class="icon-chevron-left"></i> {% trans "Previous"%}</a>
  <div class="pull-right">
    <span ng-hide="userChildren.length > 0" class="btn btn-primary btn-large disabled" >{% trans "Register activities"%} <i class="icon-chevron-right icon-white"></i> </span>

    <a ng-show="userChildren.length > 0" class="btn btn-primary btn-large" href="{% url 'wizard_activities' %}">{% trans "Register activities"%} <i class="icon-chevron-right icon-white"></i> </a>
  </div>  
</div>
{% endif %}
{% endblock page_footer %}


{% block extra_js %}
{% if debug %}
<script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-route.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-strap.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/children/services.js"></script>
<script src="{{ STATIC_URL }}js/children/controllers.js"></script>
<script src="{{ STATIC_URL }}js/children/app.js"></script>
{% else %}
<script src="{{ STATIC_URL }}js/children/app.min.js"></script>
{% endif %}

<script>
$('#sandbox-container div').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    startDate: "01/01/2001",
    endDate: "31/12/2012",
    startView: 1
});


$('#sandbox-container div').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    startDate: "01/01/2001",
    endDate: "31/12/2012",
    startView: 1
});

{% endblock %}


