{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Your children" %}{% endblock title %}
{% block page_title %}{% trans "About your children" %}{% endblock page_title %}

{% block extra_html %}ng-app="sportfacChildren" ng-controller="ListCtrl"{% endblock extra_html %}

{% block content %}
<div class="row">
  <div class="col-sm-4  col-sm-push-8"  data-ng-animate="'fade'">
    <div ng-show="userChildren.length !== 0">
      <h4>{% trans "Edit my children data" %}</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="child in userChildren" ng-class="{active: child.selected}">
          <a href="#/edit/{[{ child.id }]}" data-toggle="tab" ng-click="selectChild(child)">{[{ child.first_name }]} {[{ child.last_name }]}</a>
        </li>
      </ul>
      <br />
      <a href="#/new" class="btn" ng-show="selectedChild"><i class="icon-plus"></i> {% trans "Add child" %}</a>
    </div>
  </div>
  <div class="col-sm-8 col-sm-pull-4" ng-view></div>
</div><!-- end row -->
{% endblock content %}

{% block next_label %}{% trans "Register activities"%}{% endblock %}

{% block page_footer %}
{% if wizard_mode and not user.finished_registration %}
<nav>
  <ul class="pager">
    <li class="previous">
      <a href="{{ previous_step.url }}"><span aria-hidden="true">&larr;</span> {% block previous_label %}{% trans "Previous"%}{% endblock %}</a>
    </li>
    <li class="next" ng-class="{disabled: userChildren.length === 0}">
      <a href="{{ next_step.url }}">{% trans "Register activities"%} <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock page_footer %}


{% block extra_js %}
{% if debug %}
<script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-route.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>

<script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.js"></script>
<script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.tpl.js"></script>

<script src="{{ STATIC_URL }}js/children/services.js"></script>
<script src="{{ STATIC_URL }}js/children/controllers.js"></script>
<script src="{{ STATIC_URL }}js/children/app.js"></script>
{% else %}
<script src="{{ STATIC_URL }}js/children/app.min.js"></script>
{% endif %}


{% endblock %}


