{% extends "wizard.html" %}
{% load i18n %}
{% load floppyforms %}
{% block title %}{% trans "My account" %}{% endblock title %}
{% block page_title %}{% trans "My account" %}{% endblock page_title %}


{% block content %}
<div class="container" ng-controller="ListCtrl">
  <div class="row">
    <div class="span12">
    {% form form using %}
    {% block formconfig %}{% formconfig row using "floppyforms/rows/bootstrap.html" %}{% endblock %}
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
      
    {% block errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-error">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ error }}
      </div><!--- .alert.alert-error -->
      {% endfor %}
      {% for error in form|hidden_field_errors %}
      <div class="alert alert-error">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ error }}
      </div><!--- .alert.alert-error -->
      {% endfor %}
    {% endblock errors %}

      
      <fieldset>
        <legend>{% trans "Login informations" %}</legend>
        {% formrow form.email %}
        <div class="control-group"><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></div>
      </fieldset>
      <fieldset>
        <legend>{% trans "Contact informations" %}</legend>
        {% formrow form.first_name %}
        {% formrow form.last_name %}
        {% formrow form.address %}
        <div class="control-group">
          <label class="control-label">{% trans "City" %} <span class="required">*</span></label>
          <div class="controls form-inline required ">
            <input type="text" name="zipcode" value="{{ form.zipcode.value }}" required="" placeholder="1296" id="id_zipcode" class="input-mini" maxlength="4">
            {% formfield form.city %}
          </div>
        </div>
        {% formrow form.private_phone %}
        {% formrow form.private_phone2 %}
        {% formrow form.private_phone3 %}
        
      </fieldset>
      
      <div class="form-actions">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary btn-large">{% trans "Save and continue" %} <i class="icon-chevron-right icon-white"></i></button>
        </div>
      </div>
    </form>
    {% endform %}

        
    </div>
  </div><!-- end row -->
</div> <!-- end container -->
{% endblock content %}
{% block page_footer %}{% endblock page_footer %}





