{% extends "wizard.html" %}
{% load i18n sekizai_tags switzerland %}


{% block page_title %}{% if bill.total > 0 %}{% translate "Billing" %}{% else %}{% translate "Registrations validated" %}{% endif %}{% endblock %}

{% block content %}
  {% include "registrations/wizard-complete.html" %}


<hr />
<h3>Inscriptions</h3>
<table class=" table table-striped">
  <thead>
    <tr>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Activity" %}</th>
      <th>{% translate "Period" %}</th>
      <th>{% translate "Time" %}</th>
      <th>{% translate "Place" %}</th>
      <th>{% translate "Price" %}</th>
{% endif %}
    </tr>
  </thead>

 <tfoot>
    <tr>
      <th colspan="5" style="text-align: right">{% translate "Total" %}</th>
      <th class="nowrap">{{ bill.total|money }}</th>
    </tr>
  </tfoot>

  <tbody>
  {% for registered in bill.registrations.all %}
    <tr>
      <td>
        <span class="nowrap">{{ registered.child.first_name }} {{ registered.child.last_name }}</span>
      </td>
      <td>{{ registered.course.activity.name }}
    </td>
      <td>
        <span class="nowrap">{{ registered.course.start_date }}</span> – <span class="nowrap">{{ registered.course.end_date }}</span>
      </td>
      <td>
        {{ registered.course.day_name }} / <span class="nowrap">{{ registered.course.start_time|time:"H:i" }} - {{ registered.course.end_time|time:"H:i" }}</span>
      </td>
      <td>{{ registered.course.place }}</td>
{% if not NO_PAYMENT %}
      <td class="nowrap">{{ registered.price|money }}</td>
{% endif %}
    </tr>
  {% endfor %}
  </tbody>

</table>
{% if bill.total > 0 %}
<p>Une facture vous parviendra la semaine du 18 au 22 décembre. La facture sera à régler jusqu’au 31 janvier 2017.</p>

<p>Les enfants inscrits aux Rochers-de-Naye pourront bénéficier de la gratuité des cours du SSF à condition d’acheter un abonnement saison <strong>jusqu’au 15 décembre</strong>.</p>
{% endif %}

<p>Un e-mail avec les horaires de train/car et des informations complémentaires vous parviendrons par e-mail avant la fin de l'année.</p>
  <p class="hidden-print text-center"><button class="btn btn-success btn-large print-button"><i class="icon icon-print"></i> {% translate "Print" %}</button></p>


{% addtoblock "js" %}
<script>
  $('.print-button').click(function(){window.print()});
</script>
{% endaddtoblock %}
{% endblock content %}​
