{% extends "backend/base.html" %}
{% load i18n %}
{% load humanize %} 


{% block title %}{% trans "Administration" %} - {{ block.super }}{% endblock %}

{% block page_header %}{% endblock %}
{% block page_title %}{% trans "Administration" %}{% endblock %}

{% block content %}

<div class="row">
<section class="col-md-12">
  <div class="portlet">
    <h4 class="portlet-title">
      <u><i class="icon-hourglass"></i>{% trans "Opening & closing" %}</u>
    </h4>
    {% widthratio minutes_spent minutes_total 100|add:"0" as percentage %}
    <div class="progress-stat">
      <div class="progress-stat-label">{% trans "Registrations open"%}</div>
      <div class="progress-stat-value">{% blocktrans with time=registration_end|timeuntil %}{{ time }} remaining{% endblocktrans %}</div>
      <div class="progress progress-sm">
        {% with pp=percentage|add:"0" %}
        <div class="progress-bar {% if pp < 50 %}progress-bar-success{% elif pp < 80 %}progress-bar-warning{% else %}progress-bar-danger{% endif %}" role="progressbar" 
             aria-valuenow="{{ minutes_spent }}" aria-valuemin="0" 
             aria-valuemax="{{ minutes_total }}" 
             style="width: {{ percentage }}%">
          <span class="sr-only">{% blocktrans with time=registration_start|timesince %}{{ time }} since opening of registrations{% endblocktrans %}</span>
        </div>
        {% endwith %}
      </div>
    </div>
    <div class="row">
      <dl class="dl-horizontal col-sm-6 col-lg-4">
        <dt>{% trans "Opening date"%}</dt><dd>{{ registration_start|date:"l j E Y, H:i" }}</dd>
        <dt>{% trans "Closing date"%}</dt><dd>{{ registration_end|date:"l j E Y, H:i" }}</dd>
      </dl>
      <p class="col-sm-6 col-lg-4">[ <a href="{% url 'backend:dates' %}">{% trans "Change dates"%}</a> ]</p>
    </div>
  </div>
</section>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    {% include 'backend/portlets/paid.html' %}
  </div>
  <div class="col-sm-6 col-md-6">
    {% include 'backend/portlets/registrations.html' %}
  </div>
</div>
{% endblock content %}