{% extends "backend/base.html" %}
{% load i18n humanize %}


{% block title %}{% trans "Administration" %} - {{ block.super }}{% endblock %}

{% block page_header %}
<div class="container">
  <div class="page-header">
    <h3 class="content-title"><u>{% trans "Administration" %} <small>- {% trans "consolidation phase" %}</small></u></h3>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-4 ">
    <section class="portlet">
      <h4 class="portlet-title">
        <u><i class="icon-hourglass"></i>{% trans "Opening & closing" %}</u>
      </h4>
      <div class="portlet-body">
        <p>{% blocktrans with natural_time=registration_end|naturaltime %}Closed since {{ natural_time }}{% endblocktrans %}</p>
        <dl class="dl-horizontal">
          <dt>{% trans "Opening date"%}</dt><dd>{{ registration_start|date:"l j E Y, H:i" }}</dd>
          <dt>{% trans "Closing date"%}</dt><dd>{{ registration_end|date:"l j E Y, H:i" }}</dd>
        </dl>
        <p class="text-center">[ <a href="{% url 'backend:dates' %}"><i class="icon-calendar"></i>&nbsp;{% trans "Change dates"%}</a> ]</p>
      </div>
    </section>
  </div>

  <div class="col-sm-12 col-md-8">
      {% include 'backend/portlets/registration_courses_phase3.html'%}
  </div>
  
 
{% if NO_PAYMENT %}
  <div >
    {% include 'backend/portlets/registrations_phase3.html' %}
  </div>
{% else %}
  <div class="col-sm-6 col-md-4">
    {% include 'backend/portlets/paid.html'%}
  </div>
  <div class="col-sm-6 col-md-8">
    {% include 'backend/portlets/registrations_phase3.html' %}
  </div>
{% endif %}

</div> <!-- end row -->

{% endblock content %}