{% extends "backend/base.html" %}
{% load i18n %}
{% load humanize %} 


{% block title %}{% trans "Administration" %} - {{ block.super }}{% endblock %}

{{% block page_header %}
<div class="container">
  <div class="page-header">
    <h3 class="content-title"><u>{% trans "Administration" %} <small>- {% trans "preparation phase" %}</small></u></h3>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <section class="col-sm-12 col-md-4">
    {% include 'backend/portlets/period.html.html'%}

  </section>
    
  <section class="col-sm-12 col-md-8">
    {% include 'backend/portlets/courses.html'%}
  </section>


  <section class="col-md-4">
    {% include 'backend/portlets/teachers.html'%}
  </section>
</div>

{% endblock content %}