{% extends "backend/base.html" %}
{% load i18n %}
{% load humanize %} 


{% block title %}{% trans "Administration" %} - {{ block.super }}{% endblock %}

{% block page_header %}{% endblock %}
{% block page_title %}{% trans "Administration" %}{% endblock %}

{% block content %}

<div class="row">
<section class="col-sm-6 col-md-4">
  <div class="portlet">
    <h4 class="portlet-title">
      <u><i class="icon-hourglass"></i>{% trans "Opening & closing" %}</u>
    </h4>
    {% blocktrans with natural_time=registration_start|naturaltime %}Opening in {{ natural_time }}{% endblocktrans %}
    <dl class="dl-horizontal">
      <dt>{% trans "Opening date"%}</dt><dd>{{ registration_start|date:"l j E Y, H:i" }}</dd>
      <dt>{% trans "Closing date"%}</dt><dd>{{ registration_end|date:"l j E Y, H:i" }}</dd>
    </dl>
    [ <a href="{% url 'backend:dates' %}">{% trans "Change dates"%}</a> ]

  </div>
</section>
</div>

<div class="row">
   <div class="col-sm-6 col-md-4">
    {% include 'backend/portlets/teachers.html'%}
  </div>
</div>

{% endblock content %}