{% extends "backend/base.html" %}
{% load i18n static %}

{% block extra_body %}{{ block.super }} class="pdf"{% endblock %}

{% block page_header %}

<div class="container pdf-heading">
  <div class="row">
    <div class="col-xs-3 visible-print page-logo">
      <img src="https://ltdp.kepchup.ch/static/img/logo.png" class=" logo">
      <p>Grand-Rue 46  <br />
        1814 La Tour-de-Peilz</p>
    </div>
  <div class="col-xs-9 page-header">
    {% block site_title %}<h5 class="visible-print">{{ site_name }}</h5>{% endblock %}

    <h1>{% block page_title %}Example Base Template{% endblock %}</h1>
    {% block subtitle %}


    {% endblock subtitle %}
  </div>

  </div>

</div>

{% endblock page_header %}
