{% load sekizai_tags %}

{% addtoblock  "js" %}    
<script src="{{ STATIC_URL }}js/vendor/select2/select2.js"></script>
{% if LANGUAGE_CODE == 'fr' %}
<script src="{{ STATIC_URL }}js/vendor/select2/select2_locale_fr.js"></script>
{% endif %}
<script>
$(document).ready(function(){
  function format(result, container, query, escapeMarkup){
    function highlight(text){
      var markup = [];
      window.Select2.util.markMatch(text, query.term, markup, escapeMarkup);
      return markup.join('');
    }
    var parts = result.text.split(':')
    if (parts.length > 1){
        var title = highlight(parts[0]);
        parts.shift();
        return title + ':<small>' + highlight(parts.join(':')) + '</small>'
    } else {
        return highlight(result.text);
    }
  }
  function format2(result){
    var parts = result.text.split(':')
    if (parts.length > 1){
        var title = parts[0];
        parts.shift();
        return title + ':<small>' + parts.join(':') + '</small>'
    } else {
        return result.text;
    }
  }
  $('#{{ attrs.id }}').select2({
    allowClear: false,
    formatResult: format,
    formatSelection: format2,
    escapeMarkup: function(m){ return m; }
  });
});
</script>
{% endaddtoblock %}

<select name="{{ name }}"{% if multiple %} multiple="multiple"{% endif %}{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>{% for group_name, group_choices in optgroups %}{% if group_name %}
	<optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
	<option value="{{ option.0 }}"{% if option.0 in value %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}{% if group_name %}
	</optgroup>{% endif %}{% endfor %}
</select>