{% extends "backend/base.html" %}
{% load i18n static %}

{% block extra_body %}{{ block.super }} pdf{% endblock %}

{% block page_header %}
<div class="container">
  <div class="row">
    <div class="col-md-2 visible-print">
      <img src="{% static 'img/logo.png' %}" class="img-responsive">
    </div>
  <div class="col-md-10 page-header">
    {% block site_title %}<h5 class="visible-print">{{ site_name }}</h5>{% endblock site_title %}

    <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>
    {% block subtitle %}


    {% endblock %}
  </div>

  </div>

</div>

{% endblock %}