{% extends "backend/base.html" %}
{% load i18n humanize %}


{% block title %}{% trans "Administration" %} - {{ block.super }}{% endblock %}

{% block page_header %}
  <div class="container">
    <div class="page-header">
      <h3 class="content-title"><u>{% trans "Administration" %} <small>- {% trans "consolidation phase" %}</small></u>
      </h3>
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-4 ">
      {% include 'backend/portlets/period.html' %}
    </div>

    <div class="col-md-8">
      {% include 'backend/portlets/registration_courses_phase3.html' %}
    </div>
  </div>

  <div class="row">
    {% if NO_PAYMENT %}
      <div class="col-xs-12">
        {% if registrations_period == 'daily' %}
          {% include 'backend/portlets/registrations_phase3.html' %}
        {% else %}
          {% include 'backend/portlets/monthly_registrations.html' %}
        {% endif %}
      </div>
    {% else %}
      <div class="col-sm-6 col-md-8">
        {% if registrations_period == 'daily' %}
          {% include 'backend/portlets/registrations_phase3.html' %}
        {% else %}
          {% include 'backend/portlets/monthly_registrations.html' %}
        {% endif %}
      </div>
      <div class="col-sm-6 col-md-4">
        {% include 'backend/portlets/paid.html' %}
      </div>
    {% endif %}
  </div>

  <div class="row">
    {% if DASHBOARD_SHOW_FAMILY_STATS %}
      <div class="col-md-6">
        {% include 'backend/portlets/families.html' %}
      </div>
    {% endif %}

    {% if DASHBOARD_SHOW_CHILDREN_STATS %}
      <div class="col-md-6">
        {% include 'backend/portlets/children.html' %}
      </div>
    {% endif %}
  </div>

{% endblock content %}
