{% extends "backend/base.html" %}
{% load humanize i18n %}


{% block title %}{% translate "Administration" %} - {{ block.super }}{% endblock %}

{{% block page_header %}
<div class="container">
  <div class="page-header">
    <h3 class="content-title"><u>{% translate "Administration" %} <small>- {% translate "preparation phase" %}</small></u></h3>
  </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="row">
  <section class="col-sm-12 col-md-4">
    {% include 'backend/portlets/period.html' %}

  </section>

  <section class="col-sm-12 col-md-8">
    {% include 'backend/portlets/courses.html' %}
  </section>


  <section class="col-md-4">
    {% include 'backend/portlets/teachers.html' %}
  </section>
</div>

<div class="row">
    {% if DASHBOARD_SHOW_FAMILY_STATS %}
      <div class="col-md-6">
        {% include 'backend/portlets/families.html' %}
      </div>
    {% endif %}

    {% if DASHBOARD_SHOW_CHILDREN_STATS %}
      <div class="col-md-6">
        {% include 'backend/portlets/children.html' %}
      </div>
    {% endif %}
  </div>

{% endblock content %}
