{% extends "backend/base.html" %}
{% load i18n crispy_forms_tags sekizai_tags %}

{% block title %}{% trans "Change opening and closing dates" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Change opening and closing dates" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
  {{ form.media.js }}
{% endaddtoblock %}

{% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">
  {% crispy form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-large">{% trans "Save" %}</button>
    </div>
  </div>
</form>
{% endblock content %}
