{% extends "backend/base.html" %}
{% load i18n crispy_forms_tags sekizai_tags %}

{% block title %}{% trans "Change opening and closing dates" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "Change opening and closing dates" %}{% endblock %}

{% block content %}

<form action="" method="post" class="form-horizontal">
  {% crispy form %}
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-large">{% trans "Save" %}</button>
      </div>
    </div>
</form>

  {% addtoblock "js" %}
  <script src="{{ STATIC_URL }}js/vendor/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('.datetimepickerinput').datetimepicker({
        language: '{{ LANGUAGE_CODE }}',
        icons: {time: 'icon-clock',
                date: 'icon-calendar',
                up: 'icon-up-open',
                down: 'icon-down-open'}
        });
  });
</script>
  {% endaddtoblock %}
{% endblock content %}
