{% extends "backend/base.html" %}
{% load i18n %}
{% load duration phone money%}

{% block title %}{{ course.activity.name }} - {{ block.super }}{% endblock %}
{% block page_title %}{{ course.activity.name }} - {% blocktrans with identifier=course.number %}course #{{ identifier }}{% endblocktrans %}{% endblock %}

{% block content %}
<section class="portlet">
  <div class="pricing-plan">
    <header class="pricing-header">
      <p class="pricing-plan-label">{{ course.start_date | date:"j F Y" }} – {{ course.end_date | date:'j F Y'  }}</p>
      <p class="lead">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }} à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
    </header>
    <dl class="dl-horizontal">
      <dt>{% trans "Activity number" %}</dt><dd><a href="{% url 'backend:activity-detail' pk=course.activity.pk %}">{{ course.activity.number }}</a></dd>  
      <dt>{% trans "Responsible" %}</dt>
      <dd><a href="{{ course.responsible.get_backend_url }}">{{ course.responsible.full_name  }}</a></dd>
      <dt>{% trans "Place" %}</dt><dd>{{ course.place  }}</dd>
      <dt>{% trans "Number of sessions" %}</dt><dd>{{ course.number_of_sessions }} cours</dd>
      <dt>{% trans "Price" %}</dt><dd>{{ course.price|swissfranc }}</dd>
      <dt>{% trans "School years" %}</dt>
      <dd>{% for year in course.school_years %}{{year}}P{% if not forloop.last %} - {% endif %} {% endfor %}</dd>
    </dl>
    <p class="text-center"><a href="{{ course.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a> </p>
      
    <h4 class="content-title"><u>{% trans "Availability"%}</u></h4>      
    <p>{{ course.count_participants  }} participants <span class="pull-right strong"> {{ course.max_participants }} places</span></p>
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar {% if course.full %}progress-bar-danger{% elif course.minimal_participants_reached %}progress-bar-success{% else %}progress-bar-warning{% endif %}" style="width: {{ course.percentage_full }}%">{% if course.full %}{% trans "Course full" %}{% elif course.minimal_participants_reached %}{% trans "Minimal number of participants reached" %}{% else %}{% trans "Not enough participants" %}{% endif %}</div>
    </div>
    <p class="text-right"><small>{{ course.min_participants }} participants requis pour que l'activité ait lieu</small></p>
  </div>
</section>


<section>
  <h2>{% trans "Registrations" %}</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Birth date" %}</th>
        <th>{% trans "School year" %}</th>
        <th>{% trans "Parents phone" %}</th>
        <th>{% trans "Parents email" %}</th>
        <th>{% trans "Actions" %}</th>

      </tr>
    {% for registration in course.participants.all %}
      <tr>
        <td>{{ registration.child.first_name|title }}</td>
        <td>{{ registration.child.last_name|title }}</td>
        <td>{{ registration.child.birth_date }}</td>
        <td>{{ registration.child.school_year }}</td>
        <td>
          <ul>
            {% if registration.child.family.private_phone %}
            <li>
              <a href="{{ registration.child.family.private_phone|swissphone:'RFC3966' }}">
                {{ registration.child.family.private_phone|swissphone }}
              </a>
            </li>
            {% endif %}
            {% if registration.child.family.private_phone2 %}
            <li>
              <a href="{{ registration.child.family.private_phone2|swissphone:'RFC3966' }}">
                {{ registration.child.family.private_phone2|swissphone }}
              </a>
            </li>
            {% endif %}
            {% if registration.child.family.private_phone3 %}
            <li>
              <a href="{{ registration.child.family.private_phone3|swissphone:'RFC3966' }}">
                {{ registration.child.family.private_phone3|swissphone }}
              </a>
            </li>
            {% endif %}
        </td>
        <td>{{ registration.child.family.email  }}</td>
        <td>
          <ul class="list-unstyled">
            <li class="text-nowrap"><a href="{% url 'backend:registration-update' pk=registration.pk %}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update registration" %}</a></li>
            <li class="text-nowrap"><a href="{% url 'backend:registration-delete' pk=registration.pk %}" class="btn btn-sm"><i class="icon-cancel"></i>&nbsp;{% trans "Cancel registration" %}</a></li>
          </ul>
        </td>

      </tr>
    {% empty %}
    
    {% endfor %}
  </table>
  <a href="{{ course.get_custom_mail_url }}" class="btn btn-default"><i class="icon-mail"></i>&nbsp;{% trans "Mail all participants" %}</a> &nbsp;   <a href="{{ course.get_mail_responsible_url }}" class="btn btn-default"><i class="icon-tasks"></i>&nbsp;{% trans "Send infos to responsible" %}</a> &nbsp;   <a href="{{ course.get_js_export_url }}" class="btn btn-default"><i class="icon-doc"></i>&nbsp;{% trans "Get BDNS: J+S export file" %}</a>
  

</section>   
{% endblock content %}