{% extends "wizard/base.html" %}
{% load countdowntimer crispy_forms_tags i18n sekizai_tags switzerland %}


{% block wizard_content %}

<p>Les inscriptions seront définitivement validées à la suite du règlement de la finance de participation pour les cours choisis.</p>
<p>Le montant total pour vos inscriptions s'élève à : <strong>{{ bill.total|money }}</strong></p>


{% if PAYMENT_METHOD == 'iban' %}
<p>L'identifiant pour votre transaction est le suivant : <strong>{{ bill.billing_identifier }}</strong></p>
<p>Nous vous remercions de verser cette somme d’ici au  <strong>{{ delay|date:"j F Y" }}</strong> en privilégiant le virement bancaire sur le compte : </p>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Montant</dt><dd>{{ bill.total|money }}</dd>
    <dt>Identifiant</dt><dd>{{ bill.billing_identifier }}</dd>
    <dt>IBAN</dt><dd>{{ iban }}</dd>
    <dt>Adresse</dt><dd>{{ address|linebreaksbr }}</dd>
  </dl>
</div>
<p>en indiquant, sous communications ou motif, votre identifiant de transaction.</p>
{% elif PAYMENT_METHOD == 'datatrans' %}
  <p>Le paiement peut se faire via Twint (débit direct) ou Mastercard et Visa (cartes de crédit).</p>
  {% if REGISTRATION_EXPIRE_MINUTES %}
    <div class="alert alert-warning">
       <h4 class="alert-heading"><i class="icon icon-warning"></i> {% translate "Important notice" %}</h4>
    {% with formatted_date=bill.registrations_valid_to|date:"j F Y, H:i" %}
      {% blocktranslate with minutes=REGISTRATION_EXPIRE_MINUTES|human_readable_time validity=formatted_date %}
      Your registrations are reserved for the next {{ minutes }}. If payment is not received before <strong>{{ validity }}</strong>, your
      registrations will be cancelled and your place will be made available again.{% endblocktranslate %}
    {% endwith %}
    </div>
  {% endif %}
  {% include 'payments/datatrans_pay_button.html' %}
{% elif PAYMENT_METHOD == 'postfinance' %}
  {% if REGISTRATION_EXPIRE_MINUTES %}
   <div class="alert alert-warning">
       <h4 class="alert-heading"><i class="icon icon-warning"></i> {% translate "Important notice" %}</h4>

      {% with formatted_date=bill.registrations_valid_to|date:"j F Y, H:i"|lower %}
      {% blocktranslate with minutes=REGISTRATION_EXPIRE_MINUTES|human_readable_time validity=formatted_date %}
      Your registrations are reserved for the next {{ minutes }}. If payment is not received before <strong>{{ validity }}</strong>, your
      registrations will be cancelled and your place will be made available again.{% endblocktranslate %}
    {% endwith %}
   </div>
  {% endif %}
  {% include 'payments/postfinance_pay_button.html' %}
{% elif PAYMENT_METHOD == 'external' %}
  <p>La facture vous sera envoyée par courrier.</p>
{% endif %}

 {% include "registrations/invoice-part-registrations.html" %}

  {% if PAYMENT_METHOD == 'iban' or PAYMENT_METHOD == 'external' %}
<p class="text-center hidden-print" style="margin-bottom: 2em;">
      <a href="{% url 'wizard:entry_point' %}" class="btn btn-large btn-primary"><i
          class="icon-calendar"></i> {% translate "Register new activities" %}</a>
    </p>{% endif %}

{% endblock wizard_content %}
