{% load i18n sekizai_tags %}
{% addtoblock "css" %}
<style>
.datepicker.dropdown-menu {
  height: auto;
}
.datepicker table tr td, .datepicker table tr th {
  width: auto!important;
  height: auto!important;
}
.datepicker table tr td span {
  height: auto!important;
  line-height:13px!important;
}

</style>

{% endaddtoblock %}

{% addtoblock "extra_html" %}
ng-app="sportfacChildren"
ng-controller="ListCtrl"
prefill="{{ PREFILL_YEARS_WITH_TEACHERS|yesno:'true,false'}}"
buildings="{{ USE_BUILDINGS|yesno:'true,false'}}"
external="{{ IMPORT_CHILDREN|yesno:'true,false'}}"
schools="{{ schools }}"
buildingServiceUrl="{% url 'api:building-list' %}"
childServiceUrl="{% url 'api:child-list' %}"
teacherServiceUrl="{% url 'api:teacher-list' %}"
yearServiceUrl="{% url 'api:year-list' %}"
{% endaddtoblock %}
<div class="row" style="border: 1px solid #eee; display: flex">
  <div class="col-sm-4  col-sm-push-8" data-ng-animate="fade" style="padding-top: 1em;  background-color: #fcfcfc; ">
    <div ng-show="userChildren.length !== 0">
      {% if CHILDREN_EDITABLE %}
      <h4>{% trans "Edit my children data" %}</h4>
      {% else %}
      <h4>{% trans "Your children" %}</h4>
      {% endif %}
      <a href="#/new" class="btn btn-success" style="font-size: inherit; width: 100%; margin-bottom: .5em;"
         ng-show="selectedChild"><i class="icon-plus"></i> {% trans "Add child" %}</a>
      <hr />
      <ul class="nav nav-pills nav-stacked children-list">

        <li ng-repeat="child in userChildren" ng-class="{active: child.selected}">
          <a href="#/edit/{[{ child.id }]}" data-toggle="tab" ng-click="selectChild(child)">
            {[{ child.first_name }]} {[{ child.last_name }]}
            <span class="badge badge-warning" ng-show="child.status == 'imported'"><i class="icon-warning"></i></span>
          </a>
        </li>
      </ul>
      <br />
    </div>
  </div>
  <div class="col-sm-8 col-sm-pull-4" style="border-right: 1px solid #eee; padding-top: 1em; padding-bottom: 1em" ng-view></div>
</div><!-- end row -->



<script type="text/ng-template" id="add-child.html">
   {% include 'registrations/child-create-form.html' %}
</script>
<script type="text/ng-template" id="child-detail.html">
   {% include 'registrations/child-edit-form.html' %}
</script>


{% addtoblock "js" %}
{% if debug %}
  {% now "U" as timestamp %}
  <script src="{{ STATIC_URL }}js/vendor/angular.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-locale_fr-ch.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-route.min.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angular-cookies.min.js"></script>

  <script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/angularstrap/angular-strap.tpl.js"></script>

  <script src="{{ STATIC_URL }}js/children/services.js?id={{ timestamp }}"></script>
  <script src="{{ STATIC_URL }}js/children/controllers.js?id={{ timestamp }}"></script>
  <script src="{{ STATIC_URL }}js/children/app.js?id={{ timestamp }}"></script>
{% else %}
  {% comment %}
  uglifyjs ../vendor/angular.min.js ../vendor/angular-locale_fr-ch.js ../vendor/angular-route.min.js ../vendor/angular-cookies.min.js ../vendor/angularstrap/angular-strap.min.js ../vendor/angularstrap/angular-strap.tpl.min.js services.js controllers.js app.js -o app.min.js
  {% endcomment %}
  <script src="{{ STATIC_URL }}js/children/app.min.js?{{ VERSION }}"></script>
{% endif %}

{% endaddtoblock %}
