{% extends "backend/base.html" %}
{% load floppyforms i18n sekizai_tags %}

{% block title %}{% translate "Change payment status" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-credit-card-1"></i>&nbsp;&nbsp;{% translate "Change payment status" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/vendor/bootstrap-switch.min.js"></script>
<script>
  $("input[type='checkbox']").bootstrapSwitch({
      onColor: 'success',
      offColor: 'danger',
      onText: '{% translate "Yes" %}',
      offText: '{% translate "No" %}'
  });
</script>

{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="parent_name">{% translate "User" %}</label>
    <p class="col-sm-10 form-control-static" id="parent_name">{{ object.full_name }}</p>
  </div>
{{ form.errors }}

  {% form form using %}
  {% formconfig row using "floppyforms/rows/bootstrap.html" %}

  {% formrow form.finished_registration %}

  {% formrow form.paid %}
  {% endform %}

  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-primary ">{% translate 'Update status' %}</button>
      &nbsp;
      <a href="{% url 'backend:user-list' %}" class="btn  btn-default">{% translate 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}
