{% extends "wizard.html" %}
{% load i18n l10n humanize switzerland  duration sekizai_tags %}


{% block title %}{% if ALTERNATIVE_CONFIRM_LABEL %}{{ ALTERNATIVE_CONFIRM_LABEL }}{% else %}{% trans "Confirmation" %}{% endif %} - {{ block.super }}{% endblock %}
{% block page_title %}
  {% if ALTERNATIVE_CONFIRM_LABEL %}
    {{ ALTERNATIVE_CONFIRM_LABEL }}
  {% else %}
    {% trans "Confirmation" %}
  {% endif %}
{% endblock page_title %}

{% block extra_css %}
  <style>
    .dl-horizontal.extras {
      margin-top: 20px;
    }
    .dl-horizontal.extras dt {
      width: 60%;
      margin-right: 30px;
    }

  </style>

{% endblock %}

{% block content %}
  {% if REGISTRATION_EXPIRE_MINUTES %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
      </button>
    <p><strong><i class="icon-exclamation"></i></strong>
      {% if REGISTRATION_EXPIRE_MINUTES == 60 %}
        {% blocktrans %}The following registrations are reserved for the next hour.{% endblocktrans %}
        {% else %}
         {% blocktrans with REGISTRATION_EXPIRE_MINUTES|minutes_duration as duration %}
      The following registrations are reserved for the next {{ duration}}.
      {% endblocktrans %}
      {% endif %}
     </p>
  </div>
  {% endif %}
  {% if overlaps %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
      </button>
      <strong><i class="icon-warning"></i>&nbsp;{% trans "Warning!" %}</strong>
      <p>
        {% if user.children.count > 1 %}
          {% trans "The following courses occur at the same or close times. It may be difficult to bring your children." %}
        {% else %}
          {% trans "The following courses occur at the same or close times. It may be difficult to bring your child." %}
        {% endif %}
      <ul>
        {% for overlap in overlaps %}
          <li>
            <span class="highlight"
                  rel="{{ overlap.0.id }}">{{ overlap.0.child.first_name }} - {{ overlap.0.course.activity.name }}</span>
            /
            <span class="highlight"
                  rel="{{ overlap.1.id }}">{{ overlap.1.child.first_name }} - {{ overlap.1.course.activity.name }}</span>
          </li>
        {% endfor %}
      </ul>
      </p>
    </div>
  {% endif %}

  <table class=" table table-hover ">
    <thead>
    <tr>
      <th class="text-center">{% trans "Name" %}</th>
      <th class="text-center">{% trans "Activity" %}</th>
      <th class="text-center">{% trans "Period" %}</th>
      <th class="text-center">{% trans "Time" %}</th>
      <th class="text-center">{% trans "Place" %}</th>
      {% if not NO_PAYMENT %}
        <th class="text-center">{% trans "Price" %}</th>
      {% endif %}
    </tr>
    </thead>

    {% if not NO_PAYMENT %}
      <tfoot>
      <tr>
        <th colspan="5" class="text-right">{% trans "Total" %}</th>
        <th class="nowrap text-right" id="total-price">{{ total_price|money_html }}</th>
      </tr>
      </tfoot>
    {% endif %}

    <tbody>
    {% for registered in registered_list %}
      <tr id="{{ registered.id }}" {% if registered.id in overlapped %}class="warning"{% endif %}>
        <td rowspan="2">
          <span class="nowrap">{{ registered.child.full_name }}</span>
        </td>
        <td>
          <p>{{ registered.course.activity.name }}</p>
        </td>
        <td class="text-center">
          <span class="nowrap">{{ registered.course.start_date }}</span><br><span class="icon-down-1"
                                                                                  aria-hidden="true"></span><br><span
            class="nowrap">{{ registered.course.end_date }}</span>
        </td>
        <td class="text-center">
          {{ registered.course.day_name }} <br/> <span
            class="nowrap">{{ registered.course.start_time|time:"H:i" }} - {{ registered.course.end_time|time:"H:i" }}</span>
        </td>
        <td>{{ registered.course.place }}</td>

        {% if not NO_PAYMENT %}
          <td class="nowrap text-right invoice-item" data-value="{{ registered.price }}" rowspan="2">
            {% with price_category=registered.get_price_category %}
            {{ price_category.0|money }}
            {% if price_category.1 %}<br>
            <small>{{ price_category.1 }}</small>
            {% endif %}
            {% endwith %}
          </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan="{{ NO_PAYMENT|yesno:"4,5" }}">
          {% if registered.extra_needs %}
            <form class="extra-info form-horizontal" method="post" enctype="multipart/form-data"
                  data-toggle="validator" role="form" id="extraform-{{ extra.id }}">{% csrf_token %}
              <div class="alert alert-danger form-error" style="display: none">
                <i class="icon-warning icon-large"></i> {% trans "Please submit this form." %}
              </div>
              <input type="hidden" name="registration" value="{{ registered.id }}"/>
              {% for extra in registered.extra_needs %}
                {% include "registrations/extra_inline_form.html" with extra=extra %}
              {% endfor %}
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                </div>
              </div>
            </form>
          {% else %}
            <dl class="dl-horizontal extras">
              {% for extra in registered.extra_infos.all %}
                <dt>{{ extra.key.question_label }}</dt>
                <dd>
                  {% if extra.key.is_boolean %}
                    <span class="label {{ extra.is_true|yesno:"label-success,label-error" }}">
                      <i class="icon-{{ extra.is_true|yesno:'ok,cancel' }}"></i>
                    </span>
                  {% elif extra.key.is_image %}
                    <span class="label {{ extra.is_true|yesno:"label-success,label-error" }}">
                      <i class="icon-{{ extra.is_true|yesno:'ok,cancel' }}"></i>
                    </span>
                    {% if extra.is_true and extra.image %}
                    <span style="display: inline-block; margin-left: 1em">
                      <a href="{{ extra.image.url }}"  target="_blank">{% trans "image" %}</a>
                    </span>
                    {% endif %}
                  {% else %}
                    {{ extra.value }}
                  {% endif %}
                  {% if extra.key.price_modifier %}
                    <span class="pull-right invoice-item"
                          data-value="{{ extra.price_modifier }}">{{ extra.price_modifier|money_sign }}</span>
                  {% endif %}
                </dd>
              {% endfor %}
            </dl>
          {% endif %}
          <p class="alert alert-info hide" role="alert">
            <i class="icon-refresh icon-spin"></i> {% trans "Sending info..." %}
          </p>
          <div class="alert alert-success hide" role="alert">
            <i class="icon-ok"></i> {% trans "Extra infos saved" %}
            <dl class="dl-horizontal extras">
              {% for extra in registered.extra_needs %}
                <dt>{{ extra.question_label }}</dt>
                <dd class="value-{{ extra.id }}">
                  <span class="extra-value"></span>
                {% if extra.price_modifier %}
                  <span class="pull-right invoice-item" data-value="0"></span>
                {% endif %}
                </dd>

              {% endfor %}
            </dl>
          </div>
          <p class="alert alert-cancel hide" role="alert">
            <i class="icon-cross"></i> {% trans "An error has occurred. Please contact us." %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
{% endblock content %}



{% block page_footer %}
  <hr/>
  <form class="form form-inline" id="accept" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.accept.errors }}
    <div class="text-right has-error">
      {% if not NO_TERMS %}
        <div class="hidden">
          <input type="checkbox" name="{{ form.accept.name }}" checked="checked"/>
        </div>
      {% else %}
        <div class="checkbox text-right error" style="display: block;">
          <label>
            <input type="checkbox" name="{{ form.accept.name }}"/> {{ form.accept.label }}
          </label>
        </div>
      {% endif %}
      <small><i
          class="icon-warning"></i>{% trans "Confirmation is definitive. You will not be able to change your registrations again." %}
      </small>
    </div>

    <nav>
      <ul class="pager">
        <li class="previous">
          <a href="{{ previous_step.url }}"><span aria-hidden="true">&larr;</span> {% trans "Previous" %}</a>
        </li>
        <li class="next">
          <button type="submit" class="btn btn-primary btn-large btn-next pull-right">
            {% if NO_PAYMENT %}{% trans "Confirm" %}{% else %}{% trans "Next" %}{% endif %}
          </button>
        </li>
      </ul>

    </nav>

  </form>
{% endblock page_footer %}

{% addtoblock "js" %}
  <script>
    $(document).ready(function () {

      $('.btn-next').click(function (event) {
        if ($('form.extra-info').is(':visible')) {
          $('.form-error').show();
          $('form.extra-info:visible .form-control').first().focus()
          event.preventDefault();
        }
      });

      $('.highlight').hover(function () {
        $('#' + $(this).attr('rel')).toggleClass('warning');
      });
      $('#accept button').prop('disabled', !$('#accept input[type=checkbox]').prop('checked'));
      $('#accept input:checkbox').click(function () {
        $(this).parents('.has-error').removeClass('has-error');
        $('#accept button').prop('disabled', !$('#accept button').prop('disabled'));
      });
    });
  </script>
{% endaddtoblock %}
