{% extends "wizard.html" %}
{% load i18n sekizai_tags switzerland %}

{% block title %}{% if bill.total > 0 and not NO_PAYMENT %}
  {% if ALTERNATIVE_BILLING_LABEL %}{{ ALTERNATIVE_BILLING_LABEL }}{% else %}{% translate "Billing" %}{% endif %}
  {% else %}{% translate "Registrations validated" %}
{% endif %}
  - {{ block.super }}
{% endblock title %}

{% block page_title %}
  {% if bill.total > 0 and not NO_PAYMENT %}
    {% if ALTERNATIVE_BILLING_LABEL %}{{ ALTERNATIVE_BILLING_LABEL }}{% else %}{% translate "Billing" %}{% endif %}
    {% else %}{% translate "Registrations validated" %}
  {% endif %}
{% endblock page_title %}

{% block content %}
  {% if bill.total > 0 and not NO_PAYMENT %}
    {% include "registrations/billing_partial.html" %}
  {% else %}
    {% include "registrations/wizard-complete.html" %}
  {% endif %}

  <hr/>
 {% include "registrations/invoice-recap.html" %}

{% endblock content %}
