{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{% translate "Delete building" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "Please confirm deletion" %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>{% blocktranslate %}Are you sure you want to delete "{{ object }}"?{% endblocktranslate %}</p>
  <div class="form-group">
    <button type="submit" class="btn btn-danger"><i class="icon icon-trash"></i>&nbsp;{% translate 'Delete building' %}</button>
  </div>
</form>

{% endblock content %}
