{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Create a new building" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-location"></i>&nbsp;&nbsp;{% trans "Create a new building" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% include "backend/building/form.html" %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large"><i class="icon-plus"></i>&nbsp;{% trans 'Create building' %}</button>
    </div>
  </div>
</form>

{% endblock content %}
