{% extends "backend/base.html" %}
{% load i18n %}

{% block title %}{{ building.name }} - {{ block.super }}{% endblock %}

{% block page_title %}{{ building.name }}{% endblock %}

{% block content %}
<section class="portlet">
  <h4 class="portlet-title"><u>{% translate "Address" %}</u></h4>
  <address>
    {{ building.name }}
    {{ building.address }}<br/>
    {% if building.country %}{{ building.country }}-{% endif %}{{ building.zipcode }} {{ building.city }}
  </address>
  <p class="text-center"><a href="{{ building.get_update_url }}" class="btn btn-default"><i class="icon-edit"></i>&nbsp;{% translate "Edit" %}</a> </p>

</section>
<section class="portlet">
  <h4 class="portlet-title"><u>{% translate "Teachers working there" %}</u></h4>
  <ul>
    {% for teacher in building.teachers.all %}
    <li>
      <a href="{{ teacher.get_backend_url }}">{{ teacher.get_full_name }}</a>
    </li>
    {% empty %}
    <li>
      {% translate "No teacher imported yet." %}
      <a href="{% url 'backend:teacher-import' %}" class="btn btn-default">
        <i class="icon-doc-new"></i>&nbsp;&nbsp;{% translate "Import teachers" %}
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock content %}
