{% extends "backend/base.html" %}
{% load i18n sekizai_tags %}

{% block title %}{% trans "View building" %} - {{ block.super }}{% endblock %}
{% block page_title %}{% trans "List building" %}{% endblock %}

{% get_current_language as LANGUAGE_CODE %}



{% block content %}

{% addtoblock  "js" %}
<script src="{{ STATIC_URL }}js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/datatables/dataTables.bootstrap.js"></script>
<script>
$(function () {
  $(".table").dataTable({
{% if LANGUAGE_CODE == 'fr' %}
      "language": {
            "url": "{{ STATIC_URL }}js/vendor/datatables/French.json"
      },
{% endif %}
      "aoColumnDefs": [
          { 'bSortable': false, 'bSearchable': false, 'aTargets': [ 2 ] }
      ]
  });
});
</script>
{% endaddtoblock %}

<a href="{% url 'backend:building-create' %}" class="btn btn-success"><i class="icon-plus"></i> {% trans "New building" %}</a>
<hr>
<table class="table">
  <thead>
    <tr>
      <th class="text-nowrap">{% trans "Name" %}</th>
      <th class="text-nowrap">{% trans "City" %}</th>
      <th class="text-nowrap">{% trans "Teachers" %}</th>
      <th class="text-nowrap">{% trans "Actions" %}</th>
    </tr>
  </thead>
  {% for building in object_list %}
    <tr>
      <td>{{ building.name }}</td>
      <td>{{ building.city }}</td>
      <td data-order="{{ building.teachers.count }}">
        <a href="{{ building.get_backend_url }}">{{ building.teachers.count }}</a>
      </td>
      <td>
        <ul class="list-unstyled">
          <li class="text-nowrap"><a href="{{ building.get_backend_url }}" class="btn btn-sm"><i class="icon-check"></i>&nbsp;{% trans "Check teachers" %}</a></li>
          <li class="text-nowrap"><a href="{{ building.get_update_url }}" class="btn btn-sm"><i class="icon-edit"></i>&nbsp;{% trans "Update building" %}</a></li>
          <li class="text-nowrap"><a href="{{ building.get_delete_url }}" class="btn btn-sm"><i class="icon-trash"></i>&nbsp;{% trans "Delete building" %}</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
