{% extends "base.html" %}
{% load duration floppyforms i18n sekizai_tags switzerland %}

{% block title %}{{ course.activity.name }} - {% translate "Absences" %} - {{ block.super }}{% endblock %}

{% block page_title %}{{ course.activity.name }} - {% blocktranslate with identifier=course.number %}course #{{ identifier }} - Absences{% endblocktranslate %}{% endblock %}

{% block content %}

<section class="portlet hidden-print">
  <div class="pricing-plan hidden-print">
    <header class="pricing-header hidden-print">
      <p class="pricing-plan-label">{{ course.start_date|date:"j F Y" }} – {{ course.end_date|date:'j F Y' }}</p>
      <p class="lead">Chaque {{ course.day_name|lower }} de {{ course.start_time|time:"H:i" }} à {{ course.end_time|time:"H:i" }} ({{ course.duration|duration }})</p>
    </header>
    <dl class="dl-horizontal hidden-print">
      <dt>{% translate "Instructors" %}</dt>
      <dd>
        <ul class="list-horizontal">
          {% for instructor in course.instructors.all %}
            <li>
              <a href="{{ instructor.get_backend_url }}">{{ instructor.full_name }}</a>
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% translate "Place" %}</dt><dd>{{ course.place }}</dd>
      <dt>{% translate "Number of sessions" %}</dt><dd>{{ course.number_of_sessions }} cours</dd>
      <dt>{% translate "Price" %}</dt><dd>{{ course.price|money }}</dd>
      {% if LIMIT_BY_SCHOOL_YEAR %}
          <dt>{% translate "School years" %}</dt>
          <dd>{% for year in course.school_years_label %}{{ year }}{% if not forloop.last %} -
          {% endif %} {% endfor %}
          </dd>
        {% else %}
          <dt>{% translate "Ages" %}</dt>
          <dd>{{ course.get_age_min_display }} - {{ course.get_age_max_display }}</dd>
        {% endif %}

         </dl>
    <h4 class="content-title"><u>{% translate "Management" %}</u></h4>
    <a href="{{ course.get_custom_mail_instructors_url }}?new=1" class="btn btn-default hidden-print"><i class="icon-mail"></i>&nbsp;{% translate "Mail all participants" %}</a> &nbsp;
    <a href="{{ course.get_absolute_url }}" class="btn btn-default hidden-print"><i class="icon-check"></i>&nbsp;{% translate "Check registrations" %}</a>
  </div>
</section>
{% if not EXPLICIT_SESSION_DATES %}
<div class="hidden-print">
  <form method="POST" class="form-inline">{% csrf_token %}
    {% form session_form using "floppyforms/layouts/bootstrap-inline.html" %}
    <button type="submit" class="btn btn-secondary">{% translate "New session" %}</button>
  </form>
  <hr>
</div>
{% endif %}
{% include 'absences/absences-table.html' %}
{% if courses_list.count > 1 %}
<div class="form-group">
  <label for="select-course">{% translate "Manage absences for" %}:</label>
  <select class="form-control" id="select-course">
    {% for c in courses_list %}
      <option{% if course == c %} selected{% endif %} value="{{ c.get_absences_url }}">{{ c.short_name }}</option>
    {% endfor %}
  </select>
</div>

{% addtoblock "js" %}
<script>
  $(function(){
    $('#select-course').on('change', function(){
      window.location.href = this.value;
    });
  });
</script>
{% endaddtoblock %}
{% endif %}
{% endblock content %}
