<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">©
  <span itemprop="name">Ville de La Tour-de-Peilz</span>,
  <span itemprop="description">Sport &amp; Jeunesse</span><br />
  <span itemprop="streetAddress">Grand-Rue 46</span>,
  <span itemprop="postalCode">1814</span> <span itemprop="addressLocality">La Tour-de-Peilz</span> <br>
  Tél: <a href="tel:+41219770230" itemprop="telephone">021 977 02 30</a> - <a href="mailto:sj@la-tour-de-peilz.ch" itemprop="email">sj@la-tour-de-peilz.ch</a>
</address>
