{% load i18n crispy_forms_tags %}

{% crispy form %}
{% comment %}
{% form form using %}
  {% block formconfig %}{% formconfig row using "floppyforms/rows/bootstrap.html" %}{% endblock %}

  {% block errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        <i class="icon-exclamation" aria-hidden="true"></i>&nbsp;&nbsp;{{ error }}
      </div><!--- .alert.alert-error -->
    {% endfor %}
    {% for error in form|hidden_field_errors %}
      <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
        <i class="icon-exclamation" aria-hidden="true"></i>{{ error }}
      </div><!--- .alert.alert-error -->
    {% endfor %}
  {% endblock errors %}
  {% formconfig row using "floppyforms/rows/bootstrap-horizontal-3-9.html" %}

  <fieldset>
    {% if object.is_instructor %}
      <legend>{% trans "Contact informations" %}</legend>
    {% endif %}

    {% formrow form.first_name %}
    {% formrow form.last_name %}
    {% formrow form.email %}
    {% formrow form.address %}
    <div class="form-group">
      <label class="control-label col-sm-3">{% trans "City" %} <span class="required">*</span></label>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-2">
            {% formfield form.zipcode using "floppyforms/100percentinput.html" %}
          </div>
          <div class="col-sm-10">
            {% formfield form.city using "floppyforms/100percentinput.html" %}
          </div>
        </div>
      </div>
    </div>
    {% formrow form.country %}

    {% formrow form.private_phone %}
    {% formrow form.private_phone2 %}
    {% formrow form.private_phone3 %}
  </fieldset>
  {% if object.is_instructor %}
    <fieldset>
      <legend>{% trans "Instructor informations" %}</legend>
      {% if INSTRUCTORS_DISPLAY_EXTERNAL_ID %}
        {% formrow form.external_identifier %}
      {% endif %}
      {% formrow form.gender form.birth_date form.nationality form.permit_type %}
      {% formrow form.ahv form.iban form.bank_name %}
      {% formrow form.js_identifier %}
      {% formrow form.is_mep form.is_teacher %}
    </fieldset>
  {% endif %}

{% endform %}

{% endcomment %}



