{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% translate "Inscription" %}{% endblock %}

{% block page_title %}{% translate "Inscription" %}
  <small>- responsable légal</small>{% endblock page_title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    {% crispy form %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-large">{% translate "Save" %}</button>
      </div>
    </div>
  </form>

{% endblock content %}

{% block page_footer %}{% endblock %}

{% block extra_js %}
  <script>
    jQuery(document).ready(function ($) {
      $('form a.new-mail').on('click', function (evt) {
        evt.stopPropagation();
        $email = $('#id_email');
        $email.val('');
        $email.parents('.has-error').removeClass('has-error');
        $email.siblings('.help-inline').hide();
        $email.focus();
      })
    });
    $('#id_username').focus();
  </script>
{% endblock extra_js %}
