{% extends "wizard.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Inscription" %}{% endblock title %}
{% block page_title %}{% trans "Inscription" %}
  <small>- responsable légal</small>{% endblock page_title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    {% crispy form %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-large">{% trans "Save and continue" %} <i
            class="icon-chevron-right icon-white"></i></button>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_footer %}{% endblock page_footer %}

{% block extra_js %}
  <script>
    jQuery(document).ready(function ($) {
      $('form a.new-mail').on('click', function (evt) {
        evt.stopPropagation();
        $email = $('#id_email');
        $email.val('');
        $email.parents('.has-error').removeClass('has-error');
        $email.siblings('.help-inline').hide();
        $email.focus();
      })
    });
    $('#id_username').focus();
  </script>
{% endblock %}