{% extends "wizard.html" %}
{% load floppyforms i18n %}

{% block title %}{% translate "My account" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% translate "My account" %} <small>- responsable légal</small>{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal" role="form">
  {% include "profiles/account_form.html" %}

  <div class="form-group">
    <div class="col-sm-12">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary btn-large">{% translate "Save and continue" %} <span class="icon-chevron-right icon-white"></span></button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}

{% block page_footer %}{% endblock %}
