{% extends "backend/base.html" %}
{% load crispy_forms_tags i18n sekizai_tags %}

{% block title %}{% translate "Create a new function" %} - {{ block.super }}{% endblock %}

{% block page_title %}<i class="icon-adult"></i>&nbsp;&nbsp;{% translate "Create a new function" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media.js }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">
 {% crispy form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-large"><i class="icon-plus"></i>&nbsp;{% translate 'Create function' %}</button>
    </div>
  </div>
</form>

{% endblock content %}
