{% extends "contact/contact.html" %}

{% block addresses %}
  <section style="padding-top: 0">
    <h4 itemprop="name">Ville de Vevey</h4>
    <p>
      Service de la famille, de l’éducation et du sport<br>
      Secteur sport
    </p>
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">Rue du Clos 9</span><br />
      <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1800</span> <span itemprop="addressLocality">Vevey</span>
    </address>
    <dl class="dl-horizontal">
      <dt>Téléphone</dt><dd itemprop="telephone"><a href="tel:+41219255355">021 925 53 55</a></dd>
      <dt>Email</dt><dd><a itemprop="email" href="mailto:ssf@vevey.ch">ssf@vevey.ch</a></dd>
    </dl>
  </section>
{% endblock addresses %}
