{% extends "contact/contact.html" %}

{% block addresses %}
    <section style="padding-top: 0">
      <h4 itemprop="name">Sport scolaire facultatif – ES Terre Sainte – Coppet</h4>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Route de Founex 31</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1296</span> <span itemprop="addressLocality">Coppet</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Téléphone</dt><dd itemprop="telephone"><a href="tel:+41225575800">+41 22 557 58 00</a></dd>
        <dt>Email</dt><dd><a itemprop="email" href="mailto:es.coppet@vd.ch">es.coppet@vd.ch</a></dd>
      </dl>

    </section>

   <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable Sport Scolaire Facultatif</h4>
      <p itemprop="name">Nicolas Fritz</p>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Route de Founex 31</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1296</span> <span itemprop="addressLocality">Coppet</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Téléphone (bureau de gym)</dt><dd itemprop="telephone"><a href="tel:+41225575819">+41 22 557 58 19</a></dd>
        <dt>Email</dt><dd><a itemprop="email" href="mailto:nicolas.fritz@edu-vd.ch">nicolas.fritz@edu-vd.ch</a></dd>
      </dl>
    </section>

{% endblock %}

