{% extends "contact/contact.html" %}

{% block addresses %}
    <section style="padding-top: 0">
      <h4 itemprop="name">Sports scolaires facultatifs des villes de Nyon et Prangins</h4>

    </section>

    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h5 itemprop="jobTitle">Responsable régional SSF</h5>
      <p itemprop="name">Delphone Pache</p>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          Collège de Nyon-Marens<br />
          Route du stand 5
        </span>
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1260</span> <span itemprop="addressLocality">Nyon</span><br>

      {% comment %}Tél: <a href="tel:+41797260486">+41 79 726 04 86</a><br>{% endcomment %}
      Email: <a itemprop="email" href="mailto:ssf@nyon.ch">ssf@nyon.ch</a>
      </address>

    </section>
{% endblock %}
