{% extends "backend/base.html" %}
{% load i18n floppyforms sekizai_tags %}

{% block title %}{% trans "Update teacher" %} - {{ block.super }}{% endblock %}
{% block page_title %}<i class="icon-adult"></i>&nbsp;&nbsp;{% trans "Update teacher" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
{{ form.media }}
{% endaddtoblock %}

<form action="" method="post" class="form-horizontal">{% csrf_token %}

  {% include "backend/teacher/form.html" %}
  <div class=" form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <button type="submit" class="btn btn-success ">{% trans 'Update teacher' %}</button>
      &nbsp;
      <a href="{% url 'backend:teacher-list' %}" class="btn  btn-default">{% trans 'Cancel' %}</a>
    </div>
  </div>

</form>
{% endblock content %}