{% extends "contact/contact.html" %}

{% block addresses %}
<section style="padding-top: 0">

  <h4 >Commune de Montreux</h4>

  <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span  itemprop="name">Sport scolaire facultatif</span>
    <span itemprop="streetAddress">Rue du Temple 11</span><br />
    <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1820</span> <span itemprop="addressLocality">Montreux</span>
  </address>
  <p>
    Email: <a itemprop="email" href="mailto:ssf@montreux.ch">ssf@montreux.ch</a><br/>
    Téléphone: <a itemprop="telephone" href="tel:+41219627737">021 962 77 37</a>
  </p>
</section>


{% endblock %}




    </section>

    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable technique (Questions sur les cours)</h4>
      <p itemprop="name"><strong>Marco Moreira</strong></p>

      <dl class="dl-horizontal">
        <dt>Portable</dt>
        <dd itemprop="telephone"><a href="tel:+41766150184">076 615 01 84 </a> <br>(uniquement le lundi, mercredi ou jeudi entre 18h et 19h)</dd>
      </dl>
    </section>
    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable matériel</h4>
       <p itemprop="name"><strong>Bernard Chevalley</strong></p>
      <dl class="dl-horizontal">
        <dt>Téléphone</dt>
        <dd itemprop="telephone"><a href="tel:+41219627950">021 962 79 50</a> <br>(le lundi entre 16h et 18h30 pour fixer un rendez-vous)</dd>
      </dl>
    </section>
{% endblock %}

{% comment %}
{% load i18n floppyforms %}

{% block title %}{% trans "Contact" %}{% endblock title %}
{% block page_title %}{% trans "Contact" %}{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
      {% form form using %}
        {% block formconfig %}{% formconfig row using "floppyforms/rows/bootstrap.html" %}{% endblock %}
        {% formrow form.name %}
        {% formrow form.email %}
        {% formrow form.subject %}
        {% formrow form.message %}
      {% endform %}
      <div class="pull-right">
        <button type="submit" class="btn btn-primary btn-large"><i class="icon icon-envelope-alt"></i>  {% trans "Send message" %}</button>
      </div>
    </form>
  </div>
  <div class="col-md-6" itemscope itemtype="http://schema.org/Organization">

    <section style="padding-top: 0">
      <h4 itemprop="name">Sport scolaire facultatif de Montreux</h4>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Rue du Temple 11</span><br />
        <abbr itemprop="addressCountry" title="Switzerland">CH</abbr>-<span itemprop="postalCode">1820</span> <span itemprop="addressLocality">Montreux</span>
      </address>
      <dl class="dl-horizontal">
        <dt>Email</dt><dd><a itemprop="email" href="mailto:ssf@montreux.ch">ssf@montreux.ch</a></dd>
      </dl>
    </section>

    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable Sport Scolaire Facultatif (Questions administratives)</h4>
      <p itemprop="name"><strong>Fabien Aymon</strong></p>
      <dl class="dl-horizontal">
        <dt>Portable</dt><dd itemprop="telephone"><a href="tel:+41219627737">021 962 77 37</a></dd>
      </dl>
    </section>
    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable technique (Questions sur les cours)</h4>
      <p itemprop="name"><strong>Marco Moreira</strong></p>

      <dl class="dl-horizontal">
        <dt>Portable</dt>
        <dd itemprop="telephone"><a href="tel:+41766150184">076 615 01 84 </a> <br>(uniquement le lundi, mercredi ou jeudi entre 18h et 19h)</dd>

        <dt>En dehors des heures:</dt>
        <dd><a href="mailto:ssf.montreux@gmail.com">ssf.montreux@gmail.com</a></dd>
      </dl>
    </section>
    <section itemprop="member" itemscope itemtype="http://www.schema.org/Person">
      <h4 itemprop="jobTitle">Responsable matériel</h4>
       <p itemprop="name"><strong>Bernard Chevalley</strong></p>
      <dl class="dl-horizontal">
        <dt>Téléphone</dt>
        <dd itemprop="telephone"><a href="tel:+41219627950">021 962 79 50</a> <br>(le lundi entre 16h et 18h30 pour fixer un rendez-vous)</dd>
      </dl>
    </section>

  </div>
</div>
{% endblock %}

{% endcomment %}
