{% load i18n static %}
<footer id="footer">
  <div class="container">
    <div>
      {% include "address.html" %}
      <img src="{{ STATIC_URL }}img/logo-epmonthey-v1light.gif" class="hidden-xs hidden-sm hidden-print" style="width: 260px"/>

      <ul class="footer-links hidden-print">
        <li><a href="{% url 'contact:contact' %}">{% translate "Contact" %}</a></li>
        <li class="muted">·</li>
        <li><a href="{% url 'privacy' %}">{% translate "Privacy" %}</a></li>
      </ul>
      <small class="hidden-print"><a href="https://www.beyondthewall.ch">Développé par Beyond the Wall, Genolier</a></small>
    </div>
  </div>
</footer>
