{% load i18n %}

<section class="portlet">
  <h4 class="portlet-title">
    <u><i class="icon-graduation-cap"></i>&nbsp;&nbsp;{% translate "Activities &amp; courses" %}</u>
  </h4>
  <div class="portlet-body row">
    <div class="col-md-8 col-sm-6">
      <p><strong>{{ nb_courses }}</strong> <a href="{% url 'backend:course-list' %}">{% translate "courses" %}</a> {% translate "in" %} <strong>{{ nb_activities }}</strong> <a href="{% url 'backend:activity-list' %}">{% translate "activities" %}</a>.</p>

      {% widthratio nb_full_courses nb_courses 100|add:"0" as percentage %}
      <div class="progress-stat">
        <div class="progress-stat-label">{% translate "Full courses" %}</div>
        <div class="progress-stat-value">{{ nb_full_courses }} / {{ nb_courses }}</div>
        <div class="progress progress-sm">
          {% with pp=percentage|add:"0" %}
          <div class="progress-bar progress-bar-danger" role="progressbar"
               aria-valuenow="{{ nb_full_courses }}" aria-valuemin="0"
               aria-valuemax="{{ nb_courses }}"
               style="width: {{ percentage }}%">
          </div>
          {% endwith %}
        </div>
      </div>

      {% widthratio nb_minimal_courses nb_courses 100|add:"0" as percentage %}
      <div class="progress-stat">
        <div class="progress-stat-label">{% translate "Minimal participants reached courses" %}</div>
        <div class="progress-stat-value">{{ nb_minimal_courses }} / {{ nb_courses }}</div>
        <div class="progress progress-sm">
          {% with pp=percentage|add:"0" %}
          <div class="progress-bar progress-bar-warning" role="progressbar"
               aria-valuenow="{{ nb_minimal_courses }}" aria-valuemin="0"
               aria-valuemax="{{ nb_courses }}"
               style="width: {{ percentage }}%">
          </div>
          {% endwith %}
        </div>
      </div>

      <p>
        <ul class="list-unstyled">
        <li><a href="{% url 'backend:activity-list' %}"><i class="icon-soccer-ball"></i>&nbsp;{% translate "Manage activities" %}</a></li>
        <li><a href="{% url 'backend:course-list' %}"><i class="icon-graduation-cap"></i>&nbsp;{% translate "Manage courses" %}</a></li>
        <li><a href="{% url 'backend:instructor-list' %}"><i class="icon-user"></i>&nbsp;{% translate "Manage instructors" %}</a></li>
        </ul>
      </p>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="row-stat">
        <p class="row-stat-label">{% translate "Total sessions" %}</p>
        <h3 class="row-stat-value">{{ total_sessions }}</h3>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="row-stat">
        <p class="row-stat-label">{% translate "Total instructors" %}</p>
        <h3 class="row-stat-value">{{ total_instructors }}</h3>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="row-stat">
        <p class="row-stat-label">{% translate "Total teaching time" %}</p>
        <h3 class="row-stat-value">
          {% blocktranslate with hours=total_hours minutes=total_remaining_minutes %}{{ hours }} hrs and {{ minutes }} mins{% endblocktranslate %}</h3>
      </div>
    </div>

    <div class="col-md-12">
        </div>
  </div> <!-- /.portlet-body -->
</section>
