{% load humanize i18n sekizai_tags %}
{% if user.is_full_manager %}
  <section class="portlet">
    <h4 class="portlet-title">
      <u>{% translate "Teachers" %}</u>
    </h4>
    <div class="portlet-body">
      <dl class="dl-horizontal">
        <dt>{% translate "Number of teachers" %}</dt>
        <dd>{{ nb_teachers }}</dd>
        <dt>{% translate "Last update" %}</dt>
        <dd>{{ last_teacher_update|naturaltime }}</dd>
      </dl>
      <div id="pie-chart-teachers" class="chart-holder-250"></div>
      <ul class="list-unstyled">
        <li>
          <a href="{% url 'backend:teacher-list' %}"><i class="icon-adult"></i>&nbsp;{% translate "All teachers" %}</a>
        </li>
        <li>
          <a href="{% url 'backend:teacher-import' %}"><i class="icon-doc-new"></i>&nbsp;{% translate "Import teachers" %}</a>
        </li>
      </ul>
    </div> <!-- /.portlet-body -->
  </section>
{% endif %}

{% addtoblock "js" %}
  <script src="{{ STATIC_URL }}js/vendor/flot/jquery.flot.pie.min.js"></script>
  <script>
    $(function () {
      let data = [
        {% for name, value in teachers_per_year %}
          {label: "{{ name }}", data: {{ value }}}{% if not forloop.last %},{% endif %}
        {% endfor %}
      ];
      let placeholder = $("#pie-chart-teachers");
      if (placeholder.length) {
        $.plot(placeholder, data, {
          series: {
            pie: {
              show: true,
              innerRadius: 0,
              stroke: {width: 2}
            }
          },
          legend: {
            show: false
          },
          tooltip: true,
          tooltipOpts: {
            content: function (label, xval, yval, flotItem) {
              return label + ': ' + yval.toString();
            }
          },
          grid: {
            hoverable: true
          },
          colors: mvpready_core.layoutColors
        });
      }
    });
  </script>
{% endaddtoblock %}
