{% load i18n sekizai_tags %}

<section class="portlet">
  <h4 class="portlet-title">
    <u>{% trans "Validated registrations" %}</u>
  </h4>
  <div class="portlet-body">
    <div id="pie-chart-validated" class="chart-holder-250"></div>
    <ul class="list-unstyled">
      <li><a href="{% url 'backend:user-list' %}"><i class="icon-group"></i>&nbsp;{% trans "List users" %}</a></li>
      <li><a href="{% url 'backend:mail-needconfirmation' %}"><i class="icon-mail"></i>&nbsp;{% trans "Send reminder email" %}</a></li>
    
    </ul>
 </div> <!-- /.portlet-body -->
</section>
   
{% addtoblock  "js" %}    
<script src="{{ STATIC_URL }}js/vendor/flot/jquery.flot.pie.min.js"></script>
<script>
$(function () {
  var data, placeholder;
  data = [
      { label: "{% trans 'Not validated yet' %}", data: {{ waiting }}  },
      { label: "{% trans 'Validated' %}", data:  {{ valid }} }
  ];
  placeholder = $("#pie-chart-validated");
  $.plot(placeholder, data, {
				series: {
					pie: { 
						show: true,
						innerRadius: 0, 
                        stroke: { width: 4 }
					}
				},
				legend: {
					show: false
				},
				tooltip: true,
				tooltipOpts: {
                    content: function(label, xval, yval, flotItem){ return label + ': ' + yval.toString(); }
                },
                grid: {
                    hoverable: true
                },

				colors: mvpready_core.layoutColors
  });
});
</script>
{% endaddtoblock %}
  